<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>妈妈用品清单</string>
		<key>des</key>
		<string>1.开襟外衣2套
 天气热时出汗比较多，要准备棉质、轻薄透气的睡衣；较凉时要准备保暖、开襟外套，方便穿着避免着凉。

2.内裤
带3～4条透气性好的纯棉内裤，因产后有血性分泌物，也就是所说的恶露，很容易弄脏内裤，为保持外阴、阴道清洁，内裤要常换常洗。

3.哺乳衫
 前开襟的衣服，方便妈妈喂奶。
哺乳文胸
全棉无钢架设计，防乳房下垂。
 乳垫
至少准备两对，以便换洗。可以吸收溢出的奶汁。

4.收腹带
如果是剖宫产，为避免伤口疼痛，可以准备一条收腹带，帮助收缩腹部。

5.消毒湿巾
在母乳喂养前后，用不含酒精的消毒湿巾清洁乳房、乳头。

6.产妇专用卫生巾
 对付恶露，卫生巾也是必不可少的，并且要选择产妇专用卫生巾。

7.拖鞋1双
冬天尤其要选择能包住脚后跟的棉拖鞋，防止生产后脚部受凉。

8.靠垫
妈妈靠在上面喂奶，感觉更舒服。

9.盆骨矫正带
盆骨矫正带与一般的束缚带不同，它使用的位置较低，作用是适度对骨盆施加向内的压力，促使它尽快恢复。

10.带转弯的吸管
2根（注：生完孩子无力气喝水只能靠这个东东)。

11.妈妈食品若干
可提前准备好红糖、巧克力等食品。巧克力可用于生产时增加体力，红糖是产后补血之用。

12.马桶垫
 产妇生完孩子这个时候非常容易感染，所以一定要用这个。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝用品清单</string>
		<key>des</key>
		<string>1.尿布
将一些全棉的秋衣秋裤消毒干净，剪成小块儿用作宝宝的小尿布，或选择有质量保证的纸尿裤。

2.抱被
用于保暖；即使是夏天，宝宝睡觉也要遮盖小肚子，避免受凉导致肠道不适。

3.软头勺子
如果没有母乳喂养的禁忌证，只是暂时母乳少，就别用奶瓶喂宝宝，因为奶瓶好吸吮，小孩吃了后就不喜欢费力吸妈妈的奶头了，建议用婴儿专用的软头勺喂宝宝。

4.护臀霜
 防止宝宝尿布湿疹

5.新生儿衣服
小哈衣3件，根据季节来选择衣服厚度;一般不用频繁更换，够住院时替换即可。

6.玻璃奶瓶
应准备两种不同容量的宽口径玻璃奶瓶;无论是母乳喂养还是奶粉喂养都会用得上。

7.奶瓶刷
要彻底清洁奶瓶，不能随便冲洗，可以选择海绵刷头的奶瓶刷，加上奶瓶清洁剂进行涮洗。

8.配方奶粉
 虽然新生宝宝最好是喂母乳，考虑到有些妈妈开奶困难或奶水不足，最好也先准备一罐配方奶粉。

9.婴儿薄荷油
宝宝刚出生不久后，会很容易胀气，婴儿薄荷油是可以给宝宝预防和治疗胀气的，宝宝出生后老是哭闹，这个可以减少哭闹。这个很重要，因为是很常见的（哺乳期的妈妈不能用噢，只能宝宝用，有停乳的功效）。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>日常用品清单</string>
		<key>des</key>
		<string>1.入院证件
双方身份证、产检病历及围产卡、准生证、医保卡、生育保险凭证。

2.手机和充电器
有情况可以随时和家人联系，另外也需要看时间来记录阵痛、宫缩时间。

3.纸笔
可以随时记录阵痛时间及宝宝出生时间、每次大小便时间等，以便于更加科学合理地护理宝宝。

4.银行卡和现金
两者都需要准备，一定要带好现金，买点小东西的时候也方便。事先向医院了解清楚支付方式。

5.相机或摄像机
用于记录宝宝的出生及成长每一个重要过程，这样珍贵的经典时刻不能错过。

6.电饭煲
虽然医院都提供微波炉，但若有个小电饭煲，可以随时做些稀饭或加热汤水，消毒奶瓶和餐具都很方便。</string>
	</dict>
</array>
</plist>
