<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>个人卫生</string>
		<key>des</key>
		<string>传统上认为：产褥期不能洗澡、不能洗头，怕因此受风受凉留下病根。实际上这种认识是不合理的。

1、“月子”里产妇的会阴部分泌物较多，每天应用温开水清洗外阴部。勤换会阴垫并保持会阴部清洁和干燥。恶露会在大约产后4个星期至6个星期干净。

2、一般产后一周可以洗澡、洗头，但必须紧持擦浴，不能洗盆浴，以免洗澡用过的脏水灌入生殖道而引起感染。6周后可以洗淋浴。

3、居室内经常通风，室内温度不可太高，也不可忽高忽低。过去常有将门窗紧闭，不论何时产妇都要盖厚被的说法，这是十分危险的，尤其是在夏季，极易造成产妇中暑。但要注意以下几点：
①坐月子期间要避免身体直接吹到电扇的风。
②开冷气时不要将风口对着产妇，并将室温设定在摄氏25～28度左右是最适宜的。
③坐月子期间衣服若因排汗量过多而湿了，一定要马上换干的衣服；冬天时床边准备睡袍，半夜起来喂奶要立刻穿上，才不会受风寒。

4、产妇“坐月子”期间，进食次数较多，吃的东西也较多，如不注意漱口刷牙，容易使口腔内细菌繁殖，发生口腔疾病。过去，有不少妇女盲目信奉“老规矩”——坐月子里不能刷牙，结果“坐”一次“月子”毁了一口牙。产妇每天应刷牙一两次，可选用软毛牙刷轻柔地刷动。每次吃过东西后，应当用温开水漱漱口。

只要体力允许产后第2天就应该开始刷牙，最好不超过3天。需要注意以下几点：
①在孕期注意摄取钙营养，保持口腔卫生，避免使牙齿受到损害。
②产妇身体较虚弱，正处于调整中，对寒冷刺激较敏感。因此，切记要用温水刷牙，并在刷牙前最好先将牙刷用温水泡软，以防冷刺激对牙齿及齿龈刺激过大。
③每天早晚和睡前各刷一遍，如果有吃夜宵的习惯，吃完宵夜后再刷一遍。
④可在产后的3天采用指漱，即把食指洗净或在食指上缠上纱布，把牙膏挤于手指上并充当刷头，在牙齿上来回、上下擦拭，再用手指按压齿龈数遍。这种方法可活血通络，坚固牙齿，避免牙齿松动。

5、至于剪指甲、趾甲也可以照常进行，指甲是角化了上皮，根本不存在“剪刀风”的问题。

6、哺乳前应用温开水清洗乳头，切忌使用肥皂、酒精、洗涤剂等，以免除去保护乳头和乳晕皮肤的天然薄膜，造成乳头皲裂，影响哺乳。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>刚生完BB的注意事项</string>
		<key>des</key>
		<string>1、分娩后数小时不要吃整个的鸡蛋。虽然我国一直有吃鸡蛋下奶的习惯，但医学研究表明，分娩后数小时内产妇最好不要吃整个的鸡蛋。因为在分娩过程中产妇体力消耗较大，出汗多，体液不足，消化能力也会下降。若分娩后立即吃鸡蛋就很难消化，这会增加胃肠负担。因此在分娩后数小时内，应吃半流质或流质食物。

2、产后应喝蔬菜汤。很多妈妈产后马上喝全汤催奶，导致乳腺导管堵塞，乳房胀痛加剧，不利于下奶。产后进补要根据身体状况，多数妈妈并不缺乏营养，最好先喝些清淡的蔬菜汤，5天以后再喝全汤。

推荐：原味蔬菜汤。将各类蔬菜主要是根茎花果不加任何调料煮汤，味道清香，可以当茶喝，在产后当天（剖腹产次日）即喝有极佳发奶作用。

原料：黄豆芽、西兰花、菜椒（青椒、黄椒、红椒均可）、紫甘蓝、丝瓜、毛豆、西葫芦，每次选择4种以上即可。

制作：把各种蔬菜放入锅内，加入适量清水，煮烂后取汤水饮用。

注意！喝原味蔬菜汤的同时喝猪蹄汤、鲫鱼汤、鸡汤等会影响发奶效果。

另外，产后最初几天，产妇几乎都有便秘的困扰。这是由于肠道和腹部肌肉松弛的缘故。所以，顺产的产妇从分娩当天就可多补充液体和吃些青菜水果来加以改善。

误区：传统说产妇坐月不能吃青菜，否则BB拉肚子。

解释：老人们担心的拉肚子问题，很多时候指的是婴儿的大便呈绿色。婴儿偶尔会有墨绿色大便是因为食物残渣经胆汁消化，而胆汁是黄色并使大便成为酸性，排出后与空气接触，偶尔会变成绿色。一般喂母乳的大便容易偏向酸性，有可能成为绿便排出。另外，有些吃配方奶的孩子，排出的粪便呈暗绿色，其原因是一般配方奶中都加入了一定量的铁质，这些铁质经过消化道，并与空气接触之后，就呈现为暗绿色。

还有：（1）未吃饱的婴儿也可能拉绿色的稀大便，属于饥饿性腹泻。（2）妈妈吃得太油腻，婴儿也会消化不良，拉绿色大便。因此妈妈的饮食要均衡。

母乳喂养婴儿，粪便一般呈黄色或金黄色，稠度均匀如药膏状，或有种样的颗粒，偶尔稀薄而微呈绿色，呈酸性反应，有酸味但不臭。只要BB的粪便符合上面所说的，并且无其他异常状况，就不用过于担心。因此BB某次绿色大便并不是妈妈吃了青菜，BB消化不良。

3、产后三天内可以喝清淡鱼粥。

产妇在生产完的三天内最好吃流质或半流质的食物。古代医家的建议是吃小鱼粥，为了通便可以另加一盘清爽可口的炒青菜；另外，小米粥、大米粥、鸡蛋汤、挂面也是好的选择。二三天后，胃口渐增，才开始进食其他滋补品。但胃口差时不要吃得太油腻，根据个人身体状况，早晚可喝热牛奶，每天吃1—2个蛋，然后慢慢再酌加鸡、鱼、虾、肉等，蔬菜与肉类要平均分配，均衡补充铁质、钙质、蛋白质等营养素和纤维，除了恢复体力外亦有助于乳汁的分泌。注意！产后的一周内忌食牛奶、豆浆、大量蔗糖等胀气食品。

4、什么时候能活动：产后8小时可以在床上坐一会儿。如分娩顺利，产后12小时可以下床、上厕所。产后24小时可以随意活动，但要避免长时间站立、久蹲或做重活，以防子宫脱垂。

5、记得及早给BB吮吸乳头：分娩后半小时内让婴儿吸吮乳头，这样可尽早建立催乳和排乳反射，促进乳汁分泌。同时，还有利于子宫收缩。第一次哺乳时间以5-10分钟为宜。产后第一天可以每1～3小时哺乳一次，哺乳的时间和频率自由掌握。产后第一天，产妇身体虚弱、伤口疼痛，可选用侧卧位学习喂奶。多数产妇分娩后头两天都还没下奶，此时不用担心自己是否有奶水，只要身体健康，每个妈妈都有足够的奶水。即使奶没下来，妈妈也要坚持让BB多吮吸，因为吮吸有利于乳汁分泌。

6、4－6小时产妇要排尿：自然分娩的产妇，在分娩后4小时即可排尿。少数产妇排尿困难，发生尿潴留，其原因可能与膀胱长期受压及会阴部疼痛反射有关，应鼓励产妇尽量起床解小便，实在有困难也可请医生想办法，如仍不能排尿，应进行导尿。

7、随时留意自己的情况：产后24小时内若感到会阴部，或肛门有下坠不适感、疼痛感，应请医生诊治，以防感染和血肿发生。恶露会发出新鲜的血腥味，但如果发出恶臭，应立即告知医生，因为这表示可能感染了。另外，最好在恶露排出期间使用卫生棉或产妇卫生巾。

8、除了家人，亲戚朋友不要过早探望产妇和婴儿：由于刚分娩后的产妇需要静养以恢复体力，亲友最好不要在此时来探望。若来探望，时间也不宜超过半小时，要给产妇尽量多的时间休息。有慢性病或感冒的亲友更是最好不要来探视产妇及新生儿，以免引起交叉感染。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>产后运动</string>
		<key>des</key>
		<string>分娩后的产妇内分泌发生了变化，全身肌肉、肌腱的弹性和力量下降，关节囊和关节附近的韧带张力减弱，使关节变得松弛，在此状态下，如果产妇过早过多地从事家务劳动或过多地抱小孩，会加重关节、肌腱和韧带的负担，容易使手腕、手指关节等部位发生劳损性疼痛。

产妇应避免劳动，但是可以适量进行少量运动。一般来说，产后14天就可以开始进行简单的腹肌收缩、仰卧起坐等运动，但要视情况，不能勉强，不能过于剧烈。喜欢有氧舞蹈的妈妈，则要等上6周才可以重新开始。总之，产后运动要持之以恒。

产后一段时间不能做较粗重的活儿,如：洗衣、提水、抬重物等，否则会患子宫脱垂。

另外，如果在家中，恶露突然又转为鲜红色时，意味着胎盘原占据的部位未能妥善愈合，可能是因为您过度疲劳所致，应将此现象告知医师。医师可能会建议休息几天，以放松心情。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>下奶秘诀</string>
		<key>des</key>
		<string>1、自信是成功的基石：妈妈对自己能够胜任母乳喂养工作的自信心将是母乳喂养成功的基本保证。不论女性乳房的形状、大小如何，都能制造出足够的奶水，从而带给宝宝丰富的营养。

2、注意“食”效：新手妈咪应当保持每日喝牛奶的良好习惯（不要分娩后马上喝，否则容易胃涨，感觉肠胃好了才开始），多吃新鲜蔬菜水果。总之吃得“好”不是所谓的大补，太多的传统的猪蹄、鸡汤、鲫鱼汤中的高脂肪不仅会堵塞乳腺管，不利母乳分泌，还会让妈咪发胖，所以主要是吃得对，既能让自己奶量充足、又能修复元气且营养均衡不发胖，这才是新手妈咪希望达到的月子“食”效。

3、两边的乳房都要喂：如果一次只喂一边，乳房受的刺激减少，自然泌乳也少。每次喂奶两边的乳房都要让宝宝吮吸到。有些宝宝食量比较小，吃一只乳房的奶就够了，这时不妨先用吸奶器把前部分比较稀薄的奶水吸掉，让宝宝吃到比较浓稠、更富营养的奶水。

4、多多吮吸：妈妈的奶水越少，越要增加宝宝吮吸的次数；由于宝宝吮吸的力量较大，正好可借助宝宝的嘴巴来按摩乳晕。喂得越多，奶水分泌得就越多。

5、吸空乳房：妈妈要多与宝宝的肌肤接触，孩子对乳头的吸吮是母乳分泌的量佳刺激。每次哺乳后要让宝宝充分吸空乳房，这有利于乳汁的再产生。

6、保持好心情：母乳是否充足与新妈妈的心理因素及情绪情感关系极为密切。所以，妈妈在任何情况下都要不急不躁，以平和、愉快的心态面对生活中的一切。

7、补充水分：哺乳妈妈常会在喂奶时感到口渴，这是正常的现象。妈妈在喂奶时要注意补充水分，或是多喝豆浆、杏仁粉茶（此方为国际母乳会推荐）、果汁、原味蔬菜汤等。水分补充适度即可，这样乳汁的供给才会既充足又富营养。

8、充分休息，不能太累：夜里因为要起身喂奶好几次，晚上睡不好觉。睡眠不足当然会使奶水量减少。哺乳妈妈要注意抓紧时间休息，白天可以让丈夫或者家人帮忙照看一下宝宝，自己抓紧时间睡个午觉。还要学会如何在晚间喂奶的同时不影响自己的睡眠。每天争取能有10小时的睡眠，睡时要采取侧卧位，利于子宫复原。不能太累。带孩子是很辛苦的。如果你需要人帮忙，千万要向亲戚朋友开口（主要是父母和公婆）。

9、按摩热敷刺激
按摩乳房能刺激乳房分泌乳汁，妈妈用干净的毛巾蘸些温开水，由乳头中心往乳晕方向成环形擦拭，两侧轮流热敷，每侧各15分钟，同时还可配合下列按摩方式：
环形按摩双手置于乳房的上、下方，以环形方向按摩整个乳房
螺旋形按摩一手托住乳房，另一手食指和中指以螺旋形向乳头方向按摩。
指压式按摩双手张开置于乳房两侧，由乳房向乳头挤压。

10、避免乳头受伤
如果妈妈的乳头受伤、破皮、皲裂或流血并导致发炎时，就会影响乳汁分泌。为避免乳头受伤，建议妈妈们采用正确的喂奶姿势，控制好单侧的吮吸时间，否则很容易反复受伤。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>产后合理膳食</string>
		<key>des</key>
		<string>进补不等于大吃二喝大鱼大肉，调理得当、合理膳食非常重要。科学的数据表明，产后应少食多餐，菜谱要考虑营养的均衡，尽量不挑食。主食要比怀孕晚期增加一些，还要多吃蛋白质和蔬菜。饮食搭配要均衡，切勿太油腻，否则孩子会得脂肪泻，大便呈泡沫状。

“坐月子”往往只注重第一个月的营养，出了月子也即从第二个月起开始忽视妈妈的营养，导致母乳质量明显下降，不利于宝宝生长。因此，应注重在整个哺乳期的科学合理膳食，应该持续均衡地摄取各种营养，这样才能为宝宝提供营养充分的母乳。

产妇吃蔬菜水果，要注意以下几点：

1．产妇胃肠功能较虚弱，应从少量开始吃。

2．产妇的胃肠对冷刺激很敏感，不要吃过凉的蔬菜和水果。如果过凉容易导致胃肠淤血，影响消化功能。

3．产妇的胃肠抵抗力弱，一定要注意食物是否清洁卫生。

少吃盐和调味料：一般说来，怀孕全过程所增加的体重约12千克，婴儿连同胎盘的重量约5.5千克，还有6.5千克，其中水分就占60%以上。换言之，因怀孕的各种因素而产生的水分，必须在妈妈分娩后慢慢地排出。因此，若是在坐月子期间，吃的食物太咸或含有酱油、醋、番茄酱等调味品，或是食用腌渍食品、罐头食品等，都会使身体内的水分滞留，不易排出。因此产后的一周少吃盐和调味料，能达到“利水消肿”的目的。另一方面，妇在这段期间容易流很多汗，而电解质的补充还是需要盐，此外，产妇胃口已经很不好了，完全不用盐也不太可能，所以坐月子时盐还是可以用，但一定要比平时再更少一些。

各种食物的作用以及营养：
黄豆芽：黄豆芽中含有大量蛋白质、维生素c、纤维素等，蛋白质是生长组织细胞的主要原料，能修复生孩子时损伤的组织，维生素c能增加血管壁的弹性和韧性，防止产生出血，纤维素能通肠润便，防止产妇发生便秘。烹调方式多用煮和炖，少用油炸。

海带：预防贫血。海带中含碘和铁较多，碘是制造甲状腺素的主要原料，铁是制造血细胞的主要原料，产妇多吃这种蔬菜，能增加乳汁中的含量。新生儿吃了这种乳汁，有利于身体的生长发育，防止因此引起的呆小症。铁是制造红细胞的主要原料，有预防贫血的作用。

芝麻：芝麻中富含蛋白质、脂肪、钙、铁、维生素E等多种营养素，是新妈咪产后十分需要的营养，可提高和改善饮食的营养质量。贴心小叮咛：最好选择黑色食品——黑芝麻，它的营养价值要比白芝麻更高一些。

红萝卜：含丰富的维他命A、B、C，是产妇的最佳菜肴之一

黑豆含有丰富的植物性蛋白质及维他命A、B、C，对脚气浮肿、腹部和身体肌肉松弛者也有改善功效

蛋白质的来源：牛肉、鱼、虾、鸡蛋、动物内脏、豆制品等

钙的来源：牛奶、蛋类、贝壳类、豆制品、炖骨汤

铁的来源：肝、心、蛋黄、牛肉、鲤鱼、虾、绿色蔬菜、香菇、黑木耳等\n　　维生素的来源：糙米、小米、玉米、黑米、豆类、蔬菜、水果

宜食食物包括：黑米、紫米、甲鱼、猪肉、羊肉、牛肉、猪肝、羊肝、猪血、乌鸡、鲳鱼、黄鱼、章鱼、鳗鱼、鳝鱼、乌贼、海参、带鱼、黑木耳、黄花菜、菠菜、小白菜、苋菜、油菜、柿子椒、胡萝卜、番茄、藕、红枣、松子、桑葚、莲子、龙眼肉、花生、葡萄等。

鸡汤、猪蹄汤要适量：很多人都认为分娩时出血多，应当多吃一些鸡汤、猪蹄汤等滋补汤。殊不知，如果天天吃、顿顿吃，就会引起腹胀、腹泻等症状。产后第一周的食谱应多以清淡为主，比如鸡蛋汤、鱼汤等。鱼汤营养很丰富，但要先去掉上层的油，汤不要过咸。产后5—7天应以米粥、软饭、碎面等为主食，不要吃过多油腻的东西。

不能过于频繁喝人参汤

从中医角度看，分娩时的创伤与出血，加上产程中的力气消耗，会使产妇在生产后处于“多虚多淤”的状态。但这一般无需刻意治疗，即便治疗，也必须针对特点，服用补虚化淤的处方。而人参的补气效果在中药中是最强的，只能在气虚症状较重时才可以考虑使用。过多饮用，可能会出现胸憋、入睡困难等症状。

喝肉汤不必连续不断地持续一个月

一般，产妇每天2～3个鸡蛋，配合适当的瘦肉、鱼肉、蔬菜水果也就够了。奶水充足的不必额外喝大量肉汤，奶水不足可以喝一些肉汤，但也不必持续一个月。摄入脂肪过多，不仅体形不好恢复，而且会导致孩子腹泻，这是因为奶水中也会含有大量脂肪颗粒，宝宝吃后难以吸收。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>坐月食物禁忌</string>
		<key>des</key>
		<string>偏冷性的果菜最好避免（特好是分娩后7～10天内的产妇），如冬瓜、椰子水、杨桃汁、西瓜（但夏天可以吃少量）、梨子（鸭梨）、山楂、柠檬、大白菜、橘子、桔子、柿子、草莓、芒果、腌黄瓜、哈密瓜、竹笋、白萝卜、茄子、韭菜、大蒜，少吃苦瓜、枸杞菜、芹菜寒凉的菜肴。同时，在夏季坐月子时可吃些适宜消暑的饮食，产妇出汗多、口渴时，可以食用西红柿，也可吃适量的西瓜和水果消暑，不用盲目忌口，以避免产褥中暑。蔬果的重要性：产妇分娩后代谢旺盛，出汗量和尿量增多，若不能及时补充水果、蔬菜，易引起便秘。特别是在炎热的夏天，产妇更应适当地吃些蔬果，以防中暑。

例外：桔子最好避免，但桔核、桔络(桔子瓣上的白丝)有通乳作用。产妇乳腺不通，可食用之。

下列几类食品应避免食用：
① 刺激性饮料，如浓茶、咖啡，会影响睡眠及肠胃功能，亦对新生儿不利；
② 酸涩收敛食品，如乌梅、山楂、柠檬、橘、柑等，以免阻滞血行，不利于恶露排出；
③ 过咸食品，过多的盐分会导致浮肿；
④ 麦乳精，麦乳精是以麦芽为原料生产的，含有麦芽糖和麦芽酚，而麦芽对回奶十分有效，会影响乳汁的分泌；
⑤ 忌食草豆蔻、荷叶、薄荷、菊花、生萝卜等。

下列中药在产后一到两周不宜服用：

1.补益中药：人参、党参、黄芪等
在刚生产后，不宜服用太过补益作用的中药，如人参。人参含有多种有效成分，如作用于中枢神经及心脏血管的”人参辛甙”，降低血糖的”人参宁”以及作用于内分泌系统的配糖体等。这些成分能对人体产生兴奋作用。如果新妈妈服用了人参，人参对人体中枢神经的兴奋作用就可导致服用者出现失眠、烦躁、心神不安等不良反应。刚刚经历分娩的新妈妈，体力消耗很大，非常需要卧床休息，如果此时服用人参，反而因兴奋难以安睡，影响精力的恢复，所以新妈妈急于用人参补身子是有害无益的。

2.活血中药：红花、丹参、牛膝、乳香、没药等
在分娩过程中，内、外生殖器的血管多有损伤，服用活血作用强的药物，有可能影响受损血管的自行愈合，造成流血不止，甚至大出血。同时太过补益作用的药物，就如人参，服用过多易促进血液循环，加速血液的流动，不利于新妈妈身体恢复。因此，在生完孩子的1个星期之内，最好不要用活血作用强的药物。可用一些柔和的活血药，利于子宫收缩，帮助排出产后宫腔内淤血，促使子宫早日复原。当归、益母草都是比较柔和的补血活血药。

3.温热中药：附子、肉苁蓉、肉桂（可引起子宫充血，显示通经作用）、干姜、半夏等
一些温性药物，可以益气养血、健脾暖胃、驱散风寒，很适宜新妈妈服用。但太过热性的药物，则会伤害新妈妈的身体。因为辛辣温燥药物可助内热，而使新妈妈上火，出现口舌生疮、大便秘结或痔疮等症状。而且母体内热可通过乳汁影响到婴儿，使婴儿内热加重。同时太过温热的药物容易使新妈妈出汗增加，耗损新妈妈的身体。

4.寒凉泻下药：大黄、牛黄、芒硝、番泻叶等
过于寒凉泻下的药物不利于身体虚弱的新妈妈，所以产后一定要慎用此类中药。

5.滋腻中药：熟地等
太过滋腻的药物会影响新妈妈的脾胃功能，因此为了保障消化系统的正常工作，新妈妈应避开滋腻的中药。

哺乳期间不能经常吃巧克力：巧克力中所含的可可碱会进入母乳，并通过哺乳进入宝贝的体内，损害宝贝的神经系统和心脏，导致消化不良、睡眠不稳、哭闹不停等。另外，常吃巧克力会影响产妇的食欲，造成身体所需的营养供给不足。这样，不仅影响产妇的身体康复，还会影响宝贝的生长发育。

不能经常喝茶：多进汤汁固然可增加乳汁分泌，但茶叶中含有的鞣酸会影响肠道对铁的吸收，容易引起产后贫血。而且，茶水中还含有咖啡因，产妇饮用茶水后不仅难以入睡，影响体力恢复，咖啡因还可通过乳汁进入宝贝的身体内，导致发生肠痉挛或突然无故地啼哭。

不能只吃母鸡不吃公鸡：分娩后体内的雌、孕激素水平降低，有利于乳汁形成。但母鸡的卵巢和蛋衣中却含有一定量雌激素，会减弱催乳素的功效，从而影响乳汁分泌。而公鸡含有雄激素，可以对抗雌激素。把大公鸡清炖会促使乳汁分泌，而且公鸡的脂肪较少，产妇吃了不容易发胖，有助于哺乳期保持较好的身材，也不容易引起宝贝发生腹泻。

不能完全不吃盐：有些产妇以为在产后最初几天里吃盐会伤胃，不利于身体恢复，她们甚至一点盐也不放，其实这样做只会适得其反。因为，产妇在月子里出汗较多，乳腺分泌也很旺盛，体内容易发生缺水。如果不吃盐只会加重身体脱水，不利于体力尽快恢复。因此，应该在菜里适量加盐。\n　　不能不限量地喝汤：汤饮味道鲜美，如鲤鱼汤、蛋花汤等，不仅容易消化吸收，还可促进乳汁分泌。因此，每个产妇在月子里都少不了喝汤。但喝汤也是有学问的，不可为了增加乳汁分泌就无限制地喝，否则容易引起乳房胀痛，处理不恰当就会引起乳腺炎。

恶露干净后，烹调时可以不用加酒。

酒的作用是活血，对于刚刚分娩后的产妇烹调时加些料酒可以帮助排出恶露。但如果恶露已经排干净，仍然用酒烹调食物就不适宜了，特别是在夏天。因为酒有可能导致子宫收缩不良，恶露淋沥不尽。

妈咪特别注意不能混吃的食物

海鲜与啤酒（有人喝啤酒能增加母乳分泌，有的不行）：海鲜是一种含有嘌呤和苷酸两种成分的食物，而啤酒中则富含分解这两种成分的重要催化剂——维生素B1。如果吃海鲜时饮啤酒，会促使有害物质在体内的结合，增加人体血液中的尿酸含量，从而形成难排的尿路结石。

鸡蛋与豆浆降低蛋白质吸收：生豆浆中含有胰蛋白酶抑制物，它能抑制人体蛋白酶的活性，影响蛋白质在人体内的消化和吸收，鸡蛋的蛋清里含有黏性蛋白，可以同豆浆中的胰蛋白酶结合，使蛋白质的分解受到阻碍，从而降低人体对蛋白质的吸收率。

牛奶与巧克力易发生腹泻：牛奶含丰富的蛋白质和钙，巧克力则含草酸，若二者混在一起吃，牛奶中的钙会与巧克力中的草酸结合成一种不溶于水的草酸钙，食用后不但不吸收，还会发生腹泻、头发干枯等症状，影响生长发育。

土豆不宜烧牛肉：马铃薯烧牛肉，由于这两种食物消化时所需胃酸浓度不同，会延长食物在胃中的滞留时间，而拉长胃肠消化吸收的时间，造成胃肠的不适。

菠菜与豆腐易患结石症：豆腐里含有氯化镁、硫酸钙这两种物质，而菠菜中则含有草酸，两种食物遇到一起可生成草酸镁和草酸钙。这两种白色的沉淀物不能被人体吸收，不仅影响人体吸收钙质，而且还容易患结石症。医生建议，如果两者能分开吃，营养吸收会比较好。

萝卜与橘子（坐月最好不要吃橘子）易诱发甲状腺肿大：萝卜会产生一种抗甲状腺的物质硫氰酸，如果同时食用大量的橘子、苹果、葡萄等水果，水果中的类黄酮物质在肠道经细菌分解后就会转化为抑制甲状腺作用的硫氰酸，进而诱发甲状腺肿大。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他注意事项</string>
		<key>des</key>
		<string>喂奶感觉腹痛是正常的生理反应
母乳喂养可促进母亲的子宫恢复，喂奶时腹痛是子宫收缩的表现。每当子宫收缩时，子宫肌暂时缺血，小肚子一阵阵发紧，发硬，并伴随着恶露排出。因此，喂奶时腹痛是正常的。

用正确的方法停止哺乳。
一般情况下，应等到婴儿自己松开乳头后，方可拔出。如果妈妈因某种原因想中止哺乳，应先将手指放进婴儿口中，使其停止吸吮，然后拔出乳头。

月子里易患腰痛、关节痛
产妇经过怀孕及分娩，内分泌发生变化，使骨关节，韧带松驰，钙质缺乏，容易引起腰疼，关节疼。因此，产后应加强适当的锻炼，注意补钙，不要过度劳累，腰腿痛经过一段时间可以自愈。

丈夫要理解产后情绪焦虑妻子，保持愉快的家庭环境：分娩后的产妇常常会焦虑、烦躁，甚至对于家人也可能有过份的语言和行为，严重者可成为产后抑郁征。这种状态大约有50%甚至以上的产妇都可出现。为此，丈夫们和家里的妈妈婆婆可能认为产妇实在娇气、事儿多，这么多人伺候着，还不满意，因此生气，不理解，有家庭矛盾从此产生。其实这种反常行为是由于身体激素变化的结果，并不是娇气所造成。因此对产妇应该理解，格外体贴，以维护产妇正常良好的情绪，保持欢乐的气氛，这也是为孩子创造一个良好家庭环境的重要条件。

月子里冷水确实不能碰：新妈妈全身的骨骼松驰，如果冷风、冷水侵袭到骨头，就可能落下“月子病”。月子里冷水确实不能碰，即使在夏天，洗东西都仍然要打开热水器用温水。另外，开冰箱这样的事情，也请家人代劳。

坐月期间，家里最好不要接受亲朋好友的来访：最好不要接受亲朋好友的来访，通电话是最理想的接爱祝贺的方式。因为新妈妈需要充足的休息，过多的接待客人，使新妈妈很劳累。与客人讲分娩经历、接受祝福、听别人夸奖宝宝……都会使新妈妈很兴奋，造成睡眠障碍。人来人往，也容易带来病菌特别在流性疾病爆发的时候，这会对新妈妈和新生宝宝的健康构成很大的威胁。如果是推辞不掉的造访，也要限定人数，一次最后只接待1～2位，客人来访的时候应该错开新妈妈白天小睡的时段。要求客人进门就脱去外套，抱宝宝之前一定要洗手，不要随便亲宝宝。

月子里不要在家里大宴宾客，可会扰乱新妈妈和新生宝宝的正常作息。如果家人需要请客吃饭，可以选择在饭店设宴，不需要新妈妈出席。

产后忌用力挤压乳房，忌用手乱揉乳房</string>
	</dict>
</array>
</plist>
