<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>des</key>
		<string>1.环境通风，电器莫扎堆
在密集式的办公楼和通风性差的环境里，加剧了潜在的辐射威胁，对胎儿的发育会有不良影响。准妈妈每工作1―2个小时，都应起身到窗边透透气。

2.孕早期减少接触辐射的时间
目前尚未有足够证据证明电脑辐射对胎儿的发育有影响，但为了安全起见，建议在孕早期尽量少接触有电磁辐射的电器。

3.不要过度依赖防辐射工具
防辐射产品只有辅助的功效，并不是万能的，防范的根本需要准妈妈在日常生活中加以注意。准妈妈可不能过度依赖于防辐射工具哦。</string>
		<key>title</key>
		<string>孕期防辐射注意事项</string>
	</dict>
	<dict>
		<key>des</key>
		<string>在日常生活中，每个食材都有其自身的营养价值，但一旦不新鲜、发芽、未煮熟，或是采用非常规手段催熟后，就可能会产生毒素，危害到身体健康。孕妇做为特殊群体，如果不小心食用到这些食物，其轻则可能会影响准妈妈的肠胃健康，重则可能会威胁母婴安全。因此，了解孕期不能吃哪些食物十分重要。

孕妇不能吃的食物：

1.生豆类：四季豆、扁豆、红腰豆、白腰豆等豆类，在生鲜或者加热不彻底的情况下会引起中毒。

2.生豆浆：生大豆中含有有毒成分，如果食用未煮熟的豆浆未，可引起食物中毒。

3.木薯：木薯的根、茎、叶都含有毒物质，如果食用生的或未煮熟的木薯或喝其汤，可引起中毒，其毒素可导致神经麻痹疾病，甚至会引起永久性瘫痪。

4.发芽马铃薯：马铃薯发芽部位的毒素——龙葵素，比其肉质部分高几十倍至几百倍，一旦误食，轻度意识障碍、呼吸困难，重症者可因心脏衰竭、呼吸中枢麻痹致死。

5.鲜黄花菜：黄花菜中含有秋水仙碱，这种毒素可引起嗓子发干、胃部烧灼感、血尿等中毒症状。食用前需要先将黄花菜煮熟、煮透后过开水烫一下，再烹调食用。

6.青西红柿：青西红柿含有毒物质龙葵素，食用这种还未成熟的青色西红柿，口腔有苦涩感，吃后可出现恶心、呕吐等中毒症状，生吃危险性更大。

7.腐烂的生姜：腐烂后的生姜产生一种毒性很强的黄樟素。人吃了这种毒素，即使量很少，也能引起肝细胞中毒和变性。

8.生竹笋：新鲜竹笋含有天然毒素氰甙，吃了生的或没有煮透的竹笋，也可能引起食物中毒。

如果孕妇对某种很想吃的食物犹豫不决，不妨咨询医生，请专科医生根据自身状况来判断能否食用这种食物以及食用的频率。需要说明的是，有些食物如由于其效用等原因，部分孕妇并不适宜过多食用。比如说螃蟹、薏米等。如果身体健康的孕妇的在孕期进食了少量以下食物，也不用过于担心，一般并无大碍。

孕期需慎吃的食物

1.芦荟：中国食品科学技术学会提供的资料显示，怀孕中的妇女若过量饮用芦荟汁，容易引起腹痛、呕吐、便血，甚至导致流产。

2.螃蟹：螃蟹味道鲜美，但其性寒凉，有活血祛瘀之功，故对孕妇有不利影响，应慎吃。

3.薏米：中医认为薏米质滑利，且对子宫平滑肌有兴奋作用，可促使子宫收缩、具有诱发流产的可能性，故应慎吃。

4.马齿苋：马齿苋药性寒凉而滑利，对于子宫有明显的兴奋作用，能使子宫收缩次数增多、强度增大，易造成流产，故应慎吃。

5.杏子及杏仁：由于妊娠胎气胎热较重，故产前一般应吃清淡食物，而杏子的热性，一次食杏过多，还能引起上火，故孕妇应慎吃。

6.甲鱼：由于甲鱼性味咸寒，有较强的通血络、散瘀块的功效，因此具有一定堕胎之弊，故孕妇应慎吃。

7.辣椒：适量吃辣椒对人摄取全面的营养成分有好处。但过量进食辣椒会刺激肠胃、引起便秘、加快血流量等。如果属于前置胎盘的情况则应绝对禁止食用。

8.花椒、八角、桂皮、五香粉：这些属于热性调味品，易消耗肠道水分，使肠道分泌液减少而造成肠道干燥和便秘，孕妇应尽量少吃或不吃。</string>
		<key>title</key>
		<string>孕期饮食注意事项</string>
	</dict>
	<dict>
		<key>des</key>
		<string>孕期有益水果
石榴:    降低胎儿大脑受损几率、缓解孕吐、改善情绪、预防贫血。
香蕉:    每天吃一只可补充叶酸、保证胎儿神经发育、改善情绪。
草莓:	促进食欲、预防贫血、防止牙龈出血、有益胎儿发育。
猕猴桃:    补充叶酸、预防黄褐斑；防止胎儿缺陷、有助大脑发育。
樱桃:    补充营养和铁，缓解贫血，增强体质，有益宝宝大脑发育。
葡萄:    葡萄可安胎，多吃有益胎儿发育、改善宝宝偏黑的肤色。
火龙果:    缓解便秘、保护肠胃、护肤美白、对高血压孕妇特别有益。
橙子:    缓解便秘孕吐、治疗感冒、预防妊娠高血压，有益胎儿。
梨:    治疗妊娠水肿和高血压，镇静安神，润肺护嗓，养心保肝。
苹果:    缓解孕吐便秘、护肤修身、改善胎儿肤色。

孕期水果禁忌
	杏：1.杏有滑胎作用，且对牙齿不好。2.吃杏过多会引起上火、拉肚子。3.吃杏过多极易长疮生疖，引起胃病。
	提醒：孕妇不要吃杏仁，尤其是苦杏仁，其中的有害物质可能会透过胎盘影响胎儿。	

	桃子：1.多吃会加重燥热，造成胎动不安，引起流产。2.桃子吃多了会加重孕妇便秘症状。3.桃子多吃会加重胃肠道负担，引起腹痛、腹泻。
	提醒：桃仁可能导致中毒、流产等情况，孕妇不要吃桃仁。

	桂圆：1.桂圆容易上火，会增添胎热。2.容易引起胃气上逆、呕吐。3.多吃伤阴，引起腹痛、见红，甚至流产早产。
	提醒：孕妇“胎前宜凉”，所以不宜吃热性的东西，比如桂圆。

	李子：1.李子吃多了会伤脾胃，还会腐蚀牙齿。2.多吃会使人生痰，甚至发虚热，头昏脑胀。3.吃李子要当心过敏。
提醒：未熟透的李子千万不能吃，吃李子一定要适量，吃前清洗干净。

	木瓜：1.孕妇吃青木瓜可能导致流产。2.体寒孕妇吃木瓜容易腹泻。3.过敏体质的孕妇不能吃木瓜。
	提醒：木瓜虽好，但是可能对孕妇有害。熟木瓜可少量吃，青木瓜一定不能吃。

	榴莲：1.会导致血糖升高，生产巨大儿的几率增加。2.孕妇吃榴莲会加重便秘。3.会引发胎热，损害胎儿健康。
	提醒：最好不要吃榴莲，如果实在爱吃，一天一小瓣为宜。体热孕妇忌吃。

	山楂：1.山楂可促使子宫收缩，导致流产。2.有流产史或先兆流产症的孕妇一定要禁吃。3.喜欢吃酸的孕妇可用樱桃、苹果、石榴等代替。
	提醒：无论孕早期还是孕晚期，都不要吃山楂，包括其他山楂制品。</string>
		<key>title</key>
		<string>孕期水果注意事项</string>
	</dict>
	<dict>
		<key>des</key>
		<string>用药原则

1.孕妇不要随便使用非处方药，一切用药都应在医生指导下进行。

2.治疗时用药应选择对胚胎、胎儿危害小的药物。

3. 药物使用时应以最少有效剂量、最短有效疗程，避免盲目大剂量、长时间使用，避免联合用药。

4.非病情必需，尽量避免在妊娠早期用药。

5.药物在母体血清中浓度与经胎盘至胎儿的量是有关的。如可以局部用药有效的，即避免全身用药。

6.用药前应详细阅读《药物说明书》，尽量不用“孕产妇慎用”的药和“孕产妇禁忌”药。

7.如母亲的疾病使胎儿染病时，应选用安全的药物，胎儿、羊水的药物浓度与母体的药物浓度相接近的药物，母子同治。

8. 应使用多年广泛应用于孕妇的药物，尽量避免使用尚难确定对胚胎、胎儿、新生儿有无不良影响的药物，仅有理论上评价的药物慎用。</string>
		<key>title</key>
		<string>孕期用药注意事项</string>
	</dict>
	<dict>
		<key>des</key>
		<string>1. 禁止性生活期

从妊娠开始 到妊娠3个月末，胎盘正处在发育阶段，特别是胎盘和母体宫壁的连接还不紧密，性生活可使子宫受到震动，很容易造成流产。性交时因为孕妇盆腔充血，子宫收缩，也会造成流产的机率。因此3个月内应尽可能禁止性生活。	

2. 减少性生活期

妊娠4～9个月孕妇比较安定，可每周性交一次，但要注意每次性交时间不宜过长，并注意不用直接强烈刺激女性的性器官，动作要轻柔一些。倘若这个阶段性生活过频，用力过大，或者时间过长，就会压迫腹部，使胎膜早破，胎儿因得不到营养 和氧气，就会很快死亡，或者导致流产。即使胎膜不破，未流产，也可能使子宫感染，重者胎儿死亡，轻者胎儿身体和治理发育也要受到影响。

3. 绝对禁止性生活。

妊娠晚期特别是临产 的一个月，即妊娠9个月后，胎儿开始向产道方向下降，孕妇子宫颈逐渐松软，倘若这个时期性交，胎膜早破，宫内感染的可能性大，可能发生羊水外溢（即破水）。同时，孕妇晚期由于子宫比较敏感，受到外界直接刺激，有医突发子宫收缩而诱发早产的可能，所以，在孕妇晚期必须绝对禁止性生活。</string>
		<key>title</key>
		<string>孕期性生活注意事项</string>
	</dict>
	<dict>
		<key>des</key>
		<string>1.孕妇在妊娠期血压偏高一定要注意饮食。

2.孕妇有高血压要注意休息。

3.孕妇有高血压要注意少受刺激。

4.孕妇有高血压要注意经常检查身体。

5.忌近 离看电视：孕妈咪距离电视机的距离应在2米以上。

6.忌连续长时间看电视：一般孕妈咪一次看电视时间不宜超过2小时，避免过度使用眼睛，尤其有妊娠高血压综合征的孕妈咪更应注意。

7. 忌室内空气不流通。

8.忌看恐怖、紧张、悲剧性节目，这些节目会使孕妈咪情绪紧张，血液中出现一种特殊物质，通过胎盘带给胎儿，使胎儿不安。</string>
		<key>title</key>
		<string>孕期高血压注意事项</string>
	</dict>
	<dict>
		<key>des</key>
		<string>孕期做运动需要十分注意运动的选择、运动时间、运动地点等，以避免运动伤害。整个孕期，孕妇在做运动时，都需要注意以下几 点的运动原则：

1.在整个怀孕期间都应避免腹部挤压、剧烈震动腹部的运动，如疾跑、跳跃等；

2.如果运动后的心跳次数，每分钟超过130次，就应该终止此项活动，调整锻炼项目；

3.锻炼和运动 的时间不宜过长，最长也不宜超过半个小时；

4.在锻炼过程中要慎重使用音乐，以免在欢乐的乐曲中不知不觉造成运动过量，引起疲劳，损伤身体；

5.锻炼的运动量，以运动后5~10分钟便能恢复到锻炼前的心率、身体无不适感觉为度。</string>
		<key>title</key>
		<string>孕期运功注意事项</string>
	</dict>
	<dict>
		<key>des</key>
		<string>1.不要用凉水洗手或者使用凉 水洗衣物等，过凉的水会刺激神经，引起不适感；

2.尽量不要被冷风吹到头部、腰部等部位，双脚要注意保暖，这样有利于血液循环；

3.在月子期间注意休息，保证睡眠，不要过于疲惫，这样有利于身体恢复和乳汁分泌。

4.产后饮食需注意，哺乳期的妈妈继续食用孕妇奶粉特别是科学补充DHA、胆碱、钙、铁等20多种宝宝发育所需营养素雅培金装喜康素保证和提高母乳的质量。</string>
		<key>title</key>
		<string>孕期坐月子注意事项</string>
	</dict>
	<dict>
		<key>des</key>
		<string>产后妈妈减肥，健康永远是第一位！不要节食，只吃健康食品，尤其在晚餐餐桌上，你绝对只能看见新鲜的水果或者是鲜榨的果汁，有可能生成脂肪的食物都要被列为“违禁品”。

1. 吃口香糖。新鲜、有薄荷味的感觉，会让你不太想吃东西。

2. 只吃一些低脂肪，你又很喜欢的食物。

3.在包里、车里和书桌里都备有健康的小吃，比如一根香蕉，几个橘子等。如果饿了，吃一些，那会让你精力充沛。

4.尝试新的食物。尝试各种东西让饮食丰富、健康。

5.罗列所有想减肥的理由，并且把它们写成纸条和我肥胖和瘦的时候的照片放在房间各个角落。

6.穿紧身衣服。穿紧身的牛仔裤，所以当感觉胖时就不再吃了，这很有用。

7.日常饮食要注意饮食有节，少吃动物脂肪、内脏和甜食，多吃高蛋白、高维生素的食物，并宜少吃多餐。</string>
		<key>title</key>
		<string>孕妇产后瘦身</string>
	</dict>
	<dict>
		<key>des</key>
		<string>1.对皮肤的影响

生气时，大脑血液中增加的毒素，会刺激毛囊，引起毛囊周围程度不等的炎症，从而出现色斑问题。

2. 对子宫、乳腺的影响

男人生气伤肝，女人生气伤乳腺和子宫。乳腺走脾胃系统，子宫走肝。气上升，会伤到乳腺，下沉就伤子宫。

3. 对甲状腺的影响

老生气会使甲状腺功能失调，发生甲状腺机能亢进。

4. 对大脑的影响

大量血液涌向大脑，脑血管压力增加，此时血液中含有毒素最多，进一步加速了脑部的衰老。

5. 对肺的影响

女性情绪冲动时，呼吸会急促，甚至出现过度换气现象。肺泡不停扩张，没时间收缩，得不到应有的放松，从而危害肺健康。

6. 对胃的影响

生气会引起交感神经兴奋，直接作用于心脏和血管，使肠胃血流量减少，蠕动减慢，严重时会引起胃溃疡。

7. 对肝的影响

生气时人体会分泌儿茶酚胺，作用于中枢神经系统，使血糖升高，脂肪酸分解加强，血液和肝细胞内的毒素相应增加。</string>
		<key>title</key>
		<string>孕期生气影响</string>
	</dict>
</array>
</plist>
