<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1.宝宝起名如何打开思路 </string>
		<key>des</key>
		<string>	
1.1    以出生地或家乡地名起名
	
这种方式曾经非常流行，以至于你我身边总能找到几位有这类名字的朋友。比如，大家耳熟能详的主持人鲁豫，一看便知她父母的祖籍是山东和河南。又比如沪生、杭生，他们的出生地八九不离十是在南方。这种方法比较简单，但需要动动脑筋，不然会容易起重名。你选择的地域名称越小，越不容易撞车，你可以运用小的地名，比如关牧村、郑板桥的名字就是运用了这一方法；你也不妨试试在宝宝名字里，只加地名中的一个字，再搭配一个别的字。比如有的宝宝，起名”严思齐”，因为宝宝爸爸是山东人，故取”齐鲁大地”之意。

	1.2    以谐音起名

	如果你的姓，可以找到好的谐音字，也不妨按谐音来起名，比如少年作家韩寒，就是利用谐音起名的典型例子。还有姓姚的女宝宝，起名”姚曳”，寓意”摇曳多姿”的美女。姓”梁&quot;通&quot;粮&quot;，取名&quot;梁实&quot;。姓石，取名&quot;石在&quot;，谐音&quot;实在&quot;。谐音取得好，往往让人过目不忘，好记好念，又有好兆头。当然，也要避免有歧义的谐音，不然就适得其反了哦。

	1.3    以成语起名

	此法是谐音起名的升级版，既要配合姓的谐音，又要是个褒义的成语，才能被选中作为宝宝的名字。比如周而复、吴与伦、叶知秋、钟志诚等等。

	当然也可以简化些，不需要配合姓的谐音，只是将成语的关键字，提纲挈领地表现出来。比如程思源，饮水思源；袁致用，学以致用；唐立异，标新立异，都是成语起名的典型例子。 

	1.4    表德仰贤、立志寄愿起名

	以你仰慕的贤德来为孩子起名，也很有特色。比如赵师孟、余若庄、李元培等；若你打算以宝宝的名字来表明某种志向、理想，或寄予美好愿望，这也是非常苻合中国传统的。比如近代资产阶级改良派领袖康有为，原名祖诒，18岁时，立志为世所用，大有作为，故更名”有为”；廖承志，是国民党元老廖仲恺、何香凝的独生子，给他取名”承志&quot;，是希望他继承救国建国之志......还有张思德、雷振邦等。若你打算以名字为孩子励志，不妨参考这些名字。

	1.5    引经据典起名

	典故是指我国典籍中出现的有意义的故事和有出处的词话，唐诗宋词、四书五经，乃至康熙词典等等，都可以借鉴参考运用到名字中来。

	唐代诗人孟浩然的名字出自《孟子·公孙丑》中的”吾善养吾浩然之气”。

	朱自清之名出自《楚辞·卜剧》中的”宁廉洁正直以自清乎？”    胡乔木，”乔木”出自《诗经·伐木》：”出自幽谷，迂于乔木。&quot;

	这种方法可谓”书中自有黄金屋”，你可不要挑花了眼才是。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2.宝宝起名必读禁忌</string>
		<key>des</key>
		<string>	
名字，作为一个人区别于其他人的重要符号，在某种程度上，可以反映出一个人的文化素养、价值观念、理想情趣等。一个含义吉祥、美好、典雅的名字，不仅可以先声夺人，引人遐思，还可以不断激励自己奋发努力，是一个人迈向社会、走向成功的第一步。因此，我们在给宝宝起名的时候，一定要注意选择那些字义和寓意都很美好的字眼，避免使用一些不雅、不吉、冷僻和容易产生歧义的字。

	2.1宝宝起名忌用冷僻字

	冷僻字，是指超出国家二级字库的，在现代汉语中已不常用的字。在计算机广泛使用于各行各业的现代社会，使用冷僻字会给宝宝未来的生活带来诸多不便：宝宝上学的时候，会时常遇到老师点名时读错音等令人尴尬的场面；办理户口、身份证、出国护照等证件时，也可能无法打印出相应的字，所以，非常不适宜用作名字。如：遄、炱、芏、氍等。 

	2.2宝宝起名忌用不吉字

	起名字应尽量使用吉祥、美好的字眼，避免那些字义和寓意都不吉祥的凶字，如：病、贫、死、疯、凶、血、伤、夭、亡、损、恶等等。虽然我们生活在一个崇尚科学的时代，不相信名字里使用了凶字，就会给人带来厄运，但在人际交往中，名字给人的第一印象往往是非常重要的，一个好的名字，未见其人，只闻其名，就能给人留下美好的想象，而一个不吉的名字，首先就会给人带来不悦的感觉，有可能会导致宝宝在未来的竞争中错失良机。

	2.3宝宝起名忌用不雅字

	一个雅致的名字，会给人增添一种特别的气质，尤其是当雅致的名字正好和本人的气质相吻合的时候。比如一个身材修长的女孩子叫娉婷，会令人感到和谐、美好。而不雅的字，则会引人发笑，甚至厌恶，如：猪、狗、驴、脏、胖、傻、呆、苯、蠢、畜等等。中国旧时农村有用低贱丑陋字给孩子命名的习俗，如给孩子起名“狗蛋”、“大傻”等，认为“贱名长命”。 狗虽然是很可爱的动物，但若用“猪、狗”来形容或称呼人，仍会被视为含有轻蔑和侮辱的成分 。在现代文明的城市，用这样的方式给孩子起名，会招致旁人嘲笑，影响到孩子自信心的树立，给幼小的心灵留下难以磨灭的阴影，是应该摒弃的风俗。

	2.4宝宝起名忌用嫌疑字

	因为我们汉语有谐音特点，有些字组成词之后，在读音上容易让人产生不祥、不悦或滑稽的联想。如：方思（方死）、吴清（无情）、苟雄（狗熊）、胡立（狐狸）等等。这些字和不雅字一样，都容易使孩子遭到嘲弄，甚至导致与他人的矛盾和摩擦，也是应该竭力避免的。

	2.5宝宝起名忌用太多的字

	近几年，有些父母在给孩子起名字时力求标新立异，甚至出现了一些字数非常多的长名字。中国公安部全国公民身份证号码查询服务中心对外公布的一项最新姓名统计数据显示，中国汉族户籍人口姓名，以2字姓名和3字姓名居多，但也存在一些超常姓名，最长的姓名多达15个字。该中心负责人呼吁，公民在给孩子取名时，不能一味追求姓名的独特与个性，而忽视了姓名的规范化。在信息化时代，一个不规范的名字，不仅不利于信息传递，更无益于沟通和交流，所以，也是应绝对避免出现的。

	作为伴随宝宝一生的名字，在某种程度上说，还具有激励、约束、暗示、诱导的作用。比如中国古代著名的爱国英雄岳飞，字鹏举，意为“鹏程万里，远举高飞”。这使得他时时受到胸怀开阔、壮志山河的教育和暗示，再加上其母对其“精忠报国”的家教，最终造就了一代民族英雄的光辉伟业。我们希望每一个父母都能给自己的宝宝取一个有健康、美好寓意的好名字，激励宝宝在未来的人生道路上不断积极向上，取得成功。 
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3.宝宝起名四大原则</string>
		<key>des</key>
		<string>
	给宝宝起名可真不是件容易的事情。

	那么多的汉字，任意组合都是人名，但哪个更好？哪个更适合自己的宝宝呢？难怪准爸爸、准妈妈们整天捧着字典找名字呢。还有，给宝宝起名是听自己的，还是听父母的？阴阳五行这东西信不信？要不要找高人给算一算？眼看着自己的肚子一天天大起来，可宝宝还没有名字呢！给宝宝起名的确让人伤透了脑筋。

	在这里，我们的“宝宝起名”栏目给你做个参谋，希望对你有点帮助。

	起个好名字，首先要注意“音、形、义、境”四大要素。 

	3.1宝宝起名要好听

	名字是一种符号，它最广泛的用途，就是被人称呼。如果你期望宝宝有一个响亮而又琅琅上口的名字，我们给你提供以下几点建议:

	1．使用开口音

	起名用的字，使用开口音容易叫得响亮，尤其是最后的一个字，比如陈斯亮，就要比陈斯文来得响亮。

	2．注意平仄

	按照现代汉语拼音的标准，第一声、第二声为平，第三声和第四声为仄。

	姓若是平声，名字可以考虑仄声，这样比较有起伏，有抑扬顿挫感。反之亦然。比如张抗抗，给人铿锵有力的感觉；而柳依依，则有一种温柔婀娜的味道。

	即使都用平声，如果能分成阴平和阳平，也可以让名字产生节奏感，比如江航。“江”是阴平，第一声，“航”是阳平，第二声，读起来也很流畅。

	3．避免不良谐音

	如果名字有不好的谐音，孩子漫长的读书生涯里难免会增添一些小烦恼，诸如被人起外号之类。起出来的名字，要用普通话和周围人最常用的几种方言多念几遍，看看是否有不良谐音，这样会比较保险。

	4．少用生僻的字

	尽量少用或不用太偏和不常见的生僻字，因为生僻字的读音一般比较有难度，往往会给孩子将来的生活、学习、工作制造出无谓的小麻烦。

	3.2宝宝起名要好看

	姓名除了用来称呼之外，书写也很频繁。

	从给宝宝报户口算起，孩子一路长大，作业本、考试卷、花名册、填表格、银行存折、公司支票、开会签到等等，到处都少不了名字的书写。当了领导，还得经常圈阅文件；万一成了文体明星，还要考虑给粉丝签名留念。不论普通人还是名人，这一生，签自己名字的频率不上万也得上千。

	如果希望孩子的名字能够比较顺手顺眼，易写不易错，你可以试试以下的建议:

	1．总体上说，尽量选择笔画简单的字。

	2．如果你采用的字笔画较多，可以考虑那些结构比较平稳、布局相对均衡一点的字，这样书写起来也会比较容易，外形会比较好看。

	3．慎用难检字。跟前面的情况类似，生僻字除了读音有难度外，可能在电脑输入时，也会产生一定的麻烦。要是你给孩子起名用字相对比较少见，可先在电脑上用几种常用的输入法试打一下，看看是否存在此类问题。

	4．姓和名用字的整体协调性。你为孩子选了名字后，可以和姓氏连起来写一写，看看是否流畅均衡。那种两头重、中间轻的，写起来可能不太好看，如鞠一鹏；还有脚重头轻的，如文轩辕；不过头重脚轻倒还可以，如蒯文公。你选的名字如果写起来感觉是高山流水，错落有致，那就应该不错了吧。
 
	3.3宝宝起名含义美

	名字是人生在世的一个符号，但又不仅限于一个符号，也许你希望它可以代表家族的传承，血脉的延续；也许你希望名字中包含自己对孩子的殷殷期望，甚至人生观、价值观等等，名字的含义也是很多父母着重考虑的一个方面。

	有些姓本身有自己的含义，从姓的含义中延伸出美好的期望、良好的祝愿加入名字里，这样的组合，也许会符合你的思路。

	比如寿天予，寿为生命，天为大自然，“予”在古汉语里指我，寓“生命是老天给予”之意，三者合一，寓“天人合一”的观点，所谓来自大自然，复归大自然。

	马驰原，希望孩子一路奔跑，顺利前行。

	孟子尧，短短三字里，含两位大圣人的名字，期望值可见一斑。

	要是姓氏不能联想出实际含义，可以尝试取有含义的名字。

	一位爸爸叫陈诗经，女儿就叫张楚辞，跟妈妈姓。瞧，陈诗经，张楚辞，多好的一对瑰宝，且楚辞原本就诞生于诗经之后。

	3.4宝宝起名意境佳

	有些名字起得很有意境，比如:

	林风眠：林中的风儿也睡了。

	铁凝：铁水凝结，淬火成钢，经得起千锤百炼。

	夏雨，看着就有凉爽的感觉。

	袁泉，似闻泉水叮咚自源头而来。

	探春，柳牙儿探头探脑，应是冬末初春时节吧。

	傅抱石、徐悲鸿、梁实秋、马千里、万里、开来、江航，这些名字，或教人道理、催人上进，或富有动感、具画面效果，或有质感、有音效，不仅让人印象深刻，过目不忘，还能励志。

	你要是希望自己宝宝的名字能有某种意境，我们总结了两条方案供你参考选用:

	一是动名搭配，二是虚实结合。

	比如郏念梓，说的是郏家的人，虽定居上海大都市，仍念念不忘淮北老家，念是动作，梓指故乡;

	刘半农，农字不稀奇，令人叫绝的是这个“半”字，类似于“一、二、三、四、五；个、十、百、千、万；之、乎、者、也，亦、矣、已、然；甲、乙、丙、丁”，还有“子、丑、寅、卯”那些天干地支的字，挑一个，放在名字里面，似乎会有一种文化气息洋溢出来。 

	《红楼梦》里的名字，好多都是运用了这两个原理，颇值得借鉴。

	不知道我们说的这四方面，是不是也正是你起名时考虑的要素呢？希望本文能对你有所启发。衷心祝愿你为宝宝起个好名字。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4.孩子起名可选的参考书目
</string>
		<key>des</key>
		<string>
	为孩子起名，参考书不少，但哪些比较实用、比较有参考价值呢？在这里，我们为你提供了一些选择，希望你用得上。

	参考书目

	4.1《现代实用起名艺术》

	575 页，吉林人民出版社，2006年 4月版

	作者：杨荫浒，东北师大文学院教授 。

	本书特点:

	1．把起名放到社会的大格局下讨论，视野广阔，立意高远。

	2．专门对百家姓氏如何起名提出了参考性意见。

	3．重点从语言文字的角度，探讨了起名如何选字，如何组合，才能表达好的思路。 

	4.2《起名——人名设计学》

	295页，新华出版社， 2006年 10月版

	作者：张述任，中国名学创始人，人名设计实践经验丰富 。

	本书特点:

	1．系统介绍了人名设计理论

	2．人名设计案例精选，有单名案例、双名案例、三字名和四字名案例，还有双胞胎名案例、英文名案例等等

	4.3《中国人取名命名完全手册》

	245页，海潮出版社， 2005年 1月版

	编著：刘元

	本书特点:

	详细介绍了取名的方法和技巧，系统介绍了取名、改名的原则和方法，尤其注意兼顾民间取名的传统习俗。书中实例多，文字通俗，实用性强。 

	4.4《姓名学》

	404 页，百花洲文艺出版社，2002年 8月版

	作者：慧缘，从事医学，研究佛学，涉猎广泛，多领域均有建树。

	本书特点:

	1．详细介绍了构思起名法、意象起名法、五格剖象起名法、五行学说起名法、周易八卦起名法、十二生肖起名法等。

	2．介绍了起名禁忌的几个方面。

	3．附录中的“中华人名小词典”，收录了精选的800 例人名，参考性强。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5.女孩子起名的艺术</string>
		<key>des</key>
		<string>
	5.1巧用儿话音取名

	在单字后面加上一个“儿”，一般是作乳名的，现在也常有人用来做名字，特点是给人娇柔妩媚之感，使人产生怜爱之情。如菲儿、曼儿、雪儿、柔儿、灵儿等。

	5.2巧用中性字取名字

	巧用叠声字和儿话音的取名方式，简单易行，只不过还是偏于阴柔的美感多些。传统给女孩的取名方式大多以阴柔之美为主，旨在突出女性特征，但有时候反其道行之，也能起到特殊的效果。

	比如在文学史上颇有些名气的“张家四姐妹”的父亲张武龄是一位儒商，热心于结交蔡元培这样的教育界名流，投资教育事业，家中四个才貌双全的女儿在当时成为很多文人心仪的对象。后来，大女儿张元和嫁给了昆曲名家顾传玠，二女儿张允和嫁给了颇有建树的语言学家周有光，三女儿张兆和则嫁给了赫赫有名的大作家沈从文，老四张充和嫁给了德裔美籍汉学家傅汉思。有趣的是，张老先给女儿起的名字里都有“两条腿”，意思是注定要跟人家走，巧妙幽默，完全没有一丝闺阁脂粉气。

	二姐张允和曾一手撮合了三妹兆和与沈从文的婚姻大事，事情办成之后，给沈从文发电报，只用了一个“允”字，半是家里的态度，半是自己的名字，这“半个字的电报”的故事一时在文学史上传为佳话，也使得张老先生不俗的取名方式，至今仍为人们所津津乐道。

	5.3在历代典籍诗文里寻找灵感

	对于给孩子起名，中国一直有：“男楚辞，女诗经，文论语，武周易”这样的说法。《诗经》中的某些词句用来给女孩做名字，在今日看来仍不失清新，用得好可使人平添一股独特的书卷气。

	林徽因是一代才女，以美著称，这美也体现在她的名字上。那么她的名字出自哪里呢？林徽因的原名叫林徽音，这个名字是她做过清朝翰林的祖父林孝恂为她取的。出自《诗经?大雅?思齐》的“思齐大任，父王之母。思媚周姜，京室之妇。大姒嗣徽音，则百斯男。”“徽音”是美誉的意思。后来她改名林徽因是她为了和一位叫林微音的男士有所区别，这个人的名声有些不雅，林徽因洁身自好，不想人们把她的人品和他的相混淆。

	台湾女作家琼瑶原名陈喆，琼瑶是她的笔名。“琼瑶”是美玉的意思，出自《诗经?国风?木瓜》中的“投之以木瓜，报之以琼瑶”，是一首描写男女赠答的情诗。这个美丽的名字给她平添了几分浪漫色彩。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>6.如何给男孩子起个好名字</string>
		<key>des</key>
		<string>
	6.1、以洪亮的字眼儿为男孩起个好听的名字：一个好听的男孩名字，读起来声音要响亮、有力，具有阳刚之美，符合男孩的性别特征。尤其是名字最末一个字，可尽量使用开口音。如：亮、方、达、刚等。中国著名跳水运动员田亮的名字就是两个开口音。

	如何给男孩子起个好名字?

　　6.2、以珍宝、奇兽为男孩起个好听的名字：珍宝玉器和祥瑞奇兽一直作为高洁人格和高贵身份的象征用于人名，从古代沿用到现代，无论是给女孩还是男孩起名字使用都很好听。两个字的如：怀瑾、璞初、睿琳、曾琪、麒麟、如龙、鲲鹏、玄武、玳瑁等。单个字的如：璨、琛、璠、琦、锦、琰、玥、琨、玮、璋、璜、珏、琢、珲、璧、宝、玉、金、银等。宋代著名词人姜夔名字中的“夔”指的就是古代传说中的一种奇兽。历史名将周瑜名字中的“瑜”是“美玉”的意思，汉字中许多带“王”字旁的字，都有“美玉”的意思，很适合用来为男孩起名字。

　　6.3、以品德、相貌为男孩起个好听的名字：一个好听的男孩名字不仅读音好听，往往还蕴含了人们对于男性的审美期待，中华民族自古就非常重视个人品德和修养，这一点在为男孩起名时也有所反映，一个好听的男孩名字常常体现了人们对于男性优秀的人品和相貌的期许。

　　6.4、两个字的如：伟毅、英杰、俊熙、知非、守信、振忠、敦儒、嘉良等。单个字的如：帅、英、硕、威、清、直、铿、强、刚、钢、坚、巍、勇、猛、谦、仁等。香港影星刘德华和李修贤的名字，正属于这个类型。

　　6.5、以学问、志向为男孩起个好听的名字：一个好听的男孩名字还往往寄予了父母深厚的期待，希望未来的男子汉能够成就一番事业、光宗耀祖，甚至是安邦定国。两个字的如：家辉、凯文、博涵、泰哲、誉胜、智宸、一鸣、杰豪、志明、学礼、永胜、恩泽、有成、安邦、自光等。单个字的如：智、睿、知、聪、荣、志、立、耀、勋、卓、友、建、功、彰、达等。被誉为“新加坡国父”的新加坡前总统李光耀的名字就是这类起名方法的典范。

	6.6、以诗词、典故为男孩起个好听的名字：中国自古就有“女诗经，男楚辞”的说法，意思是说给女孩起名可以从《诗经》里去找，而给男孩起名则要参考《楚辞》。中国丰富的古典文学宝库是取之不尽、用之不竭的取名资源，你尽可以从书架上随手取来一本典籍翻翻，也许马上就会有你喜欢的名字跃入眼帘。两个字的如：望舒(出自《楚辞》)、维哲(出自《楚辞》)、周翰(出自《诗经》)、子衿(出自《诗经》)、千帆(出自《宋词》)等。作家朱自清原名“朱自华”，出自苏东坡的诗“腹有诗书气自华”。后来，他考上北大，为自己改名为“自清”，出自《楚辞?卜居》“宁廉洁正直以自清”。意思是：保持自身的廉正清白。他的一生不仅文如其人，而且名如其人。

　　6.7、以气势宏伟的自然景物和事物为男孩起个好听的名字：一个好听的男孩名字，不宜太过阴柔，一些用来形容自然风景的字词，大气磅礴，很适合用来给男孩起名字。这种起名字方式还寄托了人们对大自然的喜爱和向往之情。两个字的如：黎昕、海州、天翔、伟瀚、凌云、浩宇、星云、羽飞、鹏程、扬帆、海涛、峻峰等。单个字的如：树、林、柏、帆、山、河、岩、川、风、雨、天、景、森、淼、炎、焱、磊、霄、旷、广、宏等。中国著名的革命家彭湃的名字，就是取自“澎湃”(形容水的声势浩大雄伟)的谐音。

　　6.8、以吉祥、祈福的字眼儿为男孩起个好听的名字：一个好听的男孩名字自然要回避开一些不雅字、不吉字，尽量使用吉祥美好的字眼儿。这种祈福的起名方法从古至今在民间都非常流行，谁不期待自己的宝宝未来的人生能够和顺、富裕、发达呢?两个字的如：舒畅、君瑞、伟祺、家宜、安然、思乐、健平、益欣、嘉懿等。单个字的如：顺、和、康、富、福、贵、正、新、贺、益、鑫、祥、利、升、兴、发等。中国近代铁路事业的奠基人詹天佑(祈求上天护佑)就是一位出自平凡百姓人家的爱国铁路工程专家，然而他那具有平民色彩的名字，却因他不凡的贡献而被永久地载入史册之中了。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>7 好听女孩名字500则
</string>
		<key>des</key>
		<string>
	A-D

　　安安 荌荌 安卉 安娜 安妮 安然 傲冬 傲晴 傲雪 白雪 白云 碧螺 碧菡 碧玉 冰蓝 冰冰

　　采绿 采文 采萱 初雪 春华 春雪 丹丹 丹彤 丹红 冬雪

　　F

　　芳芳 方方 芳菲 芳华 芳馨 芳泽 芳馥 芳懿 芳茵 芳蕙 芳春 芳洲 芳蕤 芳润 芳荃 芳林

　　芳苓 芳洁 芳蔼 飞双 飞雪 飞烟 飞燕 飞英

　　G

　　谷雪 古兰 古韵 古香 歌阑 歌吹 歌韵 歌飞 格菲 葛菲 戈雅 格格

　　H

　　含烟 含玉 涵菡 晗蕾 涵韵 晗玥 寒凝 寒香 寒雁 和悌 和美 和怡 和雅 和璧 和玉 和暖

　　红螺 虹雨 虹彩 虹英 虹颖 虹影 怀玉 慧心 慧颖 慧雅 慧智 慧美 慧捷 慧丽 慧月 慧云

　　慧俊 慧秀 慧巧 慧英 慧艳 浩岚 红叶 红豆 红雪 红英 红云 红旭 红香 红艳

　　J

　　家美 家欣 家馨 佳悦 嘉怡 嘉宝 嘉惠 嘉悦 嘉歆 嘉美 嘉云 嘉玉 嘉丽 嘉淑 嘉怡 嘉懿

　　洁玉 晶滢 晶辉 静曼 静涵 静逸 静姝 静娴 静婉 静雅 静慧 静云 静安 静秀 娟秀

　　娟妍 娟丽 娟巧

　　L

　　兰若 兰蕙 兰梦 兰泽 兰芝 兰英 兰娜 岚霏 岚翠 岚彩 乐安 乐心 乐悦 乐容 乐英 丽泽

　　丽华 丽雅 丽芳 丽佳 丽姿 丽珠 丽容 丽文 灵秀 灵韵 灵慧 灵卉 灵萱 玲玲 玲珑 凌波

　　凌春 凌霜 凌雪 莉莉

　　M

　　曼蔓 曼冬 曼青 曼容 曼文 曼妮 曼云 曼衍 曼丽 曼语 曼辞 曼珠曼音 曼吟 美丽 美华

　　米琪 梦凡 梦菲 梦菡 梦露 梦琪 梦秋 梦竹 妙晴 玛丽 茉莉 麦冬

　　N-P

　　念文 凝雪 娜兰 妮娜 纳兰 沛珊 沛文 萍韵 萍雅 绮玉

　　Q

　　清雅 清逸 清华 清秋 清馨 清心 清韵 清芬 清涵 清妍 清昶 清怡 清婉 清晖 清绮 清漪

　　清卓 清懿 清润 清俊 清宁 清淑 清舒 清霁 清佳 清妙 庆雪 晴岚 晴雪 晴虹 晴波 晴霞

　　晴丽 晴照 晴画

　　R-T

　　蓉蓉 融雪 如风 如云 若云 若兰 诗兰 诗蕾 诗蕊 书萱 淑兰 舒兰 舒云 舒方 淑华 思美

　　思云 施诗 天韵 天心 天蓝 听云 甜恬 恬美 恬然 恬静 婷美 婷秀

　　W

　　宛白 琬凝 婉然 婉仪 婉静 婉慧 婉丽 婉容 婉秀 婉清 婉娜 雯丽 雯华 文茵 文静 文君

　　文漪 文丽 文心 文惠 文敏 玟丽 玟玉 问筠　问萍

　　X

　　惜文 惜雪 惜玉 夏菡 夏兰 夏岚 夏青 夏彤 夏旋 霞绮 霞飞 霞辉 霞姝 霞月 霞英 霞雰

　　霞影 霞赩 霞文 湘云 香馨 向卉 向彤 向雪 晓燕 晓莉 晓凡 晓兰 晓曼 晓霜 笑寒 心语

　　心诺 心远 新梅 欣美 欣然 欣悦 欣欣 欣嘉 欣荣 欣愉 欣可 欣畅 欣跃 欣合 欣笑 欣艳

　　新蕾 新雪 新月 馨香 馨逸 馨荣 馨兰 馨欣 秀英 秀越 秀竹 秀妮 秀洁 秀艳 璇玑 璇子

　　秀丽 秀美 秀逸 秀雅 秀华 秀兰 秀颖 秀隽 秀曼 秀媛 秀筠 秀慧 秀媚 秀婉 秀艾 秀敏

　　心香 心愫 心宜 心怡　　璇珠 雪枫 雪卉 雪曼 雪萍 雪晴 寻春 寻绿 寻芳

　　Y

　　雅宁 雅琴 雅容 雅柔 雅蕊 雅彤 雅韵 雅娴 雅懿 雅静 雅洁 雅丽 雅惠 雅韶 雅素 雅爱

　　艳蕊 艳卉 依白 依然 依波 依秋 依美 依云 逸云 逸美 逸馨 倚云 怡然 怡宁 以晴 以蕊

　　以彤 以轩 忆梅 忆秋 忆彤 忆雪 英华 英秀 雅美 雅云 雅媚 雅艳 雅可 艳丽 艳芳 艳娇

　　英媛 盈秀 迎秋 莹玉 莹华 莹琇 颖慧 颖馨 颖然 颖秀 颖初 映波 映寒 映秋 幼仪 幼怡

　　幼安 雨筠 雨竹 语燕 语心 语诗 悦欣 悦可 云飞 云泽 云蔚 云亭 蕴秀 蕴美 韵诗

　　悦欣 悦心 悦爱 云梦 云水 云霞 云露 云英 云岚 云逸 云臻 云韶

　　Z

　　智美 智敏 智纯 芷若 芷文 子珍 子萱 子怡 子美 湛蓝 湛英 湛芳

　　从以上500个好听的女孩子名字大全，准备给宝宝起名的你发现了吗?但凡好听的女孩名是有一定规律的。可以依照好听的女孩名起名方法给你宝宝起名哦!</string>
	</dict>
	<dict>
		<key>title</key>
		<string>8.好听的男孩名字1200则</string>
		<key>des</key>
		<string>	A开头好听男孩名字
	安邦 安福 安歌 安国 安和 安康 安澜 安民 安宁 安平 安然 安顺
	安翔 安晏 安宜 安怡 安易 安志 昂然 昂雄

	B开头好听男孩名字
	宾白 宾鸿 宾实 彬彬 彬炳 彬郁 斌斌 斌蔚 滨海 波光 波鸿 波峻
	波涛 博瀚 博超 博达 博厚 博简 博明 博容 博赡 博涉 博实 博涛
	博文 博学 博雅 博延 博艺 博易 博裕 博远

	C开头好听男孩名字
	才捷 才良 才艺 才英 才哲 才俊 成和 成弘 成化 成济 成礼 成龙
	成仁 成双 成天 成文 成业 成益 成荫 成周 承安 承弼 承德 承恩
	承福 承基 承教 承平 承嗣 承天 承望 承宣 承颜 承业 承悦 承允
	承运 承载 承泽 承志

	D开头好听男孩名字
	德本 德海 德厚 德华 德辉 德惠 德容 德润 德寿 德水 德馨 德曜
	德业 德义 德庸 德佑 德宇 德元 德运 德泽 德明

	F开头好听男孩名字
	飞昂 飞白 飞飙 飞掣 飞尘 飞沉 飞驰 飞光 飞翰 飞航 飞翮 飞鸿
	飞虎 飞捷 飞龙 飞鸾 飞鸣 飞鹏 飞扬 飞文 飞翔 飞星 飞翼 飞英
	飞宇 飞羽 飞雨 飞语 飞跃 飞章 飞舟 风华 丰茂 丰羽

	G开头好听男孩名字
	刚豪 刚洁 刚捷 刚毅 高昂 高岑 高畅 高超 高驰 高达 高澹 高飞
	高芬 高峯 高峰 高歌 高格 高寒 高翰 高杰 高洁 高峻 高朗 高丽
	高邈 高旻 高明 高爽 高兴 高轩 高雅 高扬 高阳 高义 高谊 高逸
	高懿 高原 高远 高韵 高卓 光赫 光华 光辉 光济 光霁 光亮 光临
	光明 光启 光熙 光耀 光誉 光远 国安 国兴 国源 冠宇 冠玉

	H开头好听男孩名字
	晗昱 晗日 涵畅 涵涤 涵亮 涵忍 涵容 涵润 涵涵 涵煦 涵蓄 涵衍
	涵意 涵映 涵育 翰采 翰池 翰飞 翰海 翰翮 翰林 翰墨 翰学 翰音
	瀚玥 翰藻 瀚海 瀚漠 昊苍 昊昊 昊空 昊乾 昊穹 昊然 昊然 昊天
	昊焱 昊英 浩波 浩博 浩初 浩大 浩宕 浩荡 浩歌 浩广 浩涆 浩瀚
	浩浩 浩慨 浩旷 浩阔 浩漫 浩淼 浩渺 浩邈 浩气 浩然 浩穰 浩壤
	浩思 浩言 皓轩 和蔼 和安 和璧 和昶 和畅 和风 和歌 和光 和平
	和洽 和惬 和顺 和硕 和颂 和泰 和悌 和通 和同 和煦 和雅 和宜
	和怡 和玉 和裕 和豫 和悦 和韵 和泽 和正 和志 鹤轩 弘博 弘大
	弘方 弘光 弘和 弘厚 弘化 弘济 弘阔 弘亮 弘量 弘深 弘盛 弘图
	弘伟 弘文 弘新 弘雅 弘扬 弘业 弘义 弘益 弘毅 弘懿 弘致 弘壮
	宏伯 宏博 宏才 宏畅 宏达 宏大 宏放 宏富 宏峻 宏浚 宏恺 宏旷
	宏阔 宏朗 宏茂 宏邈 宏儒 宏深 宏胜 宏盛 宏爽 宏硕 宏伟 宏扬
	宏义 宏逸 宏毅 宏远 宏壮 鸿宝 鸿波 鸿博 鸿才 鸿彩 鸿畅 鸿畴
	鸿达 鸿德 鸿飞 鸿风 鸿福 鸿光 鸿晖 鸿朗 鸿文 鸿熙 鸿羲 鸿禧
	鸿信 鸿轩 鸿煊 鸿煊 鸿雪 鸿羽 鸿远 鸿云 鸿运 鸿哲 鸿祯 鸿振
	鸿志 鸿卓 华奥 华采 华彩 华灿 华藏 华池 华翰 华皓 华晖 华辉
	华茂 华美 华清 华荣 华容

	J开头好听男孩名字
	嘉赐 嘉德 嘉福 嘉良 嘉茂 嘉木 嘉慕 嘉纳 嘉年 嘉平 嘉庆 嘉荣
	嘉容 嘉瑞 嘉胜 嘉石 嘉实 嘉树 嘉澍 嘉熙 嘉禧 嘉祥 嘉歆 嘉许
	嘉勋 嘉言 嘉谊 嘉懿 嘉颖 嘉佑 嘉玉 嘉誉 嘉悦 嘉运 嘉泽 嘉珍
	嘉祯 嘉志 嘉致 坚白 坚壁 坚秉 坚成 坚诚 建安 建白 建柏 建本
	建弼 建德 建华 建明 建茗 建木 建树 建同 建修 建业 建义 建元
	建章 建中 健柏 金鑫 锦程 瑾瑜 晋鹏 经赋 经亘 经国 经略 经纶
	经纬 经武 经业 经义 经艺 景澄 景福 景焕 景辉 景辉 景龙 景明
	景山 景胜 景铄 景天 景同 景曜 靖琪 君昊 君浩 俊艾 俊拔 俊弼
	俊才 俊材 俊驰 俊楚 俊达 俊德 俊发 俊风 俊豪 俊健 俊杰 俊捷
	俊郎 俊力 俊良 俊迈 俊茂 俊美 俊民 俊名 俊明 俊楠 俊能 俊人
	俊爽 俊悟 俊晤 俊侠 俊贤 俊雄 俊雅 俊彦 俊逸 俊英 俊友 俊语
	俊誉 俊远 俊哲 俊喆 俊智 峻熙 季萌 季同

	K开头好听男孩名字
	开畅 开诚 开宇 开济 开霁 开朗 凯安 凯唱 凯定 凯风 凯复 凯歌
	凯捷 凯凯 凯康 凯乐 凯旋 凯泽 恺歌 恺乐 康安 康伯 康成 康德
	康复 康健 康乐 康宁 康平 康胜 康盛 康时 康适 康顺 康泰 康裕

	L开头好听男孩名字
	乐安 乐邦 乐成 乐池 乐和 乐家 乐康 乐人 乐容 乐山 乐生 乐圣
	乐水 乐天 乐童 乐贤 乐心 乐欣 乐逸 乐意 乐音 乐咏 乐游 乐语
	乐悦 乐湛 乐章 乐正 乐志 黎昕 黎明 力夫 力强 力勤 力行 力学
	力言 立诚 立果 立人 立辉 立轩 立群 良奥 良弼 良才 良材 良策
	良畴 良工 良翰 良吉 良骥 良俊 良骏 良朋 良平 良哲 理群 理全

	M开头好听男孩名字
	茂才 茂材 茂德 茂典 茂实 茂学 茂勋 茂彦 敏博 敏才 敏达 敏睿
	敏学 敏智 明诚 明达 明德 明辉 明杰 明俊 明朗 明亮 明旭 明煦
	明轩 明远 明哲 明喆 明知 明志 明智 明珠

	P开头好听男孩名字
	朋兴 朋义 彭勃 彭薄 彭湃 彭彭 彭魄 彭越 彭泽 彭祖 鹏程 鹏池
	鹏飞 鹏赋 鹏海 鹏鲸 鹏举 鹏鹍 鹏鲲 鹏涛 鹏天 鹏翼 鹏云 鹏运
	濮存 溥心 璞玉 璞瑜 浦和 浦泽

	Q开头好听男孩名字
	奇略 奇迈 奇胜 奇水 奇思 奇邃 奇伟 奇玮 奇文 奇希 奇逸 奇正
	奇志 奇致 祺福 祺然 祺祥 祺瑞 琪睿 庆生

	R开头好听男孩名字
	荣轩 锐达 锐锋 锐翰 锐进 锐精 锐立 锐利 锐思 锐逸 锐意 锐藻
	锐泽 锐阵 锐志 锐智 睿博 睿才 睿诚 睿慈 睿聪 睿达 睿德 睿范
	睿广 睿好 睿明 睿识 睿思

	S开头好听男孩名字
	绍辉 绍钧 绍祺 绍元 升荣 圣杰 晟睿 思聪 思淼 思源 思远 思博
	斯年 斯伯

	T开头好听男孩名字
	泰初 泰和 泰河 泰鸿 泰华 泰宁 泰平 泰清 泰然 天材 天成 天赋
	天干 天罡 天工 天翰 天和 天华 天骄 天空 天禄 天路 天瑞 天睿
	天逸 天佑 天宇 天元 天韵 天泽 天纵 同方 同甫 同光 同和 同化
	同济

	W开头好听男孩名字
	巍昂 巍然 巍奕 伟博 伟毅 伟才 伟诚 伟茂 伟懋 伟祺 伟彦 伟晔
	伟泽 伟兆 伟志 温纶 温茂 温书 温韦 温文 温瑜 文柏 文昌 文成
	文德 文栋 文赋 文光 文翰 文虹 文华 文康 文乐 文林 文敏 文瑞
	文山 文石 文星 文轩 文宣 文彦 文曜 文耀 文斌 文彬 文滨

	X开头好听男孩名字
	向晨 向笛 向文 向明 向荣 向阳 翔宇 翔飞 项禹 项明 晓博 心水
	心思 心远 欣德 欣嘉 欣可 欣然 欣荣 欣怡 欣怿 欣悦 新翰 新霁
	新觉 新立 新荣 新知 信鸿 信厚 信鸥 信然 信瑞 兴安 兴邦 兴昌
	兴朝 兴德 兴发 兴国 兴怀 兴平 兴庆 兴生 兴思 兴腾 兴旺 兴为
	兴文 兴贤 兴修 兴学 兴言 兴业 兴运 星波 星辰 星驰 星光 星海
	星汉 星河 星华 星晖 星火 星剑 星津 星阑 星纬 星文 星宇 星雨
	星渊 星洲 修诚 修德 修杰 修洁 修谨 修筠 修明 修能 修平 修齐
	修然 修为 修伟 修文 修雅 修永 修远 修真 修竹 修贤 旭尧 炫明
	学博 学海 学林 学民 学名 学文 学义 学真 雪松 雪峰 雪风

	Y开头好听男孩名字
	雅昶 雅畅 雅达 雅惠 雅健 雅珺 雅逸 雅懿 雅志 炎彬 阳飙 阳飇
	阳冰 阳波 阳伯 阳成 阳德 阳华 阳晖 阳辉 阳嘉 阳平 阳秋 阳荣
	阳舒 阳朔 阳文 阳曦 阳夏 阳旭 阳煦 阳炎 阳焱 阳曜 阳羽 阳云
	阳泽 阳州 烨赫 烨华 烨磊 烨霖 烨然 烨烁 烨伟 烨烨 烨熠 烨煜
	毅然 逸仙 逸明 逸春 宜春 宜民 宜年 宜然 宜人 宜修 意远 意蕴
	意致 意智 熠彤 懿轩 英飙 英博 英才 英达 英发 英范 英光 英豪
	英华 英杰 英朗 英锐 英睿 英睿 英韶 英卫 英武 英悟 英勋 英彦
	英耀 英奕 英逸 英毅 英哲 英喆 英卓 英资 英纵 永怡 永春 永安
	永昌 永长 永丰 永福 永嘉 永康 永年 永宁 永寿 永思 永望 永新
	永言 永逸 永元 永贞 咏德 咏歌 咏思 咏志 勇男 勇军 勇捷 勇锐
	勇毅 宇达 宇航 宇寰 宇文 宇荫 雨伯 雨华 雨石 雨信 雨星 雨泽
	玉宸 玉成 玉龙 玉泉 玉山 玉石 玉书 玉树 玉堂 玉轩 玉宇 玉韵
	玉泽 煜祺 元白 元德 元化 元基 元嘉 元甲 元驹 元凯 元恺 元魁
	元良 元亮 元龙 元明 元青 元思 元纬 元武 元勋 元正 元忠 元洲
	远航 苑博 苑杰 越彬 蕴涵 蕴和 蕴藉

	Z开头好听男孩名字
	展鹏 哲瀚 哲茂 哲圣 哲彦 振海 振国 正诚 正初 正德 正浩 正豪
	正平 正奇 正青 正卿 正文 正祥 正信 正雅 正阳 正业 正谊 正真
	正志 志诚 志新 志勇 志明 志国 志强 志尚 志专 志文 志行 志学
	志业 志义 志用 志泽 致远 智明 智鑫 智勇 智敏 智志 智渊 子安
	子晋 子民 子明 子默 子墨 子平 子琪 子石 子实 子真 子濯 子昂
	子轩 子瑜 自明 自强 作人 自怡 自珍 曾琪 泽宇 泽语</string>
	</dict>
</array>
</plist>
