<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1、哺乳、清洗用品</string>
		<key>des</key>
		<string>	奶瓶(玻璃、塑料材料) 

	奶嘴(配合发育，应首先使用S型或0-6个月适用)

	奶瓶消毒锅/消毒钳

	奶瓶保温桶/温奶器(保温4小时以上，适用外出时哺乳)

	奶瓶奶嘴专用刷
奶粉盒(存储奶粉，外出携带方便)</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2、沐浴与清洁卫生用品</string>
		<key>des</key>
		<string>	护肤柔湿巾(擦拭婴儿臀部必备品)不限量

	小毛巾(给宝宝擦试)

	大浴巾(纯棉，吸水力强，沐浴时必用品)

	香皂(无泪配方)

	奶瓶、奶嘴清洁剂(纯天然，清洗奶瓶、奶嘴专用)

	水温计(清晰显示沐浴适宜水温度)

	婴儿浴盆、浴床或浴网 

	香皂——配备一下，不太建议婴儿常常使用，购买时一定要注重看是否适合婴儿娇嫩皮肤

	婴儿护臀霜——不想宝宝有红PP，用它吧。

	婴儿爽身粉、润肤乳液——必备品。

	婴儿浴巾、沐浴擦。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3、尿布</string>
		<key>des</key>
		<string>	纸尿裤(新生儿推荐使用超薄型。新生儿每天用量6-8片)

	布尿裤(透气、舒适、防漏)\n纱布尿布(吸水、透气、易洗易干，防止红PP)

	隔尿垫巾(使尿布清洗变得简单)

	防漏尿垫(防止尿液污染被褥)

	柔湿巾(婴儿专用型)

	背带(外出抱孩子很方便，多功能型)</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4、婴儿车椅</string>
		<key>des</key>
		<string>	手推车(了解车的特点后再选购)

	学步车(结构合理，安全宝宝学步用。符合安全标准)

	汽车座椅(宝宝乘座汽车很安全)

	弹乐椅/摇椅(增加宝宝玩耍的乐趣)</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5、婴儿服装</string>
		<key>des</key>
		<string>	纱布内衣/包被(根据季节选择材料，便于更换尿布)

	围兜(喂食时，防止弄脏衣服，纯棉，防水)

	外出服(穿托方便)

	鞋子(外出学步时穿/宽松不夹脚，材质柔软)

	帽子(纯棉，外出防风御寒)

	手套、脚套(纯棉，防止宝宝抓伤自己)

	袜子(保暖，纯棉材质）

	肚围(纯棉，防止小肚子着凉受寒)</string>
	</dict>
	<dict>
		<key>title</key>
		<string>6、家具、寝具</string>
		<key>des</key>
		<string>	婴儿床(木质或布包围栏)

	摇床(摇摆，舒适，抚慰婴儿)

	床套被套/棉毛毯(不易被蹬开的童被，根据季节选用材质)

	枕头、定型枕(蚕砂、茶叶及柏叶为填充物，明目，透气，定型作用)

	床单/蚊帐(拆洗方便/防蚊虫)

	婴儿睡眠灯(可哄宝宝入睡，可监听，婴儿是否安全等)

	婴儿床护栏(适用于没有围栏的小床，防止婴儿翻落)</string>
	</dict>
</array>
</plist>
