<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1.孕妇情绪对胎教的推动</string>
		<key>des</key>
		<string>	孕妇情绪对胎教的推动

 	孕妇的情绪对胎儿产生直接影响，如焦虑使婴儿往往多动、易怒、好哭，早期孕妇紧张、恐惧不安，会导致胎儿发生腭裂或形成早产，及未成熟儿，巨大的恐惧还可以导致死胎，或足月胎儿体重过低。

	临产孕妇过度不安，肾上腺素分泌增加，可能发生滞产或产后大出血、难产率增高，所以孕期孕妇的情绪、修养、仪表、心态，为主要内容的情绪胎教，仅次于营养胎教。决定着胎儿的身心健康。情绪胎教的重要意义，是保障孕期母子心理健康的重要方法。决定着母子关系的和谐与否，以及孩子后天心理素质及心理健康。也是直接影响家庭关系，保障孕期健康顺利进行的主观因素。

	它突出的特点是以母亲修养的不断提高，孕期生活品味增加，由女人向母亲角色转变过程中的内心品质提升，达到母仪胎儿的目的。对胎儿的情绪、性格、健康、心理起着至关重要的作用。在我国历来都有母仪天下的美德，正是讲着母亲的行为决定着孩子的未来。同时，父亲的责任是情绪胎教的关键因素。此时，家人的关心和体贴，显得格外重要。父爱向阳光雨露，滋润着孕期的母子，孕育着生命的宫内展现着无限的生机与希望，母亲就像是大地提供足够的养分。没有了阳光雨露的滋润，缺乏了爱的呵护，胎儿的心灵将是孤独、寂寞、痛苦的。情绪胎教体现的父母之爱，就是要将理性的关爱洒向胎儿的心灵，溶入他的每一根神经、细胞，对孩子爱的教育是从孕期开始的。情绪胎教也即为爱的胎教，同时要求父亲进入胎教状态，情绪胎教的成功，是父亲的责任与母亲的行为结合的结果。也是孩子出生时夫妻双方共同育儿的准备过程。

	它可以用血缘的钮带增强家庭的凝聚力，产生出和谐的亲情。也是夫妻双方共度孕期困难、迎接生命到来的心历路程。情绪胎教是夫妻双方共同孕育胎儿的结果，也是聪明的妈妈将育婴的责任与义务及时传递给丈夫，夫妻共同承担。情绪胎教产生于夫妻双方共同热切盼望生育健康孩子的愿望，也是胎儿后天健康、聪明的保障。可以改善并提高胎儿的发育及潜能，是早期教育极为关键的组成部分。
情绪胎教，特别提示：

	1）情绪胎教首先要求夫妻双方共同参与，确定准爸爸准妈妈的定位。首先准爸爸要具有责任心、事业心、安全感；准妈妈要具有事业心、爱心、安全感。是准爸爸的责任与准妈妈的行为，决定着未来家庭教育成功与否。
 
	2）情绪胎教顾名思义是要求孕妇有一个好的心情，在孕期坚持有好的心情，必须先有好的心态，一颗平常心态可以孕育一个天才。一双勤劳的手可以描绘出一个漂亮的孩子。一个好的起居习惯，可以保障整个孕期的顺利和安全，是母子平安的保障，也是母子亲密、和谐，合为一体，共度难关的人生体验。孩子的命运掌握在母亲的体内，高贵的母亲会永远选择坦荡，平常心态会使孩子远离痛苦和伤害。

	3）情绪胎教可以生育天才，一对强烈渴望生育天才的夫妇，自身的修养和品质决定了胎儿的高尚。夫妻同心协力，将上帝送来的这份最珍贵的爱情结晶，打造成天才。在情绪胎教过程中可以实现，这不是神话。只是将夫妻双方遗传基因中最优秀的部份启动，使得胎儿的发育达到最佳状态，是父母的爱创造着奇迹。也是我们人类主观美好愿望传递给下一代的方式。

	母亲孕育着胎儿，母子间信息能量的优化组合，就是靠主观的情绪胎教来实现的。父母亲能采集万物和谐之信息，与宇宙发展之能量，用我们最大的心声传递给新的生命，强烈的欲望加上正确的方式，情绪胎教就是在打造全才后代。

	4）好的图片、音乐、书籍、环境、衣着、形象都是情绪胎教的工具。现代孕妇具有时尚、漂亮的形象，就是体现出健康的情绪胎教，好的音乐、书籍、环境，潜移默化着母子及家庭关系的和谐。宽容、豁达，热爱生命、敬畏生命，是为我们后天培养互动的亲情奠定心理准备。孕期夫妻双方的心理健康，是支持情绪胎教的决定因素。如果这时夫妻双方对生育生命还不能够达成一个敬畏生命的共识，真正地热爱孩子或者让这个孩子感受自由，比登天还难。这正是后天家庭教育失败的误区。

	情绪胎教承载着家庭教育的重要使命。阅读相关的育儿书籍，已经是现代孕妇的习惯，但是真正的家教成功不在书上，而在父母的心里。父母有多大的决心，育儿成功就有多大的保障。所以，我在育婴实践中常常看到家教失败的例子，就会情不自禁地对孕期情绪胎教多尽一言，年轻的新手爸妈，平常心态不但是你们的幸福，也是孩子的福祉，珍惜它吧！音乐和书永远都会帮你的忙。

	5）情绪胎教禁忌孕妇初期懒散及消化不良、贪吃多睡、精神不振，因为生理原因，此时孕妇心理波动大，情绪反常，且易紧张、激动，情绪失控，母亲的修养和自我约束应该提到日程上来。女性为女则弱，为母则强。想想自己母亲的责任，相信情绪胎教会对你终生的育儿产生积极的支持。同时，它可以帮助孕妇调整体内激素，减少不适。尽量清洁身体，美化灵魂，让父母的关爱多一些进入宫内胎儿的身体。

	6）情绪的想象可以塑造胎儿的长相。初为父母者，谁不希望有一个健康漂亮的宝宝，新手爸妈可以共同探讨、描绘未来宝宝理想的长相并不断重复。丈夫帮助妻子，定期想象描绘，并对孩子未来的教育及发展蓝图描绘，一种希望的热情会伴随着孕妇，经常陶醉在自我对胎儿长相的设想与想象的塑造中，将这一美好愿望实现。我们常常可以看到一对长相平常的父母，膝下环绕着健康、漂亮的孩子。相信吧，这就是情绪胎教的贡献。

	7）情绪胎教切忌不良想象。怀孕时期，孕妇有一种不能自控的担心、害怕胎儿后天畸形或残疾。情绪胎教对应这一心理状态，给予了坚决打击，千万不要将这样的不良想象和担心扩大化，更不可将它变成语言，无休止地咨询、传递，最好的方式做好产前检查，配合医生使用现代仪器，了解胎儿状况。相信你的孩子是绝对杰出的！只有你的相信，才能建立胎儿的自信，才能使胎儿的性格及身体器官发育到最佳状态。

	8）情绪胎教也是一种交流胎教。孕期避免孤独、封闭自我，多做户外运动，孕早期应积极携丈夫外出，在大自然的山水中将自己的心灵和灵魂稳定到安静、平实状态。让孕育着生命的母亲保持心如止水的爱。相信情绪胎教是实现梦想的翅膀！</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2.怎样根据不同性格选择胎教音乐</string>
		<key>des</key>
		<string>	怎样根据不同性格选择胎教音乐

	每个人各自都有不同的性格特点，不同性格特点的孕妇，进行音乐胎教时则选择曲调、节奏、旋律、响度不同的乐曲。如孕妇情绪不稳，性情急躁，胎动频繁不安者，则宜选择一些缓慢柔和、轻盈安详的乐曲。如二胡曲‘‘二泉映月”、筝曲“渔舟唱晚”、民族管弦乐曲“春江花月夜”、琴曲“平沙落雁”等。这些柔和平缓，并带有诗情画意的乐曲，可以使孕妇及胎儿逐渐趋于安定状态，并有益于胎儿的身心朝着健康的方面发展。

         如果孕妇性格阴郁迟缓，胎动也比较弱者，则宜选择一些轻松活泼，节奏感强的乐曲。如“春天来了”、“江南好”、“步步高”，及奥地利作曲家约翰·施特劳斯的“春之声圆舞曲”等。这些乐曲旋律轻盈优雅，曲调优美酣畅，起伏跳跃，节奏感强，既可以使孕妇振奋精神，解除忧虑，也能给腹中的胎儿增添生命的活力。
	对于音乐胎教来说，就和中医治病讲究“辨证论治”一样，要因人而异，绝不可用恒定的胎教乐曲，让所有孕妇去聆听。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3.父亲与胎儿之间的小秘密 </string>
		<key>des</key>
		<string>	父亲与胎儿之间的小秘密

　　胎儿和母亲之间的关系是血肉相连，心心相印的。照理说，孩子出生后应该同母亲的感情最深。但奇怪的是，许多婴儿对父亲的欢迎程度远远超过母亲，这已是近年来较为普遍的现象。

　　有人在实验中发现：胎儿特别喜欢听爸爸的讲话声。在爸爸的唱歌声和抚摸下，能用似乎“陶醉”了的轻轻摇晃动作来表示他的满意心情。婴儿出生后哭闹时，母亲往往不能使其安静下来， 而父亲却可以通过唱婴儿熟悉的歌曲和抚摸动作使其尽快安静下来或入睡。这大概与胎儿不甚欢高、尖、细的声音(这种声音常常会造成胎动增加)，而喜欢低沉、宽厚的声音有很大的关系吧。所以一些心理学家提出一项极为有益的建议，请爸爸给胎儿讲话，创造那种与出生后的婴儿建立亲切、深厚的感情的先决条件。

　　由爸爸对胎儿讲话，这首先是父爱的一种具体表示，胎儿能够通过听觉和触觉，感受到不仅有母爱，而且还有父爱的温暖，这对于胎儿的感情发膏具有莫大的好处。父亲抚摸胎儿并同他说话，这对做母亲的在心理上也是一种极大的安慰。这种天伦之乐是孕育；养育教育孩子的最好气氛。 爸爸与胎儿的玩耍，一般以谈话为其主要的内容。

　　有一位做父亲的就是这样同胎儿谈的：小宝宝呀，你的小手在哪儿？伸出来让爸爸摸摸吧。你的小脚在哪儿？会不会蹬？蹬蹬让爸爸瞧瞧吧。你的大脑袋呢？现在长头发了吗？妈妈经常为了你吃核桃和黑芝麻，你的头发一定是又黑又亮的，对吗？今天又有什么新本事呢？ 嗅，会推了。那就轻轻地推一下吧，可千万别把妈妈推疼了。刚才听到音乐了吗…… 极为有趣的是，这个常与爸爸对话和玩耍的胎儿，每天晚上到了10点钟就 “急不可待”地动起来。

　　这个孩子出生后，同爸爸的感情非常好。同时，这个孩子的智力、能力发育水平远远高于同龄孩子。爸爸同胎儿游戏所起到的作用是极其明显的，但为什么能起到这个作用的奥秘当前还难以弄清。

　　希望将要成为父亲的人能够经常与胎儿玩耍，早日建立起情真意切的父子感情，并达到促进胎儿健康发育之作用。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4.胎教好的孩子大多情绪稳定
	4. 胎教好的孩子大多情绪稳定
	4. 胎教好的孩子大多情绪稳定
</string>
		<key>des</key>
		<string>	胎教好的孩子大多情绪稳定

	人们一般认为婴儿都是喜欢哭闹的，这是个错误的认识。
        胎教好的孩子大多情绪稳定，不大喜欢哭闹，就连晚上也比较安静。他们的特征是，接受能力强，学会语言早，成长顺利。相反，如果胎教进行得不好，那么孩子就爱哭，晚上也经常哭闹，照顾他会特别花费时间。
        那么，良好的胎教又包括哪些内容呢？家长在确定怀孕后，努力向腹中的胎儿传达关爱，使得彼此心意相通，这就是良好的胎教。相反，如果夫妇二人不努力和胎儿互通心意，反而相互争执，或者母亲承受太多的压力，这就不是成功的胎教了。接受了良好胎教的婴儿，一出生就具有让人惊讶的右脑能力。家长一定要了解这一事实。
        令人惊讶的右脑能力又是什么样的呢？如果母亲在怀孕期间能与胎儿心意相通，胎儿就会获得与母亲一致的一体感，那么孩子就有运用心灵感应(用心灵来相互感知想法的能力)的能力。所谓心灵感应是指不需要语言就能相互沟通的能力。右脑是心灵作用下的大脑，心灵感应是右脑的基础能力。
        当今的教育由于忽视了心灵的作用，所以一直没能将人类与生俱来的伟大潜能发掘出来。
        如果不了解胎教，心不在焉地养育孩子，将来的育儿过程就会十分辛苦。相反，若是能够在胎儿期努力与孩子沟通心灵，不仅会生出一个能力超群的宝宝，而且将来的育儿过程也会变得十分轻松快乐。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5.准爸课堂：看外国老爸如何胎教</string>
		<key>des</key>
		<string>	准爸课堂：看外国老爸如何胎教
　　怀孕16周，你的胎教计划是否启动了呢？如果没有的话，那么看看外国老爸是如何胎教自己的儿女的吧！
　　一直以来，女人们承担了所有的孕育责任，从小生命在体内“驻扎”开始，一直到他呱呱坠地，似乎都没有男人们的用武之地。但是，不知从何时开始，从丈夫升级为准爸爸的男人们不再袖手旁观妻子的孕育过程，而是积极地参与其中，并满怀热情地与妻子腹中“宝宝”沟通感情，一场新的胎教风尚在世界各国的准爸爸中展开。
　　
日本“父亲式的胎教”
　　日本是目前世界上宣传和实施胎教最为积极的国家。日本的胎教研究最早可追溯到江户时代。上世纪70年代，借助现代技术和先进的仪器设备，日本一些医学专家、教育学专家从胎儿医学和教育心理学、超前教育学几方面入手，重新研究胎教的科学根据和施教方法。
　　日本育婴文化研究所的谷口裕司在妻子妊娠期间，曾实验过“父亲式的胎教”，每天晚上临睡前，这位准爸爸都会把手放在妻子的腹部，对宝宝说：“你今天又长了那么多，我是你的爸爸呀！”
　　丈夫抚摸妊娠中妻子的腹部，这种亲昵的动作，不仅是讨“宝宝”的欢喜，对准妈妈来说，也是件非常愉快的事情。
　　
英国“父亲式胎教”有科学实验基础
　　这种“父亲式胎教”是有科学实验基础的，英国科学家通过对胎儿的听觉功能试验得出结论：胎儿最容易接受低频率的声音。在他们的实验中，8个月的胎儿听到低音大管乐曲后，胎动大大加强。这组胎儿出生后只要一听到类似男子声音的乐曲，便会停止哭闹，露出笑容。
　　胎儿有听觉
　　根据胎儿具有辨别各种声音并能做出相应反应的能力，美国的科研人员建议准爸爸们经常对胎儿进行呼唤训练。让孩子一出生就能马上识别出父亲的声音。
　　小宝贝，我是你的爸爸！
　　一位美国准爸爸从胎儿7个月开始经常一边对胎儿说：“小宝贝，我是你的爸爸！”，一边抚摸着妻子的腹部。每当这句话从这位准爸爸的嘴里说出来时，胎儿就会表现出兴奋地蠕动。
　　爸爸的话止哭闹
　　当孩子出生后，因环境的突变产生不安而哭闹不止时，他的父亲只要说：“小宝贝，我是你的爸爸！”婴儿就像着了魔一样突然停止了哭闹，并掉转头来寻找发出声音的方向，后来竟高兴地笑了。以后每当孩子哭闹时，爸爸的这句话就会使孩子从哭闹中安定下来。
　　呼唤训练胎教有益
　　可见，父母通过声音和动作与腹中的胎儿进行呼唤训练，是一种积极有益的胎教手段，在对话过程中，胎儿能够通过听觉和触觉感受到来自父母亲切的呼唤，增进彼此生理上的沟通和感情上的联系，这对胎儿的身心发育是很有益的。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>6.胎教音乐有哪些种类</string>
		<key>des</key>
		<string>胎教音乐有哪些种类
       胎教音乐的方法多种多样。由于人们文化水平、禀赋素质、欣赏水平、生活环境等不可能都一样，有的孕妇喜爱音乐，有的则对音乐不感兴趣。因此也就不能对所有孕妇都统统使用固定的曲子。但我们坚信，绝对不喜欢音乐或根本没有音乐细胞的人很少，只不过是没有尝到音乐有益于身心健康的甜头。就说在比较偏远的农村，可能会有许多人对音乐不太感兴趣，可是她们肯定有所喜欢听或喜欢唱的山歌、民歌或地方戏曲。这些曲子欢快自如，有很强的表情性与感染力，听起来给人以十分亲切的感觉，听过以后同样可以收到音乐胎教的效果。所以，施以胎教音乐时不一定拘于一种方式与形式。常可供孕妇采用的音乐胎教方法有如下几种：

(1)母唱胎听法

       孕妇低声哼唱自己所喜爱的有益于自己及胎儿身心健康的歌曲感染胎儿。在哼唱时要凝神于腹内的胎儿，其目的是唱给胎儿听，使自己在抒发情感与内心寄托的同时，让胎儿能享受到美妙的音乐。这是不可忽视的一种良好的音乐胎教方式，适宜于每一个孕妇采用。

(2)母教胎唱法

        当孕妇选好了一支曲子后，自己唱一句，随即凝思胎儿在自己的腹内学唱。尽管胎儿不具备歌唱的能力，只是通过充分发挥孕妇的想像力，利用“感通”途径，使胎儿得以早期教育。本方法由于更加充分利用了母胎之间的“感通”途径，其教育效果是比较好的。

(3)器物灌输法

       这种音乐胎教的方法是英国心理学家奥尔基发明的。利用器物灌输法进行音乐胎教，可准备一架微型扩音器，将扬声器放置于孕妇的腹部，当乐声响时不断轻轻地移动扬声器，将优美的乐曲通过母腹的隔层，源源不断地灌输给胎儿。在使用当中需要注意，扬声器在腹部移动时要轻柔缓慢，并不宜播放时间过长，以免胎儿过于疲乏。一般每次以5～10分钟为宜。

(4)音乐熏陶法

       本方法主要适宜爱好音乐并善于欣赏音乐的孕妇采用。有音乐修养的人，一听到音乐就进入了音乐的世界，情绪和情感都变得愉快、宁静和轻松。孕妇每天欣赏几支音乐名曲，听几段轻音乐，在欣赏与倾听当中借曲移情，浮想翩翩，寄希望于胎儿，时而沉浸于一江春水的妙境，时而徜徉进芭蕉绿雨的幽谷，好似生活在美妙无比的仙境，遐思悠悠，当然就可以收到
很好的胎教效果。 

(5)朗诵抒情法 

       在音乐伴奏与歌曲伴唱的同时，朗读诗或词以抒发感情，也是一种很好的胎教音乐形式。现代的胎教音乐也正是朝着这个方向发展。在一套胎教音乐当中，器乐、歌曲与朗读三者前后呼应，优美流畅，娓娓动听，达到有条不紊的和谐统一，具有很好的抒发感情作用，能给孕妇与胎儿带来美的享受。适宜孕妇采用的音乐胎教方法还有许多，每一位孕妇可以根据自我的具体情况而采取相应的胎教音乐方法。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>7.胎教，用耳朵还是肚皮？  </string>
		<key>des</key>
		<string>胎教，用耳朵还是肚皮？

      越来越多的父母相信，胎教可以孕育出高IQ、高EQ的天才宝宝。但是，不当的胎教则可能对宝宝造成伤害。长春市妇产医院首席医生、产科一疗区主任医师胡彦祖介绍说，胎儿约在5个月大时，已有听觉反应，当母亲沉浸在莫扎特、舒伯特等人的乐曲声中，胎儿不仅感受到如音乐节奏般的子宫血管的跳动，也会随着母亲的心跳、呼吸而感到愉悦。
      然而，许多准妈妈进行胎教时，直接把录音机、收音机放在肚皮上，让胎儿听音乐，胡彦祖主任医师指出，这种做法是不正确的。音乐胎教对刺激胎儿的发育有一定好处，但对胎教音乐的播放有较高要求。孕妇直接将扬声器放在腹壁上，声波进入母体，使腹中胎儿受到高频声音的刺激，时间长了容易对胎儿的耳蜗及听觉神经造成损伤，引起听力障碍甚至耳聋。
      另外需要提醒的是，怀孕20周，胎儿的听觉功能已经完全建立。母亲的说话声不但可以传递给胎儿，而且胸腔的振动对胎儿也有一定影响。因此，孕妇要特别注意自己说话的音调、语气和用词，以便给胎儿一个良好的刺激印记。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>8.准爸爸如何配合孕妈共同胎教</string>
		<key>des</key>
		<string>胎教，用耳朵还是肚皮？
      越来越多的父母相信，胎教可以孕育出高IQ、高EQ的天才宝宝。但是，不当的胎教则可能对宝宝造成伤害。长春市妇产医院首席医生、产科一疗区主任医师胡彦祖介绍说，胎儿约在5个月大时，已有听觉反应，当母亲沉浸在莫扎特、舒伯特等人的乐曲声中，胎儿不仅感受到如音乐节奏般的子宫血管的跳动，也会随着母亲的心跳、呼吸而感到愉悦。
      然而，许多准妈妈进行胎教时，直接把录音机、收音机放在肚皮上，让胎儿听音乐，胡彦祖主任医师指出，这种做法是不正确的。音乐胎教对刺激胎儿的发育有一定好处，但对胎教音乐的播放有较高要求。孕妇直接将扬声器放在腹壁上，声波进入母体，使腹中胎儿受到高频声音的刺激，时间长了容易对胎儿的耳蜗及听觉神经造成损伤，引起听力障碍甚至耳聋。
      另外需要提醒的是，怀孕20周，胎儿的听觉功能已经完全建立。母亲的说话声不但可以传递给胎儿，而且胸腔的振动对胎儿也有一定影响。因此，孕妇要特别注意自己说话的音调、语气和用词，以便给胎儿一个良好的刺激印记。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>9.中国古代胎教六原则</string>
		<key>des</key>
		<string>        中国古代胎教六原则
我国古代胎教的理论基础和要求，我国古代对世界万物之间的相互感应现象十分重视，比如在《周易》一书中就有阴阳二气相互感应的描述。同时人们在现实 生活中也观察到母子之间有许多类似之处，所以除遗传因素之外，母亲的言行举止也可能影响到腹中的胎儿，因此就构成了古代胎教的理论基础。于是，在这种朴素 的理论基础支撑下，便产生了对胎教一系列要求。

我国古代对胎教的要求首先是从医学角度指出的。中医学认为，如果准妈妈受到风、寒、暑、湿、燥、火“六淫”的倾入，就会感染疾病，甚至危及胎 儿，因此提出了“慎寒温”的具体要求。同时还对不注意“慎寒温”而遭受“六淫”之侵带来的危害：“胎前感冒外邪，或染伤寒，郁热不解，往往小产堕胎，攸关 性命。”

因此，准妈妈怀孕后应根据生理上发生的特殊变化，而注重胎前保养，适应寒温变化。同时，还要谨慎起居，注意劳逸适度。因为中医认为，人禀气血以 生，胎赖气血以养，所以准妈妈怀孕后如果适当运动，就可使血气通流，百脉和畅，但不要举止无常，攀高负重;如果好逸恶劳，以贪吃贪睡的方法养血，不仅达不 到预想目的，甚至会使气停血滞，而导致难产。

古代胎教还要求准妈妈要做到调适情志。中医学认为：“胎借母气以生，呼吸相通，喜怒相应，若右所逆，即致子疾。”所以在《在增补大生要旨》一书 中指出：“盖气调则胎安，气逆则胎病。”意思是说，怀孕不仅是女性生理的一个特殊过程，而且在心理上也同样会发生相应的变化和反应，也就是所谓情志的变 化。因为，准妈妈怀孕后应该情志舒畅，遇事乐观，心境平和，不要喜怒无常，动不动大动肝火，甚至经常恼怒，以免影响准妈妈和胎儿的健康。

古代胎教也注重知识胎教的作用。我国中医儿科学的鼻祖钱乙在其《钱氏儿科学》一书中谈到“欲子女之清秀，居山明水秀之乡，欲子女之聪俊者，常资文学艺书”。

古代胎教更重视准妈妈的道德修养。比如清代贺兴思在《三字经注解备要》中提出“端心正坐，清虚和一，坐无邪席，立无偏倚，行无邪经，目无邪视， 口无邪言，心无邪念，无妄喜怒，无得思虑。”等准则，认为准妈妈如果能做到心怀坦荡、言语大度、行为端庄，无论是对自己还是对胎儿都是非常有益的。

古代医圣孙思邈等提出的胎教六项原则

我国古代许多著名医药学家，对准妈妈在妊娠期间的情志调适，生活环境以及应该注意的有关事项都有要求和建议。比如被称为医圣的大医药学家孙思邈，经过对胎教的专门研究，归纳了以下六项原则：

谨慎起居：劳逸适度，起居有序，忌贪吃贪睡，忌负重物。

调节饮食：营养丰富，易于消化，忌辛辣生冷。

调理情志：静心节欲，心胸开阔，遇事乐观，忌闷闷不乐，心情败坏。

慎对寒温：注重胎前保养，忌风寒侵袭，以防感染疾病。

节制房事：房事有度，忌求一时之欢，导致伤胎。

戒酒避毒：酒能伤胎，宜戒佳;减少服药，慎灸穴位，避免流早。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>10.子宫对话胎教法</string>
		<key>des</key>
		<string>        子宫对话胎教法

      不要觉得隔着肚皮与胎儿说话是件深奥难懂的事，只要你用“爱”来看待腹中的胎儿，经常对胎儿说话，就可以刺激胎儿脑部发展，有助于胎儿的成长。
      根据国外的医学报道，胎儿在母亲的肚子里已经会看、会听、会用肌肤感觉很多事物。 
      虽然目前的研究中，并无法证明胎儿是否能理解母亲的想法与感情，可是，通过超声波检查，我们可以明确感受到母亲的心跳会传达给胎儿。如果你是一位正在怀孕的准妈咪，或是已经有过生产经验的母亲，你应该能够体会“子宫对话”的感觉。
      何谓“子宫对话”？简单地说，子宫对话就是“母亲与胎儿的沟通方法”，将母亲的情感、心绪、思考等，传达给胎儿。你一定会感到疑惑，因为胎儿在肚子里，如何与他沟通呢？其实，不要觉得隔着肚皮、或用心灵交流方式与胎儿说话是件深奥难懂的事，只要你用爱来看待腹中胎儿，经常对胎儿说话，就能够有效刺激胎儿的脑部发展。

实施月份

      一般而言，怀孕到第5个月时，胎儿就有了听觉的发展，能听到外界的声音，因此，很多人认为这个时候是实施子宫对话胎教法的最佳时机。然而，许多施行此法的实例证明，他们是从怀孕初期即开始施行，并且一直沿用到婴儿出生。因此，建议你从怀孕初期就试一试。
练习方法

      虽然并没有确切的数据来证明子宫对话胎教法能使宝宝聪明多少，但是，不可讳言的是，许多施行此法的夫妻所生出来的宝宝都比较聪明。那么，如何实施子宫对话胎教法呢？方法很容易。
      首先，从确切知道怀孕的消息开始，就经常将你的思绪用“心灵沟通”的方式传达给胎儿，并时常唱歌给他听，与他说话，让他习惯你和爸爸的声音，等到胎儿完全习惯了父母的声音后，每当你们发出声音、或在思考时，胎儿就能感觉到你的心灵，听到你的话语。
      接着，你可以从怀孕第5个月开始，尝试着让胎儿集中意识，并大声地教她基本的单字、数数的方法、自然界的花草树木，等等，让他时刻感受到你和他的交流，从而促进他智力的发展。

注意事项

      由于子宫对话胎教法的好处在于能够将你的情绪、思想、语言传达给腹中的胎儿，所以，建议你多用爱去关爱胎儿，多思考、多学习、多与他说说话，千万不要懒惰或经常性地情绪不好。否则，你将来的宝宝会有可能是一个怠惰、散漫、思考能力差、脾气暴躁的小孩哦！准备好了吗？每天多说话给腹中的小宝宝听吧！

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>11.孕期后10周多跟胎宝宝交流</string>
		<key>des</key>
		<string>        孕期后10周多跟胎宝宝交流

　　据英国《每日邮报》最新消息，婴儿在母亲的子宫里时，就开始学习语言了。他们普遍在母亲孕期的最后10周就具备了语言学习能力。而此前的研究认为，婴儿在出生后一个月才开始学习语言。
　　美国太平洋路德大学的心理学教授克里斯汀·摩恩和她的同事发现，当婴儿还在母亲的子宫里时，就开始学习母语中的元音，显示出对外来词汇的兴趣。这项研究选取了40名刚出生的男女婴儿，发现他们都能辨别出母语和外来语的元音差异。研究者认为：母亲对婴儿的大脑发育有重要影响，她们语言中的元音最响亮，吸引了婴儿的注意力。因此，在孕期最后10周，准妈妈就可以多跟肚子里的宝宝交谈，为他们朗诵、轻声歌唱等。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>12.孕晚期 准爸爸坚持跟宝宝说话有好处 </string>
		<key>des</key>
		<string>	孕晚期 准爸爸坚持跟宝宝说话有好处
　　孕晚期 准爸爸坚持跟宝宝说话有好处 声学研究表明：胎儿在子宫内最适宜听中、低频调的声音，而男性的说话声音正是以中、低频调为主。因此，父亲坚持每天对子宫内的胎儿讲话，让胎儿熟悉父亲的声音，这种方法能够唤起胎儿最积极的反应，有益于胎儿出生后的智力及情绪稳定。尽情地说吧!因为人的大脑一生(包括胎儿时期)可以储存1000万亿个信息单位。

　　另外，没有经过胎教的新生儿常常会有这种情况，即使不熟悉的女性逗乐也会因逗乐而微笑，而父亲逗乐则反而会哭。这正是孩子从胎儿期到出生后的一段时间里，对男性的声音不熟悉所造成的。为了消除孩子对男性包括对父亲的不信任感，妊娠5个月后父亲应对胎儿讲话。
　　首先让孕妻坐在宽大舒适的椅子上，然后由妻子对胎儿说：“乖孩子，下面我们开始与你的爸爸进行十分愉快的对话!”这时，丈夫应该坐在距离妻子50厘米的位置上，用平静的语调开始对话，随着对话内容的展开再逐渐提高声音，不能一下子发出高音而惊吓胎儿。
　　父亲在开始和结束对胎儿讲话的时候，都应该常规地用抚慰及能够促使胎儿形成自我意识的语言对胎儿讲话。
　　开场白的语言是：“宝贝(或者叫乳名)，我是你的爸爸，我会天天和你讲话，我会告诉你外界一切美好的事情。”父亲应将每天讲授的话题构思好，最好在当天的“胎教日记”中拟定一篇小小的讲话稿，稿子的内容可以是一首纯真的儿歌、一首内容浅显的古诗、一段优美动人的小故事，也可以谈自己的工作及对周围事物的认识，以刻画人间的真、善、美。用诗一般的语言，童话一般的意境，描述祖国的锦绣大地。还可以是生活中的理想等等。

　　温馨提示：集思广益、博采众长的教学内容，定能影响两代人。对话结束时，要对胎儿给予鼓励：“宝贝学习很认真，你是一个聪明的孩子，但愿我对你讲授的一切都能对你将来的人生有用。好吧，今天就学习到这儿，再见!”
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>13.呼唤胎教法</string>
		<key>des</key>
		<string>        呼唤胎教法

　“呼唤胎教法”即“母儿对话”,孕妇及其丈夫与胎儿进行语言沟通，包括讲一些儿歌。胎儿是有记忆的，呼唤他的名字，或“宝贝”、“乖乖”等称呼,出生后仍可辨认。 
　　曾有这样一个事故，妻子怀孕期间，准爸爸经常向胎儿说：“小宝贝，你好吗？我是你爸爸!”同时抚摩胎儿。一直坚持这样做，他发现后来每当这句话一出现胎儿就会兴奋地蠕动起来。当这个孩子出生后出现不快时，父亲还习惯性地说：“小宝贝，你好吗？我是你的爸爸!”话刚出口，婴儿就像着了魔法一样突然停止了哭声，并掉转头来寻找发出声音的方向，后来竟笑了。以后每当孩子哭闹时，父亲都会说这句话，而每次孩子都能从哭闹中安定下来。
　　由此可见，父母通过声音和动作对腹中的胎儿进行呼唤训练，是一种积极有益的胎教手段。胎儿的潜能的章节已经讲过，胎儿具有辨别各种声音并能做出相应反应的能力，父母就应该抓住这一时机经常对胎儿进 “对话训练”，也就是“呼唤胎教”。
　　孩子一出生就会马上识别出父母的声音，这不但对年轻父母是一个激动人心的时刻，而且对你的孩子来说，刚来到这个完全陌生的世界时，就能听到一个他所熟悉的声音，对他来说是莫大的安慰和快乐，同时消除了由于环境的突然改变而带给他心理上萨紧张与不安。
　　一般来说，这种谈话的内容是随意的，可以以轻柔的口吻问一些简单的话．例如：
　　“小宝宝呀．你的手在哪儿？”
　　“你的头发长出来了吗？”
　　“你爱吃今天的饭吗？”
　　“你刚才听到那支曲子了吗?它叫‘蓝色的多瑙河’，你听这支曲子美不美啊?你也想跟着唱吗?等你出生后妈妈就教你唱，好吗？”
　　﻿“你一定要好好吃饭，长得又白又胖，以后做个聪明的孩子”
　　……
　　在对话过程中，胎儿能够通过听觉和触觉感受到来自父母亲切的呼唤，增进彼此生理上的沟通和感情上的联系，这对胎儿的身心发育是很有益的。
　　温馨提醒：孩子聪明才干的启蒙教育就在胎儿期。因此，根据胎儿的这一能力进行及时合理的训练使其更进一步的发展与完善是非常必要的。

　　父亲与胎儿的对话
　　生活中我们会看到这样的现象，一些婴儿，即使不熟悉的女性逗他，他也会微笑，而父亲逗他则反而会哭，别说其他的男性了。这正是孩子从胎儿期到出生后的一段时间里，对男性的声音不熟悉造成的。为了消除孩子对男性包括对父亲的不信任感，所以，在呼唤胎教中父亲应该扮演一个非常重要的角色。
　　声学研究表明：胎儿在子宫内最适宜听中、低频调的声音，而男性的说话声音正是以中、低频调为主。因此，父亲坚持每天对子宫内的胎儿讲话，让胎儿熟悉父亲的声音，能够唤起胎儿最积极的反应，有益于胎儿出生后的智力及情绪稳定。

　　1．父亲的开场白和结束语
　　父亲在开始和结束对胎儿讲话的时候，都应该常规地用抚慰及能够促使胎儿形成自我意识的语言对胎儿讲话。开场白结束语的设计可以如下：
　　开场白的语言是：“宝贝(或者叫乳名)，我是你的爸爸，我会天天和你讲话，我会告诉你外界一切美好的事情。”
　　对话结束时，要对胎儿给予鼓励：“宝贝学习很认真，你是一个聪明的孩子，但愿我对你讲授的一切都能对你将来的人生有用。好吧，今天就学习到这儿，再见!”
　　在可能的情况下，父亲应每天和胎儿对话，这样才能加深与宝宝的感情。

　　2．具体与胎儿对话的方法
　　丈夫可以让孕妻坐在宽大舒适的椅子上，然后由妻子对胎儿说：“乖孩子，爸爸就在旁边，你想听他对你说什么吗？”这时，丈夫应该坐在距离妻子50厘米的位置上，用平静的语调开始对话，随着对话内容的展开再逐渐提高声音，不能一下子发出高音而惊吓了胎儿。
　　讲授的话题最好事先构思好，先拟定一篇小小的讲话稿，稿子的内容可以是一段优美动人的小故事、一首纯真的儿歌、一首内容浅显的古诗，也可以谈自己的工作及对周围事物的认识。用诗一般的语言，童话一般的意境，告诉孩子外面的这个美丽新世界。
　　温馨提醒：父亲在与胎儿对话时，千万要记住，不要边吸烟边对孩子讲话。这样对孕妇及胎儿都是不利的。因为烟雾中的有害物质就可以通过呼吸进入妻子体内，再通过血液输送给胎儿，从而对胎儿产生不良影响。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>14.孩子的音乐素质从胎教开始</string>
		<key>des</key>
		<string>        孩子的音乐素质从胎教开始
        你知道吗，4个月的胎儿即可对外界环境的声音有所感知。胎儿在母腹中，他的音响世界里占统治地位的是母亲浑浊而有节奏的心跳声和血液流动声，从他有听觉的那一天起，就习惯了这种声音。但听久了妈妈肚子里的音响，宝宝也需要些新鲜刺激。

　　家庭音乐会
　　听CD：最常见也最方便的办法就是听CD唱。试想一下，胎儿每天听惯了妈妈浑浊的心音，突然飘来清脆优雅、婉转轻松的音乐，那是多么新鲜而有趣、和谐悦耳呀!
　　孕妈妈可从怀孕4个月起，每天聆听有利于孕育胎宝宝的古今中外的音乐。要特别注意多听一些舒缓的古典音乐，这是因为古典音乐的节奏与母亲每分钟72次左右的心跳音相近，而胎儿对母亲的心跳音最有安全、亲密感。

　　妈妈请注意：
　　1.妈妈在宝宝胎动时进行音乐胎教效果更好;
　　2.选择胎教音乐时，必须充分衡量音乐的质量，购买正规的专用胎教音乐磁带，否则会对宝宝的大脑和听觉造成伤害;
　　3.不要选择频率过高、节奏、力度过强的音乐，这些因素都对胎儿不利。
　　推荐曲目：《小太阳》、《秋日私语》、《秋夜》、《仲夏夜之梦》、《春天来了》、《梦幻曲》以及柴可夫斯基的《B小调第一钢琴协奏曲》等。
　　听妈妈唱：听CD唱固然是一种方便快捷的好办法，但如果妈妈的歌艺还不错的话，不妨由妈妈担起宝宝音乐启蒙老师的重任。妈妈每天可以给宝宝哼唱几首歌曲，要轻轻哼唱。唱给宝宝听时，妈妈应该心情舒畅，富于感情，就像对着尚未谋面的可爱的宝宝，倾诉一番母爱柔情，从而达到爱子心音的谐振。相信宝宝在妈妈肚子里也会感觉“世界多美好”。有乐谱识别基础的妈妈也可以想象自己腹中的小宝宝会唱歌，从音符开始，教一些简单的乐谱给宝宝，通过反复教唱，使胎儿产生记忆印迹。

　　妈妈请注意：
　　1.妈妈不必放声大唱，以免对宝宝和自己造成不利的影响。
　　2.妈妈唱时可以随着音乐轻轻摆动，但动作不宜过大。
　　推荐曲目：《世上只有妈妈好》、《小宝贝》、《绿岛小夜曲》、《摇篮曲》等。
　　听爸爸唱：宝宝还在爱人肚子里呢，未来的老爸除了每天摸摸老婆的肚皮和宝宝说说话之外，其实还可以尝试着唱歌给他(她)听。爸爸的声音很是特别哦!它浑厚、深沉，爸爸用他那富有磁性的嗓音唱出来的歌也和妈妈唱的有很大不同，对于宝宝来说，爸爸的歌声可是一种全新的体验呢。唱歌前的开场白可以是这样的：“宝贝(或者叫乳名)，我是你的爸爸，我叫xxx，我会天天给你唱一首歌。你要是觉得好听呢，就在妈妈肚子里给爸爸鼓鼓掌吧!”

　　爸爸请注意：
　　1.唱歌时一定要注意声情并茂，但不能因为太过忘情而唱走了音哦!走音的歌对于宝宝来说就不是享受而是“难受”了。
　　2.注意歌曲的选择，在给宝宝唱歌时，要尽量回避男人比较喜欢的重金属音乐，不然，宝宝在妈妈肚子里也就跟着“摇滚”了。
　　3.在给宝宝唱歌时，可以载歌载舞，虽然宝宝看不见，但他(她)一定感受得到。

       剧院音乐会
　　别以为这种办法和在家听CD没什么两样，真实的现场感更会激发妈妈的音乐情绪，对宝宝可大有益处哦。所以，如果有机会，应该带宝宝去音乐厅听一场地道的现场音乐会。准妈妈带着胎宝宝置身于美妙悠扬的音乐氛围中，乐曲的交响轻轻流淌，音乐会大气磅礴的效果，会让正在慢慢成长的宝宝享受一场听觉的盛宴。
　　妈妈要注意：
　　应选择曲风和缓的音乐会，太过激烈的不可取。妈妈不可太过疲劳，听一个小时左右就可以了。推荐曲目：《儿时情景》(舒曼)、《月光曲》(德布西)、《中亚细亚草原》(鲍罗定)。
　　大自然音乐会
　　选一个风和日丽的日子，带着宝宝一起去户外，听听来自大自然的天籁之音吧。这时，妈妈可以唱一支动听的歌，也可以让爸爸在空旷的绿野里来一曲纯粹的山歌，或者谁也不唱，就静静地手牵手，听小鸟啁啾，听小溪哗啦啦的声音，听树叶沙沙的响声，听田野里的蛙鸣……爸爸妈妈还可以告诉肚子里的宝宝，发哗哗声的是什么样的一条小溪，小溪边有一片什么颜色的不知名小花……这种和谐的感觉是制作多么精良的CD都无法比拟的。
　　妈妈要注意
　　1.户外，妈妈要注意休息，不能太过劳累。
　　2.在夏天，准爸爸还要照顾好爱人，提防蚊虫的叮咬。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>15.胎教概述   </string>
		<key>des</key>
		<string>        胎教概述

　　所谓胎教，是指孕妇在怀孕期间的一切心理、生理状态对胎儿将来的身心、智力发展上产生的一切影响。一般说来,父母身体健康、心情愉快而且营养充足并且有充分的智力刺激环境，所生出的婴儿身体较健康，智力较高。

　　据国外神经学专家研究，胎儿从第5周之后形成神经细胞，因此父母亲希望宝宝有什么样的智力，希望能够在有利的条件下增进遗传中大脑潜力的发展，这在一定程度上是可以预先设计的，其方法很简单，那就是胎教。

　　怎样正确地认识胎教呢？首先，应该了解胎儿的正常生理发育和胎儿的能力。

　　3个月的胎儿皮肤已经有压觉和触觉了；
　　4个月的胎儿有冷觉，有听觉；
　　5个月的胎儿有温热觉，有味觉；
　　6个月时胎儿的听力几乎与成人相等；
　　7个月的胎儿有嗅觉，对痛觉已十分敏感；
　　8个月的胎儿能够凝视光源。

　　胎儿的能力是惊人的，从2个月起胎儿就可以在子宫里运动了，胎儿有习惯也有情绪，更惊人的是胎儿还有记忆，他会对反复的信息刺激产生固定的条件反射，这就是胎儿的记忆。

　　广义胎教指为了促进胎儿生理上和心理上的健康发育成长，同时确保孕产妇能够顺利地渡过孕产期所采取的精神、饮食、环境、劳逸等各方面的保健措施。

　　狭义胎教是根据胎儿各感觉器官发育成长的实际情况，有针对性地，积极主动地给予适当合理的信息刺激，使胎儿建立起条件反射，进而促进其大脑机能、躯体运动机能、感觉机能及神经系统机能的成熟。

　　胎教的真谛在于激发胎儿内部的潜力，所谓“胎儿都是天才”，并不是说胎儿都可以成为天才，而是指指胎儿内部都存在可以激发的潜力，胎儿已经能够接受教育。 

　　胎教虽然能够有效地改善胎儿的素质，提高人口的质量，但不能够使胎儿出生后都成为小天才，或成为智慧超常的儿童。儿童成为小天才的因素很多，除了胎教,，还有遗传的因素、出生后继续教育和环境影响的因素，以及个人的兴趣、意志、品德等非智力因素。因此，经过胎教的孩子只是有可能成为小天才。但有一点可以肯定，胎教有利于胎儿在智慧、个性、感情、能力等方面的发育，有利于其出生后在人生道路上的发展。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>16.一位妈妈的胎教经历 </string>
		<key>des</key>
		<string>        一位妈妈的胎教经历

　　我的怀孕完全是计划中的，很顺利，在决定要小孩的第三个月我就发现自己怀孕了。拿着那条粉嘟嘟的试纸先是激动了好半天，冷静下来想到：“我是不是要进行胎教了？都怎么教呢？都教些什么呢……”

　　姐姐当时已经怀孕5 个多月了，她就是坚持每天听听轻音乐、晚上睡觉前给肚子里的宝宝讲故事。她是大学老师，每个星期只有几节课，平时只要没课她就可以自由安排时间，有足够的时间和精力去进行胎教。

　　而我是个公司的小白领，每天忙得像头驴，加班、出差简直就是家常便饭。所以姐姐那种胎教法根本不适合我，但是如果什么都不做肯定不行啊，这可是真正的人生起跑线啊。

　　音乐是必须的，于是，我和老公去买了一套《莫扎特胎教音乐》。开始几天，我只要在家里，想起来了就打开CD 机，但听一会儿不是犯困就是干别的去了。故事书也买了，国内国外的经典故事全都有，也是睡前讲，可讲了大半年，翻来覆去就是一篇安徒生的《丑小鸭》——没讲几句我这当妈的就先睡着了！后来我又下载了一些适合胎教的轻音乐，中午休息时在办公室里也听一会儿。也是，最初坚持了几天，后来也不了了之。直到儿子出生，那套胎教音乐的第一张碟还没听完，因为每次都是从头开始听的。儿子出生后，我发现他只要听到节奏感强的音乐就扭得很兴奋，才意识到是不是怀孕的时候我每天坐着老公的车上下班，而车上都是我老公喜欢的流行歌曲——我儿子的音乐品味全像了他爸了！

　　现在我有意识地比较了一下儿子和他的表哥(姐姐的儿子)：儿子活泼好动， 喜欢舞枪弄棒、唱歌跳舞，但定力远远不如表哥，玩什么东西只玩一会儿就扔在一旁。他那小表哥喜欢安静，说话像个小大人儿似的，词汇丰富，语言表达能力超强，还很喜欢看书。有一次他在看书，我儿子在他旁边玩玩具，弄得哗啦哗啦响，他只是瞟了一眼就又继续看书了，这种定力有时候连我们大人都没有，真是令我羡慕不已。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>17.可是，准妈妈们总是暴脾气</string>
		<key>des</key>
		<string>        可是，准妈妈们总是暴脾气

　　在未来的孕期，准妈妈的情绪波动会很大，甚至有些准爸爸觉得家里的准妈妈简直就是个神经婆+ 泼妇！神经兮兮、喜怒无常，有时又格外多愁善感，看电视剧动不动就掉眼泪；有时又变得异常暴躁，在公共场所如果有人抽烟，她就恨不得打人家几个巴掌，更为可怕的是，她开始不停地挑家里人的毛病，最惨的当然是准爸爸。

　　★ 情绪波动是怀孕中的一部分
　　这多半是孕激素在捣乱，它们被认为是准妈妈情绪多变问题的部分原因，另外，部分情绪波动只是由于怀孕对准妈妈而言是一个巨大的变化。准妈妈有可能在某一天因为想到有了宝宝而欣喜若狂，然后马上又担心起自己的未来。
　　确实，在接下来的9 个月里，准妈妈将有一个又一个的不适应：不能随心所欲地吃东西，不能去人多的地方凑热闹，恶心、尿频、变胖，还有各种不知哪儿来的痛不定时地侵扰……让准妈妈不堪其烦。还有，稍有不慎就生怕对自己的小宝宝有什么不好，会自责、负疚得要命。有时又觉得自己伟大得不得了——自己原本扁扁的肚子，怎么就孕育出来一个新生命？有时又没完没了地胡思乱想，比如说下面这些担心，会在怀孕初期不停地往外冒：
　　宝宝健康吗？
　　怀孕的9 个月里，我是不是一直这么疲倦？
　　老公真的能理解我所经历的一切吗？
　　知道会恶心，怎么恶心成这样？
　　生孩子会不会很疼？到底有多疼？
　　我变得又丑又肥怎么办？
　　宝宝出生后，“下面”会不会缩回原来的样子？
　　我能当个好妈妈吗？
　　……
　　有个欺负人的说法，女性在孕期智商会下降4% 左右，难道怀孕还会让人变傻？其实，这多半是情绪给闹的，常常无法集中精力做事，当然会显得有点傻里傻气或是慢半拍。

　　★ 平息孕来疯
　　无需担心，绝大多数准妈妈在孕早期都是这么神经质，准妈妈们总是被幸福和担忧搞得晕头转向。　
　　准妈妈们需要相信这一点：过了孕早期，准妈妈则会慢慢地接受现在的准妈妈身份，不安的情绪会大有改善。一切都会好起来的，担心不会有任何好处。如果你在孕前就看了这段文字，那么更好了，这更是为平息你的情绪加了砝码，那些大惊小怪可能不会在你身上发生。
　　但是，当你没完没了地胡思乱想或是闷闷不乐时，最好不要听之任之，别忘了，宝宝需要一个安静祥和的环境生长。所以你可以找点事做让自己平静下来——找个朋友聊天或是出门散步，哪怕只是打个电话也好。缓解焦虑最好的办法就是说出来，把你的感觉说给你的朋友、家人，或者如果你愿意，也可以说给医生听。
　　还有一个办法就是睡觉，这点在孕早期尤为重要，因为孕早期会有明显的疲劳感，它一般开始于当你发现经期未能如约而来，并一直持续到怀孕的第14~20周。这时候，最好的办法就是睡！如果你在家里，每天睡个午觉；如果你在工作，做完事就打个盹。在孕早期的前3 个月，每天睡10 个小时都不为过。
　　如果实在抓不到人聊天，又不想睡觉，就抬起头来看看天空吧，这是一种解压的好方法，你可以坐在窗口或是公园的长椅上，抬起头看看天空中的云，像孩子那样认真地看，并想一想它们像什么？像一只船？还是像只小熊？有资料说，这种形象的思维不仅可以稳定情绪 ，还对开发右脑大有帮助呢，同时也是不错的胎教方法。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>18.受过胎教的宝宝会更加聪明   </string>
		<key>des</key>
		<string>        受过胎教的宝宝会更加聪明

    　(1)受过胎教的宝宝不爱哭。
　　受过胎教的婴儿虽然在饥饿、尿湿和身体不适时也会啼哭，但得到满足之后就会停止。另外，受过胎教的婴儿有较强的感应能力，所以，他们听到妈妈的脚步声、说话声便会停止啼哭。最后，受过胎教的宝宝容易养成正常的生活规律，例如在睡觉前播放胎教音乐或妈妈哼唱催眠曲，婴儿就能很快入睡，满月后就基本形成了白天醒、晚上睡的习惯。

　　(2)受过胎教的宝宝学发音较早。
　　受过胎教的婴儿2个月时会发几个元音，4个月时会发几个辅音，5～6个月发出的声音就可以表达一定的意思。

　　(3)受过胎教的宝宝心理行为健康。
　　这些宝宝一般情绪比较稳定，总是乐呵呵的，非常活泼可爱，夜里很少哭闹。爸爸妈妈会觉得宝宝好带，与整天笑呵呵的宝宝在一起，家人也会发现有无限乐趣。

　　(4)受过胎教的宝宝对音乐敏感，有音乐天赋。
　　受过胎教的宝宝一听见音乐就会非常高兴，并随韵律和节奏扭动身体。

　　(5)受过胎教的宝宝能够较早地理解语言，显得非常聪明可爱。
　　受过胎教的婴儿，在4个半月时就能认出第一件东西，在6～7个月时就能辨认手、嘴、水果、奶瓶等。他们能较早理解“不”的意思，早期学会服从“不”，所以，这样的宝宝更懂事、更听话。它们较早就能用姿势表达语言，例如“欢迎”、“再见”、“谢谢”等动作，也能较早理解别人的表情。

　　(6)受过胎教的宝宝学说话较早，入学后成绩也比较优秀。
　　实验证明，经过胎教和早教的宝宝9～10个月时就会有目的地叫爸爸妈妈，在20个月左右便能背诵整首儿歌，也能背数。需要注意的是，如果宝宝出生后不继续加以发音和认物训练，胎教的影响在6～7个月时就会消失

      (7)受过胎教的宝宝能较早与人交往。
　　婴儿出生2～3天就会通过小嘴张合与大人“对话”，20天左右就会逗笑，2个多月就能认识父母，3个多月就能听懂自己的名字。

　　(8)受过胎教的宝宝双手的精细运动能力发展良好。
　　手的抓、握、拿、取、拍、打、摇、对击、捏、扣、穿、套等能力强。

　　(9)受过胎教的宝宝有浓厚的学习兴趣。
　　他们喜欢听儿歌、故事，喜欢看书、看字，在他们还不会说话的时候，就拿书要妈妈讲，他们有惊人的学习汉字的能力，智能得到超常发展。

　　(10)受过胎教的宝宝运动能力发展很好。
　　他们抬头、翻身、坐、爬、站、走都比较早，而且动作敏

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>19.孕期如何胎教才能更科学？</string>
		<key>des</key>
		<string>        孕期如何胎教才能更科学？

        核心提示：让孩子“赢在起跑线上”可以说是每位父母的愿望，而胎教正成为众多准妈妈身体力行的一种方式。然而，是不是接受过胎教的孩子智力发育一定会超乎寻常?请关注孕期胎教如何才能更科学?

　　中国自古以来就注重“传宗接代”，事实上，胎教在古代就已经有了许多记载。早在汉代，各种书籍中就出现了大量关于胎教内容的记载和论述，而宋代名医陈自明在《妇人大全良方》中就有专篇“胎教论”。现代，随着人们生活水平的提高，准父母们对于孩子的早期教育更是费尽心思。

胎教在社会上越来越流行

　　目前，社会各界对于胎教的争论主要分为两派：一部分人认为胎教是没有科学理论依据的，甚至提出胎教会对胎儿造成伤害这样的论点;而另一部分人认为，对孩子进行胎教，可以促进胎儿大脑的发育，有利于孩子在智慧、个性、感情、能力等方面的发展。

　　不论胎教科学与否如何争论，胎教在社会上还是越来越流行。据育婴师国家职业资格培训专家、儿童健康指导师培训专家孙杰介绍：“就我国而论，年轻的父母在孕期实施胎教的人数非常大，据不完全统计比例在95%以上。”但同时孙杰也指出：“真正做到科学合理胎教的人数非常少。”

　　一般人对于胎教最大的疑惑就是：肚子中尚未发育成熟的婴儿是否有接受胎教的能力?对此孙杰解释说：“严格意义上对孕期孕妇采用的措施不能称之为胎教。因为从广义上讲，教育是让人增进知识和技能的;从狭义上讲，教育是学校教育。所以把胎教称为孕期的干预更为合理，即通过一系列科学的措施，促进胎儿正常发育。”

　　“孕期干预的目的主要是通过对孕妇情绪的调整，合理的营养供给，为胎儿提供良好的生活环境。以音乐胎教为例，有资料显示：胎儿在5个半月时，就有了听力，所以此时听舒缓的音乐可给胎儿提供听觉享受。而音乐胎教也不单纯仅仅针对胎儿。不管是给准妈妈还是给胎儿听音乐，都是通过音乐来调整准妈妈的情绪，促进胎儿的发育。”孙杰说，“又如，胎儿比较喜欢听低频的声音，所以如果准爸爸经常给胎儿进行交流或讲故事，更有利于胎儿的发育。孕妇在平时读书时可以读出声音来，因为声带的震动对胎儿也是很好的刺激。孕妇喜欢唱歌也可以唱出声音来，这种愉悦的情绪同样会影响到胎儿，促进妈妈的新陈代谢，为胎儿提供足够多的营养。”

科学合理的胎教很重要

　　目前来说，许多准父母都不了解如何正确地进行胎教，对此孙杰介绍：“严格的胎教应该从孕前准备开始，调整夫妻双方的情绪、生活习惯、营养，夫妻双方一起欣赏舒缓优美的音乐，共同读一本好书等。重要的是要选择有专业机构的设计和制作的音乐，最好是古典的交响乐曲，要在培训过的专业人员指导下进行。”

　　对于合理的时间，孙杰介绍：“无论是给胎儿听胎教音乐，还是对胎儿进行抚摩动作训练，都要在胎儿清醒时，且能使胎儿从母亲供血当中获得足够营养的条件下进行，例如母亲饭后两小时内，这段时间母亲血内的葡萄糖含量能够满足胎儿需要，是最佳胎教时间。”

　　“当然胎儿在不同的阶段具有不同的能力：4个月的胎儿会动，所以可以给胎儿做体操，通过羊水的流动促进皮肤触觉的发育。5个月的胎儿具有听觉能力，可以听到声音，这时可以听音乐和语言刺激。5个半月的胎儿具有视觉能力，可以适当给予视觉刺激。”

　　具体的胎教手段上，孙杰说道：“例如，在音乐胎教时不应选择不合格的音乐的磁带，比如选择音频较高的、节奏很强的摇滚乐，会对 胎儿的听觉神经有一定的影响，所以建议选择舒缓的交响乐曲，同时听的时间不要太长，因为胎儿神经受单种刺激时间太长容易疲劳或暂时失去功能，如果长期这样就会影响胎儿神经的发育，可能就会对孩子的听力有影响。”

　　“又如，婴儿体操等，对早期有宫缩的孕妇不要用这种方法，以免造成流产，尤其习惯性流产者，禁止做。做抚摩时不要用力按压，也不要做大幅度旋转，以免脐带扭转造成对胎儿的危害。抚摸时可根据胎教专用磁带的音乐的节奏柔和进行。”

胎教作用不能片面夸大

　　据孙杰介绍：“对胎教的认识上，应该正确合理的对待，不能夸大胎教的影响，也不能忽略某些因素的影响。&quot;不要让孩子输在起跑线上&quot;，甚至&quot;不要让孩子输在起点上&quot;等不科学的宣传，使得很多的家长急功近利，在对于胎教或早期干预方面比较的盲目。”

　　“准父母要客观的看待这个问题，当胎儿具备一定的能力适当给予刺激，可以促进胎儿的发育，但不能夸大胎教的作用。”孙杰认为：“科学合理的胎教肯定对孩子有一定的影响，但是在具体的统计情况来看很难做出判断，因为孩子的成长受很多因素的影响，如遗传、环境及主要的看护人、看护方式等等。”

　　“例如，如果这个孩子本来就具有的音乐的天赋，妈妈在孕期也进行了音乐胎教，就很难判断是胎教的因素还是孩子本身的天赋。即便是做智力的测查也很难判断，因为测查的结果和孩子当时的状态和测查者的经验有直接的关系，这里有很多人为的因素。”

　　总的来说，胎教不仅仅给胎儿听听音乐、讲讲故事、做做操，主要通过调整孕妇本人的情绪和生活习惯等，同时在胎儿发展的不同的阶段，根据胎儿发育的特点，在专业人员的指导下，实施科学合理的干预措施。所有的胎教内容和方式都是为了给胎儿提供适宜的内外环境，只有在适宜的环境里，胎儿才能健康的发育。


</string>
	</dict>
	<dict>
		<key>title</key>
		<string>20.音乐做胎教 宝宝EQ高 </string>
		<key>des</key>
		<string>        音乐做胎教 宝宝EQ高

医师建议，孕妇可以多听一些优美的音乐，藉由心境的改变，提前来为孩子作心灵教育。

轻轻抚摸著即将出生的宝宝，刘妈妈正在用音乐作胎教，说起胎教，很多准妈妈们都会看可爱的婴儿图片，不过医师表示，音乐对孩子的内在美帮助更大，因为透过聆听优美的音乐，妈妈的身体会分泌良性的荷尔蒙，不但可以强化和胎儿之间的亲密感，更可以陶冶孩子的EQ。现在正怀著第四胎的林妈妈，每一次都有作音乐胎教，他说听不一样的音乐，孩子的个性也会不一样至於有没有哪种音乐不适合作胎教呢？

医生说，太嘈杂的音乐可能会影响胎儿的健康所以如果有准妈妈是摇滚乐迷的话，在怀孕期间可能要克制一下了。 

孩子的情商相当重要。培养孩子的情商，是每一个父母的责任。音乐胎教是一个比较有效的方法。但是不要过于强调音乐的作用。这不过是一个普通的影响因素而已。 母亲的平和的情绪帮助更大。

音乐胎教，是通过对胎儿不断地施以适当的乐声刺激，促使其神经元的轴突、树突及突触的发育，为优化后天的智力及发展音乐天赋奠定基础。
一个人的智力的优劣与神经元的发育有直接关系。因为，脑神经元表面有一大的分支称为轴突，有很多小的分支称为树突，两个神经元之间依靠轴突、树突相互接触而传递冲动（即沟通信息），其接触的部位称为突触。而胎儿的脑发育需要音乐的良性刺激。 

医学研究证明：音乐胎教可以使胎儿的脑神经元增多，树突稠密，突触数目增加，甚至使本无关联的脑神经元相互连通。医学研究还表明：胎儿在子宫内最适宜听中、低频调的声音，而男性的说话声及唱歌声正是以中、低频调为主。因此，爸爸是音乐胎教中的最佳任课老师。 
音乐胎教的方法有多种：

       一、音乐熏陶法和哼唱谐振法：音乐熏陶法是指通过播放收听轻音乐，让孕期生活中充满优美的乐声，使孕妇的精神愉悦，心情舒畅；哼唱谐振法是指孕妇用柔和的声调哼唱轻松的歌曲，同时想象胎儿在静听，从而达到与胎儿心音的共鸣。 
       二、父教子“唱”法：爸爸可以抚摸着妈妈的腹部，对着其中的胎儿，反复轻声“教唱”一些简单的音阶或儿童歌曲。
       三、胎教器传声法：从妊娠22周左右开始，在医生的指导下，选用适当的胎教器和胎教音乐进行音乐胎教。 
　　 
胎教音乐选择原理

物理声学与生理声学的基础 
      国内有学者对声音能否传到孕妇的子官曾作过研究，结果表明：低于1KHZ的声波可以衰减不大地透人腹中。部分实验并与“B超”同步进行，当体外声音突然停止时观察到了胎儿胎动现象。这证实了体外的声音传人了体内，并被胎儿所“听到”并做出了反应。这一研究结果表明“胎教”有可靠的科学依据。 

心理声学及音乐心理学的基础 
      近代音乐心理学的研究告诉我们：音乐能激励人的情绪，音乐由人脑的右半球主使，而右脑开发得越早就越能增强人的形象思维能力。而从胎儿能感知声音就对其施以音乐的激励，让小生命在无忧无虑没有压力的条件下接受胎教，这对提高我们后代的智力和素质是大有好处的。

选定节目的理论基础 
      研究还表明：只有符合1/f波动的声音才能带来有益的刺激，并通过听觉中枢传导系统作用于大脑，引起神经细胞的兴奋性，改变下丘脑递质的释放，从而调节内分泌系统及植物神经系统的活动，促使人体分泌一些有益健康的激素、酶、乙酞胆碱等，使机体保持在极性状态。自然界中诸如大海和波涛，瀑漏的溪流，微风轻吹的声音及一些鼓乐，经典名曲等，听到这类声音能使人心情但然，给人以一种无形的抽象安慰。这就是&quot;1/f波动理论&quot;。 

孕妇慎行音乐胎教
      有应年轻的女土怀孕之后，为了生一个聪明伶俐的孩子，便从市场上购买了几种不同的胎教育乐磁带。从孕13周开始，每天把那心脏形状的传声器放在腹部，让胎儿听1小时音乐。心想，这回生出的孩子定会聪明伶俐，活泼可爱。谁知孩子出生后长到两岁多了，仍不会说话，对外界的音响毫无反应，不理不睬。这一下家人慌了手脚，抱着孩子去医院看医生，原来孩子是个聋儿。经耳鼻喉科的专家检查，发现孩子的耳蜗及听觉神经已遭到严重破坏，回天无力，难以治好。孩子的父母这才如梦方醒，痛心疾首，追悔莫及。 

      给胎儿进行智力胎教，天天听胎教音乐，反而使胎儿失聪，是什么原因呢?当精子和卵子相结合成为受精卵后，便到子宫安家落户，发育为胚胎，此时，父母的智力遗传基因早已在胎儿细胞的核酸之中。所有的生物遗传基因，其中包括胎儿神经系统的结构、机能及智力水平等，已贮存于DNA的核苷酸链的排列顺序之中。基因便按照严格的遗传密码进行自我复制，使后代表现出与亲代相似的性状和特征。而不是像人们所想象的那样，让胎儿听听音乐，对着肚皮喊喊，就会使智力遗传密码改变。

      正因为如此，胎儿的大脑神经系统结构和机能不可能超限度地发展。尤为要命的是，市场上的胎教音乐磁带良莠不齐，买回不合格的胎教音乐磁带，天天让胎几去听，如果音频高达4000-5000赫兹，这种声能很大的胎教音乐，对胎儿的听力损伤极大。因为孕妇是直接把心形或哑铃形的传声器放在腹壁上，声波可长躯直入母体内，胎儿内耳基底膜上面的短纤维受到高频声音的刺激后，极易遭到伤害。轻者出生后听力减退，可能只听到说话声，但却听不见高频的声音。在正常人津津有味地欣赏音乐时，他(她)地听不入耳，单调发闷。到了中老年后会过早地出现耳聋。严重者出生后便丧失了听力，永远坠入无声的世界。 

      值得提及的是，有人认为生活在母腹中的胎儿已有眨眼、蹬腿、吸吮等活动，也具有听觉和记忆，只要实施胎教就能促使孩子的智力发育。这只是一厢情愿。真实，做为未来的父母应该明白，虽说胎儿的大脑已能发出脑电波，还具有视、听、味、触的感觉能力，但应看到胎儿毕竟是生活在“世外桃源”的宫内环境中，不可能像出生后的婴幼儿那样，接触外面多姿多彩的世界，受到各式各样的刺激，这些制约又加上胎儿没有语言无法交流，所以说在宫外你对胎儿实施社会文化教育，尽管苦口婆心，试想，胎儿能接受吗? 

      这样讲，是不是说不需要对胎儿进行胎教呢?不是的。关键是不要迷信胎教音乐。专家指出，中国数千年传统的母教式胎教，是科学的符合优生要求的。

      在孕期应做到:1.注重情志养生，乐观练达，始终保持一颗愉悦的平常心。帮有“良好的情绪是最佳胎教”之说;2.生活环境舒适，起居有常，不妄作劳，睡眠充足;3.膳食结构平衡合理，不偏食、不挑食，保证孕期各种营养素的摄入;4.持之以恒地进行适度运动锻炼，动静结合;5.戒除烟酒等不良嗜好，更忌吸霉；6.衣食住行讲究卫生，预防疾病，特别是病毒感染性疾病；7.慎用中西药物;8.不接触猫、狗等宠物;9.避免有害射线和各种化学性毒物。只要加强孕期自我保健，就能生一个心身健康的好宝宝。 
　　 
音乐胎教，请注意勿损伤胎儿的听力

      据有关专家介绍，目前，市场上的胎教音乐磁带大都附有一个传声器，孕妇把它放在腹壁上使声波直接进入体内。这种传导的方式，其高频声音对胎儿内耳基底膜上面的短纤维刺激很强，耳蜗底部最易遭到破坏。 
      为了预防高频声音损伤胎儿的听力，在进行音乐胎教时，请注意以下几点：

      1尽量降低磁带的噪音或不使用传声器 
      2最好请专业人员帮助选购磁带。以确保磁带的质量。 
      3每次听的时间不宜过长。 
　　 
     音乐胎教，是通过对胎儿不断地施以适当的乐声刺激，促使其神经元轴突，树突及突触的发育，为优化后天的智力及发展音乐天赋奠定基础。
 
       一个人智力的优劣与神经元的发育直接关联。因为，脑神经元表面有一大的分支称为轴突，有很多小的分支称为树突，两个神经元之间依靠轴突，树突相互接触而传递冲动（即沟通信息），其接触的部位称为突触，而胎儿的脑发育需要音乐的良性刺激。 
       医学研究表明，音乐胎教可以使胎儿的神经元增多，树突稠密，突触数目增加，甚至使本无关联的脑神元相互连通，医学研究还表明：胎儿在子宫内最适宜听中，低频调的声音，而男性的说话声及唱歌声正是以中，低频调为主。因此，父亲是音乐胎教中的最佳&quot;科任老师&quot;。 

音乐胎教可以分为３个方面实施：
       1.孕妇用音乐熏陶法与
        2.父教子&quot;唱&quot;法：具体做法是父亲采用练习音符发音，例如&quot;１，２，３，４，５，６，７&quot;&quot;７，６，５，４，３，２，１&quot;。反复轻声教唱若干遍。
      3.胎教器传声法，从妊娠22周左右开始。 
　　 
音乐有助于胎儿身心发育吗? 
        音乐可以给孕妇创造一个良好的胎教环境。音乐胎教以优美、轻柔的旋律和节奏，改善孕妇的情绪状态，给胎儿的身心发育以良好的刺激。音乐对人的影响是极其复杂的，不同的音乐可以激发人们不同的情绪，如节奏鲜明的音乐能使人精神振奋，受到鼓舞；旋律优美的音乐能使人感到热血沸腾，产生一往无前的力量；音调低沉、悲伤、节奏缓慢的音乐能使人满腔愁绪。
        如果孕妇长期听摇滚乐、迪斯科等，会使孕妇神经内分泌系统受到强烈的刺激，使人体过多地分泌肾上腺素、去甲肾上腺素和皮质激素，从而干扰破坏心血管系统的正常调节功能和人体正常的新陈代谢功能，进而造成胎盘供血不足，引起胎儿发育不良。适当的音乐，会使胎儿的心率随着音乐的节奏变化。经过“胎教音乐”训练的胎儿，反应快，语言能力强，动作协调敏捷。 
       “耳聪目明”，足见听觉对人智力发育的重要性。音乐胎教，主要是对胎儿进行听觉训练。譬如孕妇在做家务、整理房间时，只要有时间就可以哼唱一些歌曲，让胎儿不断地听到母亲那合着旋律的动人歌声，传递身体的“爱的信息”，对奠定母子交流的基础是最有效的方法，对于培养胎儿的感受性来说，也是相当重要的。 
        音乐能培养人丰富的感受性。在休息时，选择听节奏缓慢、悠扬动听、 旋律柔和的乐曲，如“小夜曲”、“圆舞曲”、“摇篮曲”、“小神童曲”等，让孕妇从紧张繁忙的工作中解脱出来，会使你和胎儿的心理充满和平与幸福。 
        孕妇听音乐，应根据生活规律，随时听取，但不宜戴耳机，音量应控制在45～55分贝之间。给胎儿听音乐的时间不宜过长，一般是5～10分钟，时间选在晚上7～9点比较好。凡4个月以上的胎儿都可以听音乐。让您的小宝宝从胎儿时期就感受音乐的魅力吧!

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>21.孕期抚摸胎教八大注意事项   </string>
		<key>des</key>
		<string>　　抚摸胎教是准爸爸妈妈与胎宝宝之间最早的触觉交流，通过抚摸孕妈妈的腹部，使腹中的宝宝感觉到爸爸妈妈的存在并作出反应。
　　1.抚摸胎教应有规律性，每天2次，坚持在固定的时间进行，这样胎宝宝才能心领神会地在此时间里做出反应。
　　2.抚摸胎宝宝之前，孕妈妈应排空小便。
　　3.抚摸胎宝宝时，孕妈妈避免情绪不佳，应保持稳定、轻松、愉快、平和的心态。
　　4.进行抚摸胎教时，室内环境要舒适，空气新鲜，温度适宜。
　　5.进行抚摸胎教时，如能配合对话胎教和音乐胎教等方法，效果会更佳。
　　6.一般在孕早期以及临近预产期不宜进行抚摸胎教。
　　7.有不规则子宫收缩、腹痛、先兆流产或先兆早产的孕妈妈，不宜进行抚摸胎教，以免发生意外。
　　8.曾有过流产、早产、产前出血等刁;良产史的孕妈妈，也不宜进行抚摸胎教，可用其他胎教方法替代。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>22.孕期如何数胎动？ </string>
		<key>des</key>
		<string>        孕期如何数胎动？
      每个母亲回忆孕期的时候，都会提到宝宝的第一次胎动。有人形象地把胎动比作是胎儿健康的晴雨表，因此，准妈咪必须学习好如何数胎动，认清怎样才是胎动异常，以保证胎儿在发生意外的第一时间能够采取补救措施。

　　一、胎动意味着什么
　　胎动是胎儿显示生命的征象，也就是说，胎儿的每一次胎动，都是在告诫准妈咪：我很健康。因此，不少医院直接把孕妇的胎动作为监控婴儿宫内窘迫的一个重要参考。健康的胎儿来说，往往胎动很多，除了睡眠时间，宝宝会踢腿、挥拳甚至是翻身。对高危产妇来说，数胎动显得更加重要。胎动规律如果发生剧烈变化，可能就是胎儿宫内缺氧而产生了危险。
　　另一方面，产生第一次胎动之后，准妈咪们也可以开始与宝宝进行交流了。如抚摸肚皮，在宝宝踢腿的时候适当的给以回应，也是准妈咪与宝宝进行情感交流的重要途径，宝宝感受到母亲的爱意，自然会产生更大的安全感。
　　因此，孕妈咪必须打起十二分的精神，把数胎动当做是送给宝宝的出生礼物。

　　二、孕妈如何数胎动
　　每一个妈妈的心跳频率都是不一样的，每个宝宝胎动的次数和幅度也是存在一定差异的。因此，孕妈咪数胎动的关键，是找到自己的胎动规律，而不是在网上跟别的孕妈咪比较胎动的次数。
　　目前，中国的产科医生一般会建议你每天数胎动3次，每天早、中、晚各选择一段固定的时间，每次数胎动1个小时。之所以要在固定的时间数胎动，是为了帮你找到宝宝胎动的规律。一般来说，孕妈每12个小时的胎动次数应该在30~40次左右。
　　一般在怀孕后期，胎动的次数会大幅度减少，这是因为胎儿的体积不断增大，宫内的活动空间越来越少。当然，孕妈咪也不必要将数胎动变为精神压力，一段时间感觉不到胎动的时候就变得非常焦虑，而宝宝其实是一切正常的。正如一些准妈咪反映的，她们怀孕期间的胎动次数很少，或者根本感觉不到。

　　三、孕妈发现胎动异常的征兆
　　假如准妈咪已经形成在固定的时间来数胎动的话，那么，准妈咪都会得出一个宝宝的胎动规律。医生一般会建议在怀孕30~32周以后就每天坚持数胎动。那么，孕妈怎样辨别异常胎动呢?
　　1、胎动次数减少。
　　假如宝宝12小时胎动少于20次，则为异常;少于10次，则表明胎儿有危险，在子宫内有缺氧现象。如果在一段时间内胎动超过正常次数，胎动频繁，或无间歇地躁动，也是宫内缺氧的表现。如果宝宝胎动次数明显减少直至停止，都是胎儿在宫内重度窒息的信号，准妈咪就该及时就医了。

　　2、胎动性质剧烈。
　　引起异常胎动的另一个原因是病理情况和功能障碍，如脐带绕颈较紧、胎盘功能障碍，或孕妇不正常用药及外界的不良刺激等，导致胎儿在子宫内缺氧。当胎儿的生命受到威胁时，胎儿与成人一样，也会出现挣扎现象。如果孕妈咪出现强烈的、持续不停的推扭样的胎动或踢动，甚或是微弱的胎动，这些都是不祥之兆，准妈咪们要认真辨清。

　　每个准妈妈能注意到的胎动次数有很大差别，这是因为人各有异，每个人的孕期有每个人的特点，孕期的每一周、每一天又各有不同。经过一段时间的数胎动，每个孕妈咪基本都掌握了宝宝的胎动规律，如每天什么时段胎动会更频繁，什么情景下会促使胎动更活跃。

　　当然，也有一些准妈咪们是感觉不到胎动的。但是，感觉不到并不代表没有胎动。当然，宝宝的生活规律也很重要，假如你的宝宝比较爱睡觉，那么也是不那么容易觉察到胎动的哦!或许是因为准妈咪生活节奏过快，或者说准妈咪性格比较粗糙，未能感觉到胎动而已。如果是这种情况，准妈咪们也应该留心，尽量留出空档把注意力集中在宝宝身上。

　　如果准妈咪因为一天或更长时间无法感受到胎动而担忧宝宝的健康，最好去医院请医生进行胎心检查，来帮助你打消疑虑，过度担忧反而不利胎儿成长。

</string>
	</dict>
</array>
</plist>
