<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>什么是母乳喂养</string>
		<key>des</key>
		<string>母乳喂养是指用母亲的奶水喂养自己孩子的方式。研究表明，母乳中含有热能、蛋白质、脂肪、钙和铁，即维生素等，是婴儿生长发育的最佳选择。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>母乳喂养注意事项</string>
		<key>des</key>
		<string>正确喂养姿势

妈妈完全地放松自己，以舒服的姿势坐着或躺着，哺乳时可以多运用抱枕或被子来支撑自己或宝宝。让宝宝靠近妈妈，脸面对妈妈的乳房，鼻子正对着乳头。宝宝的头、脖子与身体成一直线，宝宝的肚子紧贴着妈妈的肚子。如果是新生儿，妈妈应托着宝宝的头、肩膀及臀部。
妈妈可以用手夹住乳房轻轻碰触宝宝的上唇，等宝宝嘴张得很大，很快地抱宝宝靠近乳房(并非移动妈妈的身体)，让宝宝同时含住乳晕与乳头，而非只含住乳头。

哺乳期禁用药物

当哺乳期妇女用药的时候，往往只着重考虑药物是否影响乳汁分泌，很少考虑药物对婴儿的影响，或者根本不知道哪些药物对婴儿有影响。事实上很多药物可随母亲乳汁进入婴儿体内，从而对乳婴产生作用，尽管有的药物进入乳汁的浓度很低，但对于婴儿来说，危害严重。

哺乳期女性饮食指南

为了促进宝宝的大脑发育，除了要保证母乳的足量，还要保证母乳的高质，因此需要给妈妈添加一定量的健脑食品，以保证母乳能为宝宝大脑发育提供充足的营养。日常饮食中，有许多食品都具有健脑益智功能，如：动物脑、肝、血；鱼、虾、鸡蛋、牛奶、豆腐、豆芽等各类豆制品及豆类；芝麻、核桃、花生、松仁；胡萝卜、菠菜、金针菇、黄花菜；香蕉、苹果、桔子；小米、玉米、红糖。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>母乳喂养的好处</string>
		<key>des</key>
		<string>1、 母乳喂养有利于婴儿健康成长，母乳中特别是初乳，含有婴儿所需要的丰富营养，是任何乳制品不可替代的优质乳，婴儿能吮吸到母乳，对婴儿的健康成长是十分有益的，可谓是百益无害。

2、 母乳喂养有利于产妇恢复身体健康。新妈妈通过生产，使身体、精神都发生了变化，如果产后能采用母乳喂养法，就能帮助产妇的子宫恢复减少阴道流血，预防产妇产后贫血，促进身体康复。同时，还有助于推迟新妈妈再妊期等。

3、 母乳喂养有利于增强婴儿抵抗力、免疫力。有母乳中，尤其是初乳，乳中含有大量的婴儿需要的抗生素，能抗感染。抗病者是其它任何乳制品、食物不可完全具备的，是母乳独有的。因此，婴儿吮吸了母乳，就增强了婴儿的抵抗力、免疫力，让婴儿少生病或不生病。

4、 母乳喂养有利于婴儿消化和健康发育。由于母乳具有多方面的优点，且营养均衡、配比最佳，是其它食品不具有或不完全具有的优点。因此，采用母乳喂养法，它有利于婴儿的消化，有利于促进婴儿健康发育，健康成长。

5、 母乳喂养有利于增进母子情感。俗话说，母子连心。新妈妈们通过婴儿吮吸母亲乳头的刺激，能增进母亲对婴儿的抚爱、关爱、疼爱之情，婴儿通过吮吸母乳，与母亲有切肤之温暖，切肤之亲近，既感到安全，又感到高兴。因此，母子之间的情感就在这微妙之中不断沟通与递进，不断增进和升华。

6、 母乳喂养经济实惠。母乳不仅对婴儿健康成长有利，对新妈妈恢复身体好，而且比其它喂养品成本低廉，经济实惠。

7、 母乳喂养方便快捷。母乳喂养的好处实在多，不仅经济实惠，而且方便快捷，是名副其实的随吃随有，很方便，很适合婴儿少食多餐的需要。因为婴儿进食不像大人，定时定量，婴儿是喊吃就要吃，慢了就哭闹不止，且无规律，如果使用其它食品喂养，很难满足这些要求和条件，只有母乳喂养主能适应与满足。

8、 母乳干净、安全。母乳无可非议，它是喂养婴儿的最佳食品。它安全、干净、无毒，无任何副作用，是其它任何食品都无可比拟的，它是天下新妈妈与生俱来的为婴儿提供的“安全粮仓”。

9、 母乳喂养可降低减少婴儿过敏现象。由于母乳干净、安全、无毒，无任何副作用，且拥有天然的抗生素，抗病毒素等，故用母乳喂养，可大大降低和减少婴儿的各种过敏现象的发生。如果使用其它替代品喂养，就难免产生各式各样的过敏现象，导致婴儿吃不香、睡不安、生活不适，影响婴儿健康成长。

10、母乳喂养可减少女性患卵巢癌、乳腺癌的机率。已有科学家经过调查、统计和分析发现，将母乳喂养和非母乳喂养的新妈妈进得比对，凡使用了母乳喂养的新妈妈患卵巢癌、乳腺癌的机率要大大低于非使用母乳喂养的新妈妈们。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>母乳喂养正确方法</string>
		<key>des</key>
		<string>（一）孕前积极进行乳房保养

从怀孕第5个月开始，经常用香皂和清水擦洗乳头、乳晕，并在清洗后的乳头及乳晕上涂一层油脂，以使乳房皮肤逐渐坚韧；用热毛巾敷盖乳房并轻轻按住，用指腹在乳房周围以画圈方式进行按摩；戴宽松的胸罩，防止过紧使乳腺发育不良及胸罩上的纤毛阻塞乳腺管；每次洗澡后在乳头上涂上油脂，用拇指和食指轻轻抚摩乳头，及早向医生请教矫正内陷或扁平乳头的有效方法。

（二）分娩后尽早给宝宝开奶

按照世界卫生组织和联合国儿童基金会的新规定，产后30分钟尽可能给宝宝开奶，新生儿与妈咪同室同床，以便以不定时、不定量的哺乳原则按需喂养，使宝宝得到最珍贵的初乳。虽然妈咪可能是身心疲惫，乳房也不感到胀，但一定要及早让宝宝吸吮乳房，以免失去最佳时机。

（三）随时给宝宝喂母乳

一开始不必硬性规定喂母乳的次数、间隔和喂奶量，应该是每当宝宝啼哭或觉得该喂了就抱起喂母乳，宝宝能吃多少就吃多少，这样可使妈咪体内的催乳素的分泌增多，从而使泌乳量增加，并且还可预防妈咪发生乳腺炎，避免影响宝宝吃母乳。如果妈咪身体虚弱或伤口疼痛，可以采用侧卧位喂奶，但日后不宜经常躺着给宝宝喂奶，否则会影响宝宝下颌发育，日后引起畸形。

（四）掌握正确的喂奶技巧

在喂奶的过程中，妈咪要放松、舒适，宝宝要安静。妈咪坐在低凳上或床边上，如果位置较高可把一只脚放在一个脚踏上，或身体靠在椅子上，膝上放一个枕头抬高宝宝；把宝宝放在腿上，头枕着妈咪的胳膊，妈咪用手臂托着他的后背和小屁股，使小脸和小胸脯靠近妈咪，下颌紧贴着乳房；妈咪用手掌托起乳房，先用乳头刺激宝宝口周皮肤，待宝宝一张嘴，趁势把乳头和乳晕一起送入宝宝的嘴里；让宝宝充分含住乳头及乳晕的大部分，这一点非常关键，否则光靠叼住奶头吸吮是不可能得到乳汁的，而且宝宝为得到乳汁会拼命去吸吮乳头，妈咪会感到阵阵钻心的疼痛，乳头也容易被宝宝吮破，如果引起乳腺炎就会使母乳喂养难以顺利进行下去；妈咪一边喂一边用手指按压乳房，以便于宝宝吸吮，又不会使他的小鼻子被堵住。

（五）科学合理摄取丰富的营养

要想乳汁分泌旺盛并营养成分优良，妈咪的热能及营养素的需要也相对增加，所以每日应多吃几餐，以4～5餐较为适合；要特别注意多喝一些能催乳的汤类，如炖排骨汤、炖鸡汤、炖猪蹄、豆腐汤、青菜汤等；在两餐之间最好饮水或其他饮料。如果少奶或无奶，千万不要轻易放弃，不妨请医生推荐一些催乳特餐或药膳。但并非进食得越多就越好，因为在坐月子时卧床时间多而活动减少，而摄入的却主要是高热量或肥甘的食物。如果摄入太多，不仅不能增加泌乳量，反而因造成胃肠不适而使乳汁减少。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>母乳喂养三误区</string>
		<key>des</key>
		<string>误区1 ：怕肥胖

现代女性在生育后，大都急切希望能恢复昔日苗条的身材，有不少新妈咪甚至因此在生育后拒绝给宝宝哺乳，理由是怕出现乳房下垂、身材走样等的问题。广州市妇婴医院妇产科何平主任表示，造成身材走样并非母乳喂养所造成，恰恰相反，母乳喂养有促进母亲形体恢复的作用。
产妇大量补充营养才是造成身材走形的主因，正所谓“一个人吃两个人分量”，若能坚持母乳喂养，方可把多余的营养提供给宝宝，保持供需平衡。而且宝宝的吸吮过程反射性地促进母亲催产素的分泌，促进母亲子宫的收缩，能使产后子宫早日恢复，有利于消耗掉孕期体内堆积的脂肪。

误区2 ：怕劳累

剖腹顺利诞下女儿，罗太太总算松了一口气。痛楚、疲倦随之而来，加上担心哺乳的动作会再次弄伤伤口，不少产妇不愿意立刻给宝宝喂奶：“休息一下，等体力恢复了再喂。”宝宝哭喊着，罗太太的家人担心会吵醒才刚睡着的罗太太，“细心”地把宝宝推出房间外面。第三天，罗太太准备喂奶，可是无论再怎么努力，都没有奶。赶紧进补喝汤，仍不见奏效。看着别人喂孩子不费吹灰之力，罗太太急得抱着女儿哭了起来。
广州市妇婴医院妇产科骆蓓君护士介绍，出生头一两天的喂养很重要。新生儿在出生后20-30分钟之间，吸吮反射最为强烈，在出生后的第一个小时。有不少新妈妈奶水不足其中一个原因是对乳房的刺激不足。生产后头一两天，宝宝的吮吸对乳房的刺激，除了能让宝宝适应乳头吮吸的感觉，养成良好的吮吸习惯，也能刺激母乳的分泌，保证哺乳期乳汁的足量供应。骆蓓君护士支招，无论是顺产或剖腹产，产妇只要掌握正确的抱婴、哺乳姿势，是不用担心扯动伤口的。

误区3 ：怕疼痛

有的妈咪是因为喂奶时乳房和乳头疼痛，因此不想喂养了。
出现乳房疼痛、乳头皲裂其实是因为喂养方法不当所致。
WHO《促进母乳喂养成功的十点措施》
1.有书面的母乳喂养政策，常规的传达到所有保健人员。
2. 对所有保健人员进行必要的技术培训，使其能实施这一政策。
3. 要把有关母乳喂养的好处及处理方法告诉所有的孕妇。
4. 帮助母亲在产后半小时内开始母乳喂养。
5. 指导母亲如何喂奶，以及在需要与其宝宝分开的情况下如何保持泌乳。
6. 除母乳外，禁止给宝宝吃任何食物及饮料，除非有医学指征。
7. 实行母婴同室，让宝宝和母亲一天24小时在一起。
8. 鼓励按需哺乳。
9. 不要给母乳喂养的宝宝吸橡皮奶头，或使用奶头作为安慰物。
10.传达母乳喂养支持组织已建立的信息，并将出院母亲转给这些组织。</string>
	</dict>
</array>
</plist>
