<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1、要孩子还是要宠物？养猫会导致流产吗？</string>
		<key>des</key>
		<string>	流言：养猫会导致流产。

	真相：要孩子还是要宠物？这是很多年轻城市女性曾经、正在或者将要面临的问题。谣言粉碎机也多次收到类似的求助。问题的核心则是一种绝大多数人只闻其名从未见过真容的寄生虫——弓形虫。很多准妈妈和预备役准妈妈都被告知过，她们的宠物很危险，因为会传播弓形虫，而弓形虫是一种可怕的对胎儿很不利的虫子。

	弓形虫不遥远

	我们经常提及的弓形虫大名叫作刚地弓形虫（Toxoplasma gondii），是一种单细胞的原虫，从某种意义上说，它几乎是地球上最成功的单细胞动物。然而，同它更大名鼎鼎的亲戚——疟原虫相比，这种虫子走进人类的视野却是很晚近的事。1908年，法国两位学者在北非的刚地梳趾鼠（Ctenodactylus gondii）体内发现了弓形虫。

	在其后的一百年里，随着科学家研究的不断深入，人们越发发现弓形虫的不凡之处。它能感染几乎所有的恒温动物，大约50%的猪牛羊鸡鸭鹅、60%的鼠类和野鸟、70%的猫都是它的活动旅馆。人类也没有“免俗”，22%的英国人、22.5%的12岁以上美国人、67%的巴西人、80%的荷兰人和德国人、88%的法国人都曾经感染过弓形虫。根据不同的研究，我国人口弓形虫感染率在全世界处于较低的水平，大约是5%～20%。即便如此，我们身边的“弓形虫病病人”仍然是一个相当庞大的群体。同时，我们又似乎并没有感受到这一点。这是因为弓形虫感染很少会造成严重的后果，对于免疫功能良好的人群，第一次接触到弓形虫顶多会导致轻微的类似流感的症状，比如疲劳、肌肉酸痛、发低烧或者是淋巴结肿大，用不了多久这些症状也会消失。不过对于那些免疫力十分低下的人，比如艾滋病患者和正在服用抗排异药物的器官移植病人来说，弓形虫则可能是致命的。非常酷的英国电影《猜火车》里，一个因吸毒感染了艾滋病的小伙子Tommy就死于弓形虫病。

	准妈妈的担忧

	还有一个潜在的危险，是人们更关心的，那就是弓形虫可以穿过胎盘屏障，由母亲传播给胎儿。一旦出现这种情况，对胎儿的健康会造成不小的风险。有研究表明，妊娠13、26、36周首次感染弓形虫的孕妇，胎儿感染率分别为6%、40%、72%，症状发生率分别为61%、25%、9%。所谓的症状包括流产、神经系统发育不良、脑积水和致盲等。要注意到，这里特别提到了首次感染，也就是说，这种风险仅存在于在妊娠期间第一次被弓形虫感染的女性中。谣言粉碎工综合了国内诸多文献的数据，孕期女性首次感染弓形虫的概率远低于1%。

	弓形虫如何“上身”？

	那我们是怎样被弓形虫“上身”的呢？除了前面提到的母婴传播以及极其罕见的通过输血和器官移植传播之外，最主要的途径是“虫从口入”。要么是被猫粪便污染的食物、器具和饮用水，要么是没熟的肉类。之所以特别提到猫，是因为在弓形虫复杂的生活史中，只有猫科动物能成为弓形虫的“终宿主”。换句话说，虽然弓形虫并不“挑剔”，但是它只有在猫科动物的肠壁里才能形成有传染性的“卵囊”，而在其他动物体内只能进行无性繁殖，不能向外界散播后代。

	这样看来，感染率高达七成的猫的确是危险分子。不过研究发现，只有首次感染弓形虫的猫在感染的最初两周内会通过粪便传播虫卵。而且，猫粪中的弓形虫卵囊需要在外界环境中“孵化”一天才具有传染性。如此算来，一个准妈妈养到一只刚好具有危险性的猫的概率非常小。即便如此，如果可能的话，准妈妈们还是把打扫猫砂和猫舍这样的活儿交给笨手笨脚的准爸爸们干吧。

	与养猫相比，包括美国疾病预防与控制中心在内的医疗机构都将食用不熟的肉类作为更危险的感染因素。英国曼彻斯特理工大学（University of Manchester Institute of Science and Technology）的几位分子生物学家分析了来自英国各地肉店里的71份肉样品，结果发现38%都被弓形虫感染了。我国还没见到有类似的调查，但相信结果也不太令人乐观。看到这里，那些热衷于吃涮肉和带血牛排的女读者们可要注意了，为了安全，还是暂时牺牲一下口腹之欲吧。另外，谣言粉碎工建议您，厨房里生熟食物分开也是必要的。因为除了弓形虫，很多更烈性的微生物也会钻这个空子。

	弓形虫的另类功效

	让我们跟随谣言粉碎工暂且回到老鼠那儿去。在2000年发表的一篇名为《感染了弓形虫的老鼠的致命诱惑》（Fatal attraction in rats infected with Toxoplasma gondii）的论文里，牛津大学的三名科学家发现，感染了弓形虫的老鼠非但不怕猫，反而主动往有猫尿痕迹的地方凑。真是“老鼠怕猫，那是谣言”。当然，结果就是，感染了弓形虫的老鼠更容易变成猫儿的美餐。如果从弓形虫的角度来看，这是再美妙不过的过程，因为前面咱们说过，只有在猫体内，弓形虫才能走完整个生活史，产卵向环境散播更多的后代。这样一来，老鼠就变成了复制运输弓形虫的工具。至于为啥这样，科学家们还是一头雾水，推测是弓形虫影响了老鼠大脑的某些结构，促进了诸如五羟色胺之类的所谓快乐物质的分泌，让老鼠们变得“勇者无畏”了。

	这不禁让人思考，感染了弓形虫的人是不是也会有点儿不一样呢？果真如此。罕见的急性弓形虫感染的病人，往往会出现幻视幻听和意识模糊，以至于往往被当成精神分裂症来治疗。同时，精神分裂症患者感染弓形虫的比例比普通人高。虽然不能解释所有的精神分裂症成因，但弓形虫至少提供了一个新的研究途径。

	即便是在普通人群中，弓形虫似乎也与一些所谓的“气质”有点关联。捷克查尔斯大学的雅罗斯拉夫•弗莱格（Jaroslav Flegr）总结说，养猫的人更稳重，不爱猎奇；养猫的女人更勤奋；养猫的男人却更小心眼，爱嫉妒。这背后的原因可能都是弓形虫在作怪。

	弗莱格的另一项研究结果更出人意料，在2007年发表于德国《自然科学》（Naturwissenschaften）上的一篇文章中，弗莱格和他的同事指出，最近感染过弓形虫的女性怀孕生男孩的概率高达0.608，而平均值才0.51。如果这个结果能经得起更多研究的考验，这将是第一种简便易行的生男方法——如果你不担心由此可能造成的胎儿发育不良等问题的话。

	结论：部分证实，感染弓形虫确实可能给孕妇带来麻烦，甚至引发流产。但感染弓形虫的渠道有很多，猫（粪）只是其中之一。其他动物不能向外界散播弓形虫后代，可能的途径就是吃下含有弓形虫活体的生肉。做到不吃生食、厨房里的生熟食物分开，很容易就能杜绝这个途径的传染。而猫作为弓形虫唯一的主动散播工具，也具有一定的时效性——首次感染的最初两周。准妈妈遇到这种危险猫咪的几率已经非常低了，加上注意不要接触猫粪便，注意清洁和洗手，感染的可能性会进一步降低的。弓形虫这样的人畜共患病听上去好像挺吓人，但其实更多的危险来自于那些能在人与人之间传播的疾病。从这个角度说，各位准妈妈床上那只两条腿走路的动物才是更该提防的。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>2、了解孕期用药的分类，哪些药吃不得？</string>
		<key>des</key>
		<string>
	上世纪60年代初，西欧曾用“反应停”治疗妊娠呕吐，以后陆续报道了肢体畸形短小的“海豹儿”及缺耳、眼、心脏畸形等“反应停”所致的畸形儿，服用“反应停”者所产婴儿50～80％发生畸形，至今，仍不断见到药物致畸的报道，引起人们对妊娠期用药产生恐惧。很多父母会担心怀孕期服用过的一些药物会对胎儿产生影响，考虑是否要产下胎儿。那么怀孕初期吃了药，小孩到底能不能要呢？

	在产科，准妈妈在以下情况下可能使用了一些药物：（1）准妈妈生病，比如感冒发烧，受伤；（2）在不知道自己怀孕时已经吃了药；（3）准妈妈是慢性疾病患者，需要长期服药。孕初期吃药对小孩的影响大不大，吃药时间很重要，要看是不是在药物致畸的敏感时期。有学者研究表明，从孕妇末次月经算起28天（孕28天）之内（也有学者认为是孕33天之内），也就是4周内，受精卵仅仅处于细胞分裂时期，胚胎和子宫联系还不是特别密切，药物对胚胎的影响表现为“全”或“无”现象，“全”是表示药物对胚胎打击很重，最终流产，“无”是指无影响或影响很小，胚胎能存活下来，因此孕28天之内服药一般不会导致胎儿畸形。而孕28天至3个月是药物致畸敏感期，这段时期，胚胎开始进入器官分化阶段，在这个敏感时期服药，有可能导致胎儿畸形。不同的器官发育有不同的敏感时期，心脏发育的敏感期，一般认为在孕39～59天，孕妇在这期间服药，药物有可能影响胎儿心脏正常发育；胎儿四肢发育的敏感期一般在孕38～60天；中枢神经系统的发育则贯穿整个胎儿时期，一直到出生以后都有影响。妊娠后，孕妇各个系统和器官均发生了一些变化，使许多药物在体内代谢的过程非但不同于非孕期，而且还能通过胎盘到达胎儿体内，影响胎儿，或通过乳汁影响新生儿。对胎儿可造成多种不良影响，甚至致畸或导致流产，所以妊娠期间应避免滥用药物，因病必须用药时要在医师指导下使用。如果在确定怀孕前已服用某些药物而担心影响胎儿健康的话，必须确定药名后（或保留药物），到医院咨询，而且一定要在产检时告知医生，让医生做进一步的详细检查。

	孕期用药分类

	在孕期用药的安全方面，美国食品和药品管理局（FDA）根据药物对胎儿的影响，将妊娠期间用药分成了A、B、C、D、X五类，其中A类最安全，X类孕妇禁用。

	A类：动物数据和I临床数据未显示对胎儿有危害的药物。多为维生素及矿物质类药，如B族维生素、钙片等。应按说明书，适量服用。

	B类：对孕妇比较安全，对胎儿的危险证据不足或不能证实。如胃复安、青霉素以及多数头孢类药物等。

	C类：仅仅进行过动物实验显示，会造成胎儿畸形或者死亡，但是并无孕妇的相关研究数据。例如阿司匹林、扑尔敏、地塞米松等，孕妇在使用时必须谨慎考虑其对胎儿的潜在危险。

	D类：药物对胎儿有风险或怀疑药物对胎儿有害，利可能大于弊 ，此类药物仅在孕妇生命受到威胁，或患有严重疾病非用不可时才可使用。包括四环素、一些孕激素以及抗癫痫药等。

	X类：明确规定已怀孕或可能怀孕的妇女禁用，如氯霉素、米非司酮等。

	妊娠期前3个月胎儿处于器官分化、发育的关键阶段，对药物会相对比较敏感，以不用C、D、X级药物为好；确实需用药时，可选用A、B级药物。

	以上这种分级多针对西药，但随着近年来大家对中药安全性的关注，我们提倡孕妇用中药也应当分等级处理。目前，临床上可将对妊娠有影响的中药分为禁用、忌用和慎用三个等级。

	其中，剧毒药物或可能造成流产的药物属于“绝对禁止”的范围，如川乌、草乌以及含类似成分的云南白药等。忌用比禁用的要求低，主要是指不良反应较为明确且发生的可能性较大，达到不宜使用程度的药物。这些药应尽量避免在孕期用，确实需要用时，应先进行临床评估，如含有大黄、三七、麻黄和细辛的人参再造丸，以及含有牛黄、石膏、桔梗和冰片的牛黄解毒片等，在孕期用时应充分考虑利弊。孕期慎用的主要是活血化淤、祛风、行气、清热解毒等功能的药物，如红花、活络膏等，孕妇应在医生指导下谨慎使用。

	孕期用药基本原则

	孕期女性身体情况特殊，用药需慎重。无论中西药，分类中孕妇禁用或忌用的，一定不能使用。若必须用药，应在医生指导下进行，按常规剂量、疗程及方法服用。

	（1）避免滥用药物：妊娠期女性常因一些异常情况或疾病而需要用药物治疗。据统计，妊娠期女性曾服用过＞1种药物者占90%，＞10种药物者占4%。因有许多药物可自由地通过胎盘，对胎儿可造成多种不良影响，甚至致畸或导致流产，所以妊娠期间应避免滥用药物，因病必须用药时要有医师指导。然而，有些孕妇“谈药色变”，有病也不用药，其实没有必要，孕妇患病同样会影响胎儿，妊娠期间若出现高血压、糖尿病等并发症，一定要根据医嘱，选择安全有效的药物。有妊娠呕吐者，一般不推荐药物止吐。如呕吐严重，两三天不能进食，要去医院检查，排除器质性疾病，可以静脉滴注葡萄糖液等，防止发生脱水和代谢紊乱。因此，任何药物均应在医生、药师的指导下服用。

	（2）提倡科学合理用药：鉴于药物对胎儿的影响与母亲用药的性质、时间及剂量等密切相关，孕妇用药时，既要考虑药物的治疗作用，还要考虑到对胎儿的不良反应，应使用偏低剂量，避免错误用药，推崇合理用药，降低胎儿致畸率，做到优生优育。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>3、“害喜”可预测胎儿性别？孕吐咋回事？</string>
		<key>des</key>
		<string>	提要：孕吐尤其是妊娠剧吐与怀有女性胎儿之间可能存在一定相关性；但是，反过来，以有没有孕吐以及孕吐的严重程度来预测胎儿性别则不能成立。

	孕吐（NVP）

	怀孕期间出现以恶心呕吐为主的妊娠反应称为妊娠期间恶心呕吐，简称孕吐（Nausea and Vomiting of Pregnancy，NVP），在西方也叫晨吐，我国民间则称为“害喜”。NVP影响到50%～90%孕妇，通常发生在妊娠头三个月，开始于第4至5周，到16周前后逐渐消失，也有少数延续到整个孕期。影响NVP发生的因素众多，包括代谢和内分泌因素、种族和饮食习惯、孕妇年龄和身体状况，甚至婚姻状况等。

	妊娠剧吐（HG）

	多数NVP症状不严重，属于自限性，症状会自行消失。但是在少数情况下，孕妇会发生严重的恶心呕吐，影响饮食，可以导致体液、电解质和酸碱平衡失调，营养缺乏，体重减轻，往往严重到需要住院处置，被称为妊娠剧吐（hyperemesis gravidarum，HG），发生在0.3～2%妊娠 。

	孕吐与胎儿性别的争论

	有关NVP的说法众说纷纭，在不同文化中也被赋予各自不同的意义。其中，有关孕吐与胎儿性别的争论从未间断过。

	有许多妇女根据她们的经验声称怀男孩时NVP更严重，另一些女性则反驳说怀女孩NVP才厉害。民间则有早上害喜生女孩，晚上害喜生男孩等传说。有的医生则出来辟谣说胎儿性别与NVP没有关系。

	科学告诉我们，经验、传说往往是不可靠的，只有研究证据才能探究到事实真相。那么，孕吐到底是怎么回事？与胎儿性别有没有关系呢？

	恶心呕吐机制

	现代医学研究发现，呕吐中枢位于延髓网状结构，能够被以下4方面直接或间接刺激激活产生恶心呕吐反应：消化道（五羟色胺）、大脑皮层和丘脑（焦虑、疼痛等）、内耳前庭（失平衡）和延髓孤束核化学感受器（各种化学物质）等。也就是说，涉及这4个范畴的各种刺激因素都可以触发人体的恶心呕吐反射，可见能诱发这种反应的因素非常繁杂。

	孕吐可能的机制

	引发NVP的原因和机制目前尚未完全明确，但是，最为广泛接受的是激素刺激理论。

	研究最多的因素是由胎盘滋养层细胞分泌的人绒毛膜促性腺激素（hCG）。绒毛膜促性腺激素和NVP之间的这种联系主要基于以下几个事实：1）研究发现伴有NVP妊娠女性与无NVP反应者相比血清和尿hCG更高；2）也有研究发现血清hCG浓度与NVP严重程度呈正相关；3）NVP的峰值和hCG生产的高峰期通常重合于妊娠12至14周；4）伴有高hCG水平的妊娠如多胎妊娠、葡萄胎等状况NVP反应更严重。

	虽然有少量研究并没有发现两者之间的这种相关性，但是这种理论仍然被广泛认同。

	其他妊娠相关的激素，比如雌激素和孕激素也被认为与NVP发生相关，例如一些女性在口服避孕药或雌激素后出现恶心呕吐是众所周知的事实。

	hCG和促甲状腺激素（TSH）受体之间存在交叉反应性，甲状腺激素和甲状腺功能异常也被认为可能导致NVP的发生。

	另一种未经证实的理论，从进化论的角度认为，恶心呕吐是人体对于进入体内的有毒物质所做出的一种保护性反应。人类在漫长的进化过程中，对于不熟悉的食物品种的成分和毒性主要依赖于味觉感受，因此进化出对于人体所必需的呈现甜味的糖、咸味的钠盐以及鲜味的蛋白质氨基酸的偏好，而对于容易含有植物碱和动物性食物腐败产生的呈现苦味和臭味的有毒物质会有厌恶反应，因此苦味和臭味容易刺激人体产生恶心和呕吐反应。

	妊娠早期，胚胎和胎儿最为脆弱、最容易受到各种因素包括准妈妈饮食中可能所含毒性物质的影响，因此，从进化学角度说，NVP有利于保护胎儿安全。

	已经有大量的研究证据证明了这种假说。比如，2014年6月份发表在《生殖毒理学》杂志上的一份大型临床系统综述和荟萃分析就是最近一份这类研究证据之一。这项分析中所包含的数十份研究均支持NVP对于胎儿的保护作用，如流产、出生缺陷和早产的风险降低；甚至与胎儿更好地生长发育和智力改善相关联。

	孕吐与胎儿性别

	既然NVP的发生机制与孕妇hCG相关，如前文所述，hCG水平与NVP是否发生和严重程度呈正相关；而研究发现，孕妇怀女胎时血hCG高于怀男胎。那么，理论上讲，孕妇怀有女胎时更容易出现NVP或者NVP程度更严重，这种理论也得到少数研究证据的支持。但是，更多的研究发现两者之间并不存在明显相关性。

	就是说，从临床意义上讲，胎儿性别与NVP没有发现相关性，这也是多数医生们辟谣说两者之间无关的原因。

	妊娠剧吐与胎儿性别

	虽然多数临床研究并不支持NVP与胎儿性别之间的关联性，但是有关HG与胎儿性别的研究则几乎全部指向HG与胎儿高女性/男性比之间的关系，也得到医学界的普遍认同。

	比如，2011年一项纳入40多篇研究报告中的大型系统综述中，涉及HG与后代的性别的所有13项研究都证实了HG妊娠伴有较高的女性/男性比，综合而言HG妊娠后代55%为女性，而对照组为49%。

	HG妊娠与胎儿高女性/男性比，以及孕妇血清和尿液高hCG水平呈正相关。

	研究同时发现，HG与低出生体重、小于同胎龄儿和早产相关，即HG往往意味着胎儿不良后果，说明HG值得重视并应该积极进行治疗。

	小结

	女性胎儿往往伴有孕母 更高的hCG水平，hCG是导致孕吐发生的主要因素。因此从理论上讲，怀有女性胎儿可能意味着更频繁或严重的孕吐反应。多数临床研究却并没有发现两者之间明显的相关性。但是，几乎所有临床研究都发现孕吐的严重形式，妊娠剧吐与胎儿高女性/男性比显著相关。

	另一方面，来自消化道、大脑皮层和丘脑、内耳前庭和体内各种化学物质等4个方面的因素都可以成为引发呕吐反应的原因，往往混杂在一起难以厘清。

	综上所述，孕吐尤其是妊娠剧吐与怀有女性胎儿之间可能存在一定相关性；但是，反过来，以有没有孕吐以及孕吐的严重程度来预测胎儿性别则是不能成立的。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>4、怀孕要穿防辐射服吗？防辐射服很坑爹！</string>
		<key>des</key>
		<string>
	最近，央视新闻频道制作播出的《“防辐射服防辐射”谎言？》节目让防辐射问题再一次成为公众关注的话题。在防辐射服是否有效的讨论之外，我们还应该思考的是，“这防辐射服到底需不需要？”为了方便理解，我们先来复习一下中学物理课。

	辐射是啥呢？

	课本告诉我们，任何温度高于绝对零度的物体都会产生辐射。不幸的是，至今人们还没有发现任何等于或者低于绝对零度的物体，所以我们的世界里充满了辐射。无比虚空的宇宙够冷了吧？大爆炸的热度“消散”了百亿年之后，至今还有2.7K，也就是高于绝对零度2.7摄氏度。

	当然，辐射跟辐射不一样，就其与健康的关系来说，有些辐射威力大，能使原子电离，称为电离辐射，比如阿尔法射线、贝塔射线、伽玛射线还有X光。别小看这能让原子电离的本事。由于生物体是由无数原子构成的，生物体的各种复杂生命活动都有赖于原子层面的稳定，这些电离辐射可以直接杀灭或损伤细胞，或者改变DNA的结构，造成遗传上的影响，对人体的危害是显著的，我们需要关注接受的剂量并加以防护。除此之外的辐射都是非电离辐射，从红外线、可见光到各种无线电波。这些非电离辐射作用于生物体上最显著的效应就是加热，烤箱主要利用的是红外辐射，而微波炉则是微波辐射，在安全方面需要注意的是不要被它们烧熟就好。

	人们认识到辐射的威力，并且特别在意，不过是百十年内的事。1895年，伦琴发现了X射线。次年，就有医生发现有销售X射线仪器的商人出现了脱发和皮炎，怀疑与X射线有关。更著名的居里夫人，她同丈夫发现的钋和镭两种放射性元素给她带来了无比的名声的同时，也给她带来了终生的伤害。由于缺乏防护意识，居里夫人在工作中遭受了大量的电离辐射，最终结束她生命的严重贫血据信可能与之有关。此后，原子弹的出现成为全世界人民几十年挥之不去的噩梦，谈核色变的人们捎带把“辐射”一起列入敏感词名单了。然而，长久以来，辐射危害只是跟医院的X光机或是核电站这些“强力部门”有关，因为只有这些地方才会有可能出现大量的电离辐射。对于非电离辐射，除了防护一下紫外线，别晒太多太阳，别拿紫外灯当日光灯使，一向不是人们担心的问题。

	孕妇需要防辐射吗？

	到上世纪80年代初，情况发生了一些变化。在1988年6月出版的《美国工业医学杂志》（American Journal of Industrial Medicine）上，来自一家名叫KaiserPermanente的非营利医疗组织的三位医生发表了一篇名为《孕期女性使用视屏终端与流产和新生儿出生缺陷发生概率的关系》的文章。所谓视屏终端（VDT video display terminal）就是各种电脑和电视屏幕。这三位医生在1981-1982年间统计了1583名来自美国北加州的孕妇的情况，发现在怀孕头三个月每周使用VDT超过20小时的孕妇的流产率比不接触VDT的孕妇高。这个研究成果在今天已经演化成了许多版本，出现在各种“防辐射服”的产品宣传里。但是这些宣传材料无一例外地自动忽略了原文作者的一句话：“我们的研究结果并不能证明VDT产生的非电离辐射与流产率提高之间有直接联系，较差的工作条件和较高的工作压力也是可能的因素。”

	迄今为止有关VDT和孕妇的最为广泛引用的大规模研究发表于1991年3月的《新英格兰医学杂志》（The New England Jounal of Medicine）上。以特蕾莎•施奈尔（TeresaSchnorr）为首的科学家对2430名女接线员进行了4年的跟踪，这些女性一半工作在显示器前，一半不在。在这4年里，有730人出现了882次怀孕。科学家们发现，与不工作在显示器前的女性相比，与显示器打交道的女性接受到了较多的频率为15KHz的甚低频辐射，而其他辐射的情况则没有区别。最终的结果是，在显示器前工作和不在显示器前工作的两组妇女在流产率上没有明显的不同；不管妇女每周在显示器前工作多少小时，甚至整个孕期都这样工作，调查研究的结果都是一样的。

	恐慌，来自对科学话语的误解

	科学家们对这个问题的关注并没有到此结束。由于人类生活方式的改变，与前辈相比，当下的人类接触人工非电离辐射的机会大了很多，这的确是一个值得注意的问题。确实有一些研究发现了一些非电离辐射与某些疾病的发病之间存在一定的联系，其中最著名的研究莫过于输电线路产生的低频辐射与儿童白血病关系的研究，由此在大众媒体中掀起的波澜至今仍在社会上产生着影响。

	对这个问题最大规模的调查来自于2005年6月份发表在《英国医学杂志》上的一个研究。在这个研究中，牛津大学儿童癌症研究组的杰拉德•德拉珀（Gerald Draper）等人通过对1962年至1995年间英格兰和威尔士的29081个儿童（0～14岁）癌症病例进行统计发现，生活在高压输电线附近的儿童患上急性白血病的概率更高。高多少呢？德拉珀在文中做了这样的计算——以2003年的数据，英格兰和威尔士有970万名儿童，其中有8万名生活在距离高压线200米以内的住宅里，有32万名生活在距离高压线200～600米范围内的住宅里。以当时的发病率进行计算，这近千万孩子中大约有400名急性白血病患者。如果高压线的低频电磁辐射的确能造成儿童急性白血病的话，那么这些高压线要为5名儿童的命运负责。

	首先，你没看错，是5人。其次，别忘了那个前提——“如果”。作者在文中明确提醒大家他们的研究结果不能做出这些辐射与儿童急性白血病发病之间存在因果关系的结论。事实上，某种疾病的发生与太多的因素相关，而流行病学调查又很难理清各种复杂因素的相互影响。就高压线与白血病之间联系的研究而言，有人就推测，可能是高压线附近社区的房价较低，因而其居民的平均收入水平也较低，于是与收入水平相关的生活因素导致了儿童急性白血病发病率的轻微升高。

	即便如此，这个结果在统计学上是“显著相关”的，但实际也不过增加了九百七十万分之五的发病率。所以你明白科学论文中的话语体系与日常生活中的话语体系之间存在多么巨大的鸿沟了吧。

	与此类似的还有手机，由于有研究发现使用手机与脑瘤之间存在“轻微的联系”，于是将其列入了“可能的致癌因素”名单。这个消息在大众媒体上传播之后着实引起了不小的反响，可是当我们回头看那个“可能的致癌因素”的官方解释，是“对人类致癌性证据有限，对动物致癌性证据不充分”，与之同列的还有咖啡和泡菜。

	另外值得注意的是，即便是这些统计出来的微弱相关性，也并没有得到科学界的普遍认可，与之结论相反的研究也比比皆是。除此之外，其他日常非电离辐射没有发现能有影响身体健康的证据。

	天然辐射“防不胜防”，也无须去防

	与美国的情况相比，我国女性的生活中充满各种VDT还要晚十多年，然而我们的辐射恐惧症有过之而无不及。各种防辐射的秘籍充斥在生活的角角落落，比如著名的仙人球吸收辐射说，让这种浑身是刺儿的植物成了办公室里最常见的盆栽，但其实毫无用处。还有众多的防辐射食谱，同样没有科学依据。讽刺的是，传言是防辐射食品的香蕉非但不能减少你接受的电脑发出的非电离辐射，反而会微量增加身体的电离辐射。

	何以至此？前面我们说过，我们的世界里充满了各种辐射，除了可见光、红外线这些温柔的家伙，电离辐射也广泛存在。自然界中各种天然放射性物质和宇宙射线带给地球人每年大约1～3个毫西弗的辐射剂量，相当于做十几次胸片的辐射剂量。食物中也有放射性物质，其中最重要的是钾。学中学化学时,我们近似 使用的钾原子量是39，这是因为自然界存在最多的钾原子是钾39。除此之外，钾还有众多的同位素，其中不乏不稳定的放射性元素，比如钾40。一个人身体里大约有30毫克的钾40，而每吃一根香蕉，体内将增加0.05毫克钾40。如果你每天吃三根香蕉，一年三百六十五天风雨无阻的话，差不多将会给你带来每年0.0004毫西弗的辐射剂量，大约相当于生活在燃煤火力发电厂附近，由于放射性煤烟带来的辐射。当然了，吃香蕉带来的辐射增量相比本底辐射是极其微小的，并不用担心。

	为了照顾那些只看开头和结尾的读者，我在这里总结陈词一下。用科学的话语体系，总结是：
	
	1. 目前没有证据表明日常非电离辐射会导致孕妇流产率、胎儿畸形率的提高，也不会导致新生儿出生体重过低；

	2. 只有很微弱的证据表明某些日常非电离辐射与某些疾病的发病相关，但无法证明其因果关系；

	3. 日常生活中也存在一定量的天然电离辐射，但剂量在人体可接受范围内，无须恐慌。

	如果换成日常的话语体系，结论只有一句话：防辐射服是个坑爹玩意儿，大家还是把钱花在其他地方吧。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>5、孕妇尿样可测出胎儿性别，是真的吗？</string>
		<key>des</key>
		<string>
	流言：听说有种美国进口的检测胎儿性别的药物——“验胎灵”？

	在家里即可操作，用怀孕6周以上的孕妇的尿样10分钟便可以测出胎儿性别。

	如果是橙色，就是女孩，绿色就是男孩，虽然价格不菲（780元），但准确率可达90%以上。这是真的吗？
真相

	1. 所谓“验胎灵”是什么？

	验胎灵，即美国的IntelliGender’s Gender Prediction Test，在美国官网上的售价是34.95美元，

	IntelliGender官网上的FAQ内容，自称有效率可达90%，但并未为这个数据提供可靠的佐证，随后的句子如下：“请牢记本测试并非100%精确。IntelliGender致力于为准妈妈在怀孕期间提供有趣的商品。假如你认为性别测试结果有误将带来任何情绪压力，那么我们的产品可能并不适合你。”

	IntelliGender对“这个测试可以取代超声波测试吗？”（美国怀孕20周后可用超声波观察胎儿性别）的官方回复是：不可以。这个测试只是让准父母们玩玩而已。IntelliGender不建议购买者根据他们的测试结果作出任何关于经济、情感或家庭计划的决策。

	在被问到“医生会推荐这个测试么？”这个问题时，IntelliGender承认，医生一般不会推荐这个测试。

	IntelliGender官网上还提及，多囊卵巢综合征患者极可能测出“男孩”。服用孕酮也会影响测试结果。

	2. “验胎灵”在美国反响如何？

	在美国的一些准妈妈论坛上，也有美国的消费者报告了自己的使用结果。网友dawnklasen发现自己第一次测试结果是男孩，喝了杯红莓汁让尿液酸化后再测，孩子性别就变成了女孩……Chloe&amp;kids测了两次结果都是男孩，给未怀孕的好友测了也是男孩（……），但16周时超声结果却是女孩。Tamara则表示，她读了差不多1000篇这玩意儿的使用者汇报，发现准确率差不多是50%——跟丢硬币差不多。

	其实，验胎灵这东西松鼠会的瘦驼不久前刚刚做过流言破解，没想到又卷土重来了。瘦驼在文中也查证了美国消费者的反馈——

	老衲搜遍FDA网站，发现一条相关信息。居然是在生产厂家与用户设备器械经验数据库MAUDE的不良反应报告里。原来是一个人在用这个玩意儿的时候不知怎的被灼伤了胳膊和手，这才发现这包装和说明书上根本没说里面是啥玩意儿。差不多是个三无产品。……

	前头有人问这东西。后头的几个姐妹表现出了很高的科学精神。一个说，她找不到理论依据。第二位同样表示在这东西的网站上找不到理论支持，打算去咨询自己的助产士。第三位去搜了下别人发表的文章，发现这东西的错误率很高（最多50%嘛）。第四个看来是内部人士，说这个公司已经吃了不少官司了。

	3. 用尿验性别靠谱么？

	瘦驼表示——

	验胎灵号称能通过检测孕妇尿中的激素水平来判断胎儿的性别。的确，不同性别的胎宝宝体内的各种性激素水平就是不一样，但是呢，这个差异体现在准妈妈的尿液中时，会被准妈妈自身性激素水平的波动所掩盖，因此从理论上也是站不住脚的。

	真正能确定胎儿性别的检测包括超声波检查、绒膜绒毛取样、羊膜穿剌术等等。虽然确实也有研究者用孕妇的血液或尿液进行胎儿性别预测，但一般都需要在有专用设备的实验室中进行昂贵的测试。在家里10分钟就能可靠测试性别的测试方法还没有被开发出来。

	在IntelliGender的美国官网上，还有一个“来自古老中国的性别预测法”，传说在一个中国古墓里发现了一个700年前的古卷，上面记载着如何用你的年龄与受孕时的月份来预测婴儿年龄——假如你在25岁那年的12月珠胎暗结，那就是个男孩。你看，与其花大钱购买那个相当可疑的检测试剂，不如在他家网站上免费玩玩这个测试算数，反正结果不会相差太远，都是三个字：不靠谱。

	结论：流言破解。IntelliGender官网都反复强调了：千万别把我当真，更加别和我较真。此外，请大家千万记住，在中国，非医学目的的性别鉴定是被明确禁止的。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>6、怀孕要禁欲吗？孕期同房要注意什么？</string>
		<key>des</key>
		<string>
	怀孕几个月可以同房？怀孕初期能同房吗？很多夫妻对这样的问题存在疑问，准爸爸准妈妈在怀孕期间既想要过夫妻正常性生活，又担心同房时的性高潮引起的子宫收缩会造成早产，因此孕期不敢过性生活。其实怀孕期间是可以进行性生活的。

	怀孕后，在激素的影响下，准妈妈身体上产生变化的不只有子宫，还有乳房。早孕期间，一般在停经40天之后，由于乳腺管和腺泡增生，脂肪沉积，乳头、乳晕开始增大、变黑，乳头易勃起。对于这些变化，刚开始时，多数人会有乳房胀痛感。慢慢适应后，这种感觉就没那么明显了。只有少数人会在整个孕周中持续感受到这种不适。有些怀孕的女性在性兴奋和高潮阶段，则会出现明显的触痛。上海交通大学第一人民医院产科主任徐先明教授告诉记者，在孕期，刺激乳头及乳晕所产生的神经冲动，会传递到大脑，反射性引起大脑释放催产素，由此可能引起子宫收缩。因此，对乳头刺激敏感的女性，在孕期的性生活中，都要避免提拉、揉搓乳房，以免引起流产、早产，尤其是有过自然流产经历的女性，更要注意。

	在孕期性生活中，除了避免提拉、揉搓乳房，体位如果不当，也很容易导致子宫附件等器官位置发生改变，对于周围的组织产生拉扯作用，从而引发下腹疼痛或腰部隐痛。因此，医生建议，孕期性生活应选择不压迫腹部的体位，比较建议采用下面四种姿势：

	1. 女方在上：女方跨坐在男方的身上，这样可以使女方掌控深度和角度，而且这种体位也不会压挤到孕妇的腹部。

	2. 侧卧位：男方躺在女方的体侧，从后面进入。

	3. 后侧位：男方跪在女方的身后，女方跪着，双臂撑地。这种体位对孕妇的腹部不会产生压迫。

	4. 传统姿势：如果采用男上女下的姿势，要让在上面的老公伸开胳膊支撑身体，不要压迫孕妇的腹部。

	另外，专家指出，妊娠期性生活随不同孕周对母婴影响不同，因此性生活应该根据不同的怀孕时间合理安排：

	怀孕初期-建议不同房

	女性妊娠前三个月是怀孕初期，是胚胎分化以及脑部发育的关键时期。受精后12ｄ 左右，一些细胞滋养层细胞可以通过合体滋养层侵入母体子宫内膜，此时胎盘绒毛发育不全，深入子宫内膜的程度尚浅，正常的胎盘滋养层细胞在妊娠10～12周浸润至蜕膜与基层交界处的大血管，到妊娠16～18周，才能完成第二次浸润，扩展至子宫肌层，建立全面的血管联系，因此，胎盘和母体子宫壁的连接还不紧密，如果进行性生活，很可能由于动作不当或精神过度兴奋时的不慎，使子宫受到震动，很容易使胎盘脱落，造成流产。此外，因为妇女怀孕后内分泌机能发生改变，同时还有心理方面（担心性生活会影响胎儿正常发育和安全）和身体方面的因素（身体笨重，不灵活，行动缓慢，不方便）等，对性生活的要求降低。

	此外，对于有腰酸、腹痛、阴道流血等先兆流产症状的孕妇和有习惯性流产史的孕妇，妊娠早期应避免性交。对于正常的孕妇，妊娠早期应避免剧烈的性交。

	孕中期-适当享受性生活

	在孕中期，也就是怀孕4～7个月时，母体分泌的大量的孕激素可对子宫肌肉起到良好的保护和抑制作用，这段时期子宫逐渐增大，羊水逐渐增多，抵抗外力的能力增强，流产可能性减少，因此，此阶段被认为是相对的安全期，可以适度过性生活。但是如果这时性交次数过多过频，动作太剧烈，阴茎过于深入阴道，也容易导致胎膜破裂，羊水流失，导致流产以及胎儿宫内窘迫，甚至发生胎死宫内。因此，动作要轻柔、力度适中，体位要照顾到孕妇和腹中的胎儿。如果是有习惯性流产的孕妇，可多些爱抚，避免性交。

	怀孕晚期-坚决避免同房

	妊娠28周以后，性生活的机械刺激可产生外力冲击，诱发胎膜早破。正常发育的胎儿存活在薄薄的羊膜囊内，密封的羊膜囊内充满羊水，可以缓冲外界的压力和冲击以保护胎儿。羊水形成一个保护层，防止胎儿与子宫壁粘连。妊娠晚期，胎儿增大，羊水增多，宫腔张力增大，受外力后缓冲能力减弱，容易导致胎膜早破。羊膜破裂后，宫腔通过阴道与外界相通，致病微生物会经阴道侵入宫腔，感染胎儿、胎盘及母体生殖器官，诱发胎儿宫内感染，严重者可造成败血症等。

	在妊娠晚期即将分娩时，子宫壁的下方与骨盆紧密相贴，子宫颈下降，性交时插入的阴茎可能与宫颈直接接触，污染宫颈，导致生殖道逆行性细菌感染，从而导致早产。

	另外，准妈妈已经进入待产阶段了，孕妇腹部高高隆起，必定会产生沉重感和不适感，睡眠不好且容易疲劳，需要多休息。因为怕影响胎儿的正常发育和分娩，也会加重孕妇的心理负担。这时不仅不能性交，而且强烈的性兴奋可促进子宫肌肉的收缩而引起流产、早产。所以在此期间丈夫要在精神和生活上关怀体贴妻子，避免因为一时贪欢导致终身的遗憾。

	妊娠中的性生活不仅有利于父母，而且更有利于胎儿发育，但是准爸爸准妈妈在性交时，除了注意体位、同房时间，还应该做好以下几点：

	1. 个人卫生，同房前后双方都要清洗下身，别忘记手同样需要清洗干净，以免引发细菌感染。

	2. 不要过于激烈，房事时老公不要插得太深，高潮时要慢慢地抽动，进行中不要频繁变换体位。

	3. 在性生活的过程中，若是准妈妈产生子宫强烈收缩、不正常出血、严重下腹痛等，则应该停止，尽快就医。

	4. 进行性生活期间最好戴保险套以减少阴道发炎，以及子宫颈发炎以及早期破水等现象的发生几率。

	5. 阴道有炎症的孕妇，需治愈后再行房，以免病菌上行感染胎膜和胎儿。

	6. 几种高危险妊娠（如：前置胎盘、产前出血、迫切性流产、子宫颈闭锁不全等），性生活应慎重或禁止。

	孕期的性生活不是被禁止的，健康而适度的性生活不仅是可以的，还能大大增进夫妻之间的感情。专家指出，掌握一定的体位和注意事项，孕期是可以享受愉悦的性生活的，并且合理有度的性生活对孕妇的身体不仅无害，还会有一定的调剂作用。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>7、怀孕就得大补，一个人要吃两个人的量？</string>
		<key>des</key>
		<string>
	准妈妈小娟怀孕后，遭遇了“幸福的烦恼”。自从怀孕后，她和宝宝就成了家里面所有人关注的焦点。虽说中国人饮食结构比较均衡，但当家里有个准妈妈的时候，家人都会非常关心准妈妈的身体调养及营养摄取情况，开始习惯性地给她拼命地补。除了熬煮补品或购买营养丰富的食品，也会替她准备爱吃的东西。一天三正餐，外加几小餐，补汤、点心、水果，每天变着花样忙得不亦乐乎。各种大鱼大肉的多脂肪类食物也应接不暇，这让小娟的体重一路直线上升。就这样，不到一个月，她发现自己已经明显高于标准体重。去医院咨询医生，专家告诉她，从现在起，为了自己和宝宝的健康，必须在营养医师的帮助下开始控制体重。

	孕妇的营养问题，不仅关系到自身的健康，而且关系到她的子代，关系到孩子出生时的健康和孩子的整个生命，因此一直受到超常的重视。人们常说，在孕期是“一人吃，两人补”。怀孕之后，孕妇都会在饮食上下功夫，家人们也都会让孕妇多吃一些，因为他们认为此时孕妇是一个嘴巴吃，却要维持两个人所需的营养，那么科学事实真的是“一人吃两人补”吗？拼命地多吃，以“填鸭式”进食，这是否对孕妇和孩子的健康真有益处呢？

	“许多女性怀孕后，会拼命补充营养，想吃出两个人的量来，这是一个误区。”专家杨教授指出，怀孕的妈妈即使进食量加倍，也不等于宝宝在妈妈的肚子里就可以吸收所有妈妈比以前多吃的那些食物的全部营养，准妈妈多吃的那部分，很可能大都变成了自己身上的肥肉。孩子的营养是否足够，关键在于准妈妈对食物的科学性选择，而不是靠盲目多吃来达到。孕期补充营养尤其应该掌握好度，否则容易导致孕妇体重增加，甚至诱发妊娠期糖尿病，年龄偏大、肥胖的女性尤其应该注意。专家表示，准妈妈怀孕后，因为胎儿开始快速生长，对能量和营养素的需要量增加，孕妇食欲明显增强，很多孕妇有吃不饱、吃不够的感觉，这些都是正常的生理现象。食欲好，对于准妈妈在孕期摄入足够营养，保证孕期的顺利度过是一个有利条件。但如果饮食没有节制，高蛋白、高脂肪的补汤，含糖量高的水果、点心摄入过多，很容易就会饮食过度，造成营养过剩。

	现代医学证实，“一人吃两人的饭”的传统观念有不合理之处。怀孕期间，为了母亲和胎儿的身体健康，良好的营养是必不可少的。但凡事物极必反，孕期摄入太多的营养不但对母子健康不利，甚至有害。对准妈妈的这种过分关爱，反而容易使准妈妈出现“过度营养”，可能会导致巨大儿的出现，增加产妇分娩困难度。准妈妈在怀孕的过程中，胎盘会慢慢在体内形成，并借由绒毛吸附在准妈妈的子宫上。这个时候准妈妈所摄取的养分，就能经由脐带传递给胎儿。所以准妈妈吃得营养与否，便是影响胎儿健康的关键。实际上，如果准妈妈吃的食物过多，含糖量和含油量过高，就会造成胎儿负担，对自身的健康也会产生负面影响，增加准妈妈产后瘦身的难度。怀孕期间过度进补，营养过剩，摄入的热能除了生理需要消耗外，多余的就会转变成脂肪，堆积在体内，久而久之成为肥胖者，这会导致许多危险的并发症，如妊娠期高血压疾病、妊娠期糖尿病、血栓、巨大儿、畸形胎儿、过期妊娠等。据统计，生出的巨婴、胖娃成年后肥胖的概率可达40%，他们更容易得糖尿病、高血压、高脂血症等疾病。同时，如果在妊娠早期体重增加的比例过高，那将会破坏宝宝的新陈代谢环境。这会使胎儿认为饥荒正在来临，你在储藏脂肪，由此也增加了早产的风险。超重“准妈妈”由于分娩巨大儿几率增加，导致难产使用产钳助产和剖宫产率增加，加重了产妇的损伤，且容易出现宫缩乏力、产后出血及新生儿窒息等。从科学的角度看，抚育一个健康的宝宝需要消耗的热量，妊娠期女性应该遵循的更为精确科学的原则是：“一人吃1.1个人的饭，孕妇的能量需求只比怀孕前多10﹪。”湖北省妇幼保健院产科主任肖梅说。

	那么，孕妇们该怎样安排自己的饮食，才能保证自己及胎儿的健康营养呢？专家表示，孕妇需要营养全面、调配均衡合理的膳食，在营养充足但不过剩的前提下保持膳食的平衡。怀孕的女性，为了自身的健康与腹内胎儿的生长发育，并储备生产时的体能消耗，也为产后体力恢复与哺乳做准备，更需要全面合理充分地摄取营养。孕期如果有任何营养的缺乏，都有可能造成母体或胎儿的损害。因此，要多吃富含叶酸、维生素的水果和蔬菜，少吃油炸食品和经食品工业加工处理过的食品，还要保证适量的脂肪供给。孕妇的膳食要多样化，尽可能食用天然食品，少食高盐、高糖及刺激性食物。适当多吃点富含维生素和叶酸的新鲜果蔬，不仅是自身和胎儿营养所需，而且可防新生儿神经管畸形。营养专家指出，孕妇除了要保证充足的睡眠及休息，还应坚持每日做适当的活动，劳逸结合。在饮食营养方面，可以运用以下几种饮食方法来帮助准妈妈顺利度过孕期，应对难满足的好胃口，孕育健康、聪明的宝宝。

	1. 食物多样、荤素搭配，避免偏食高脂肪、高蛋白、高糖食物；

	2. 饥饱适当，增加餐次或加餐；

	3. 在控制好食物摄入量的前提下，可以增加适量的低糖的蔬菜、水果，利用膳食纤维增加饱腹感；

	4. 正餐时可以先喝汤，先吃水果、蔬菜，最后吃主食，这样有利于控制好食欲和饮食量。当然，进入妊娠稳定期后，还需适当增加活动量。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>8、真的有“动了胎气”这种情况吗？</string>
		<key>des</key>
		<string>
	以前看电视的时候，尤其宫廷剧，经常会听到或者看到两妃子争宠，然后某妃子就因某件事情 “动了胎气”，最后没能保住龙种。那时候，一直以为“动了胎气”这种说法是导演或者编导杜撰出来的。

	直到前一阵子，表嫂子自然流产了，阿姨打电话给我，自责的说：“王妮，你嫂子怀孕了，她身子弱，营养也跟不上，我寻思着炖了老母鸡汤给她补补身体。结果，她妈妈说就是因为喝了老母鸡汤从而导致动了胎气，所以才流产的，我是不是犯了大错啊，快告诉我，还有哪些事情不能做啊？哪些会导致动了胎气？”听了阿姨的话，我这个妇产科专业的研究生竟然无言以对…

	什么是胎气？什么又是动了胎气？

	作为一个学习西医出身的医学生，我翻遍了所学的所有医学课本，都没有找到一个关于“胎气”的定义,查阅百度百科发现的也都是一些中医古籍的说法。

	而究竟什么是动了胎气呢？百度百科给出这样的解释：是指孕期母体因自身体质或受到外界因素影响，出现腹痛、阴道出血等症状称为动了胎气。

	仔细揣摩百度百科给出的解释，又查阅了很多医学文献及资料，我将胎气理解为：母体在怀孕时候出现的不同于未孕状态所具有的特殊症状和体征。动了胎气则指的是怀孕期间，由于自身或者外界因素，导致的阴道出血、腹痛等先兆流产、早产症状或者导致胎儿发育畸形、发育障碍的行为。

	这么说的话，哪些情况容易动“胎气”呢？

	那么，既然理解了胎气以及动了胎气的定义。究竟哪些行为容易导致“动了胎气”？

	1.过度劳累：

	怀孕的妇女应该保持充足的睡眠，尤其是不能过度劳累、熬夜。

	长时间熬夜工作或者熬夜看电视、打游戏等均会导致女性内分泌功能异常，有研究表示，孕早期过度劳累会导致子宫敏感性增加，增加流产的风险。孕中晚期高强度的劳动容易导致胎膜早破、早产甚至胎盘早剥等。

	因此，孕期应多注意休息，避免熬夜以及高强度体力劳动，防止劳累过度。

	2.性生活不当：

	怀孕早期，子宫处于比较敏感的状态，同房不当可能引起子宫“易激惹”，导致先兆流产、流产等。另外，怀孕早期，阴道分泌物增加，阴道内环境改变，性生活过频或者不注意同房卫生均可能导致感染，严重者导致盆腔炎症等，这些均容易影响“胎气”，导致早期出血、腹痛等，严重者导致流产。

	因此，怀孕初期建议节制性生活。

	怀孕中期，没有胎盘位置低、前置胎盘等高危因素的女性可以适当性生活，但是性生活过频依然会导致子宫收缩，引发早产。

	孕晚期，胎位不正的孕妇禁忌同房，临产前同房容易增加胎膜早破以及感染的风险，因此，孕晚期也建议节制夫妻生活。

	3.不正当的服用药物：

	很多孕妈没能第一时间发现自己怀孕，因此孕早期常常因疏忽大意误服用一些对胚胎有“毒”或者有副作用的药物，这些药物容易导致流产或者胚胎损伤，甚至有些药物会导致胎儿发育障碍甚至畸形。

	因此，对育龄期女性，尤其是月经不调、或者月经未按时来潮的，平时无正规避孕的女性，用药时需要高度警惕，防止不当用药损伤“胎气”。

	孕中晚期，胚胎发育已经相对成熟，药物对胚胎的影响没有早期那么显著，但是，仍有一部分药物可以通过胎盘进入胎儿体内对胎儿造成一定的影响，因此，孕期用药一定要慎重，需要在专科医生指导下用药。

	4.强烈应激或者情绪波动过大：

	妊娠期无论严重的躯体（如手术、外伤、直接撞击腹部、性交过频）或者心理（过度紧张、焦虑、恐惧、忧伤等精神创伤）或者情绪波动过大（过于兴奋、激动或者悲伤）等不良刺激均可导致流产、早产。

	5.营养不良：

若孕妇在孕期出现营养不良，会直接影响胎儿的生长和智力发育，导致器官发育不全、胎儿生长受限及低体重儿，容易造成流产、早产、胎儿畸形甚至胎死宫内。

	6.孕妈生病：

	孕妇患全身性疾病，如严重感染、高热疾病、严重贫血或者心力衰竭、血栓性疾病、慢性消耗性疾病或者高血压、甲状腺功能异常、糖尿病血糖控制不良等，均可导致“胎气不稳”从而导致流产、早产。

	孕期严重的妊娠并发症，如高血压、糖尿病、妊娠期肝内胆汁淤积症等，若不及时治疗，容易导致胎盘早剥、胎儿宫内窘迫、严重者甚至胎死宫内可能。孕妈应加强孕期产检，及早发现并治疗妊娠合并症。

	7.不良生活习惯：

	某些孕妈过量吸烟、酗酒，过量饮咖啡、甚至吸毒等不良生活习惯均容易导致“胎气不稳”，严重者导致孕早期流产、胎儿畸形、早产等。

	因此，孕期应该戒烟、戒酒，限制咖啡、饮料等的摄入。

	8.环境因素：

	过多的接触放射线和砷、铅、甲醛、苯、氧化乙烯等化学物质，均可能导致胚胎受到伤害，引起流产或者胎儿畸形。孕妇应该尽量避免过多的接触有毒、有害的化学物质。

	从怀孕到分娩，要经历大约280天左右的漫长过程，孕妈妈需要注意尽量避免以上易“动胎气”行为，保证自身及宝宝的健康。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>9、香水会导致胎儿将来不育？这是谣言！</string>
		<key>des</key>
		<string>	2008年8月底，一篇关于怀孕与香水的报道在全球范围引起不小的轰动，媒体冠以“孕妇使用香水与不育或肿瘤有关”、“科学家紧急呼吁孕妇不要用香水”等颇为醒目的标题竞相报道，刮起了一股准妈妈不能用香水的风暴。

	这个反香水风暴是媒体的一时爽，之后很快无声无息，但所造成的影响是无法消除的。

	准妈妈能不能用香水？

	几年过去了，怀孕之后不能用香水的说法还是很有市场，因此值得回顾一下，从6年前的报道开始，看看经过一段时间的考验，究竟有没有香水影响孕妇与胎儿的确凿证据。

	2008年的消息确实来自科学家，而且是很有背景的科学家。这位科学家是英国爱丁堡大学的Richard Sharpe教授，是生殖方面的专家。Sharpe教授发现化学物会损害男性胎儿的生殖系统，具体发生在怀孕8到12周，这时候男性生殖系统开始发育，如果受到损害的话，一些雄性激素比如睾酮水平受到影响，这样成年后就会出现隐睾、精子数量低和患睾丸癌的风险。这些化学物包括化妆品里的成分。

	怀孕、胎儿、生育问题加上化学物的这种组合对于媒体来说相当于春药，但媒体不会这么没有色彩地报道。化妆品让媒体具体化成了香水，生殖系统可能出现问题成了不育，患癌风险有可能增加改成了患癌，再加上科学家紧急呼吁，就成了一篇有轰动效果的新闻了。简而言之，生不出孩子，赖你那爱臭美的妈。

	Sharpe教授确实说了不要用香水，但不是紧急呼吁，他的原话是：“孕妇应该停止使用护肤霜和香水，尽管我们没有导致损害的决定性证据，但有些成分是有问题的，例如一些化合物的联合效果。”

	教授这话怎么听着这么心虚呀？原来他的研究成果不是来自人体，而是来自小鼠模型。他的小鼠模型不是模拟人喷香水抹化妆品，而是用化学物将小鼠的激素阻断了，这样观察到小鼠出生后的生殖缺陷等问题。Sharpe的试验并非新的东西，化学物对雄性激素的影响早就被证实了，但这需要很高的浓度，Sharpe自己也承认只有在很高浓度的情况下才有影响。他的贡献是在没有拿得出手的证据的情况下，将之与化妆品特别是香水联系在一起。

	文艺复兴时期的医生Paracelsus留下一句名言：“The dose makes the poison”，成为毒理学的首要原则，这句话被中国人演绎成“抛开剂量谈毒性就是耍流氓”。当然剂量决定毒性的原则只考虑短期+高剂量的急性毒性。大量证据表明，长期+低剂量的慢性毒性非常可怕，特别是空气污染、药物、天然成分等。因此毒性除了剂量之外，还要考虑时间和次数等因素。另外化学物的毒性不是1+1=2，而是1+1=N，多种化学物的联合毒性很可能比单一毒性相加起来高很多倍。Sharpe的论点正是基于此。但是，有这种可能并不表明确实存在，Sharpe不仅没有任何来自人体的证据，而且连模拟人体实际情况的动物模型都没有，他的论点只能算推论，而且是站不住脚的推论。

	除了Sharpe的研究外，并没有其他关于香水影响孕妇及胎儿的科学证据。Sharpe的论点不仅没有决定性证据，而且不能算在香水甚至化妆品头上。他是从化学物的角度，比如芳香类，这些化学物成分不仅在香水及其他化妆品中存在，也在洗发水和各种日用生活品中存在，即便孕妇不用香水，不涂化妆品了，也会接触到这些化学物，不能解决任何问题。除非离群索居，脱离现代文明社会。那样的话是有可能彻底避免Sharpe所说的风险，但自己和胎儿不能享受现代化的医疗照顾，很可能出现严重的后果。

	近年来，Sharpe专注于男性低睾酮水平的研究，相信这与母亲在怀孕期间接触的化学物相关，但他已经不再提香水或化妆品，而是建议孕妇不要喝豆浆、不要吃豆制品、不要喝塑料瓶装的水、不要接触热敏纸等。这些建议和他6年前的建议一样，来自没有确凿证据的推论，只是有疑问而已，是很不靠谱的。他的这种转变足以证明，孕妇不能用香水是没有科学证据的，连他这个始作俑者都不好意思再说了。

	工业文明的一个后果是化学物存在于我们日常生活的每一个角落，数不清的化学物从各种途径进入我们的身体，虽然绝大部分被身体排泄出去，但它们对身体的影响，特别是长期的影响还不是很清楚。这方面的研究还非常有限，也很难进行详细研究。现阶段不能保证香水和其他化妆品对胎儿百分之百安全，但也并没有对胎儿不安全的证据。

	长期以来，对香水和其他化妆品的怀疑是因为怀孕后孕妇的嗅觉变得敏感起来，这样就会怀疑来自香水和其他化妆品的香味是否对胎儿有害。针对这种疑问，加上Sharpe造成的影响，有关专家建议用有机和天然化妆品。但有机和天然产品并不保证比合成的安全，影响雄性激素的化妆品所含成分就包括天然成分，所以这个建议不靠谱。

	另外还有一个建议，如果实在放不下心的话，在怀孕前三个月不要用香水和其他化妆品，这样起码不会出现Sharpe所推论的后果。

	为了孩子，素面朝天，是伟大的母性的体现。但在竞争激烈的现代社会，妇女所受到的压力大于男人，特别是当她们怀孕之后，身体的变化、对腹中胎儿和未来的担忧使得孕妇的情绪变化很大也很不稳定，化妆可以增强女人的自信，爱美是人类的天性，孕妇也有爱美的权利，也能够保持美丽。

	根据现有的科研结果，没有必要仅仅为了很不着边际的可能性而牺牲对美的追求，准妈妈是可以用香水和其他化妆品的。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>10、怀孕后就要吃安胎药、补药，有必要吗？</string>
		<key>des</key>
		<string>	
曾有台湾媒体报道，52岁的刘德华在他妻子朱丽倩生第二胎时，为避免胎儿过轻以及为保生产时母子平安，向精通针灸及指穴的中医马菁岐医师求安胎药方。在日常生活中也常常听到孕早期的妈妈说检查时有指标不正常，然后食用各种安胎药，保胎丸。我们知道，孕早期胎儿还不稳定，很容易出现异常，但是孕早期真的需要如此紧张吗？有必要吃安胎药吗？

	安胎药属平滑肌松弛剂，使用安胎药有可能引起心跳加速、呼吸困难等副作用，也可能使人血压降低，如果反应严重，还可能造成肺水肿或是心肌衰竭，虽然出现这些副作用症状的几率非常低，但是安胎药毕竟属药类，孕初期又是胎儿主要器官发育形成的阶段，特别是神经管及主要内脏器官的发育，所以产科专家提醒：孕早期不要轻易“被保胎”，身体出现状况应该及时查清楚原因，保胎是要有医学指征的，有循证医学的根据，不一定是胎儿出现了问题，盲目保胎反而会对胎儿造成伤害。

	有些孕妇在怀孕之后，子宫出血，使用黄体酮成为最常见的保胎手段。然而，事实上，大部分黄体酮都是被滥用的，有的不但于事无补，反而会对孕妇和胎儿造成伤害。因为在医学上，HCG才是妊娠物分泌的，它的作用不可无视。只要HCG是正常的，胚胎正常的可能性就很大，但也有合并空卵妊娠的病例，这需要由超声检查来鉴别而不是靠黄体酮来诊断。如果是因为内分泌功能有问题经过治疗才怀孕，或者试管妊娠，黄体酮治疗是必不可少的，其他的黄体酮治疗请三思，另外，安胎成功的关键是找出流产或早产的原因并进行针对性的治疗，而不是盲目保胎。

	当然也有一些孕妇是需要保胎的。

	对存在以下情况的孕妇，医生会建议“安胎”：

	（1）对因黄体功能缺陷、孕激素不足造成可能流产，B超图像提示为活胎的孕妇，可进行保胎。这种原因引起的流产迹象应在医生指导下使用黄体酮，也可在医生指导下使用绒毛膜促性腺激素（HCG），以促使孕激素的合成。

	（2）有早产迹象的孕妇。主要存在孕妇和胎儿两方面原因，常见的有轻度妊娠高血压、子宫畸形、双胎或多胎。临床表现为胎儿存活，且无宫内窘迫，胎膜未破，宫口无扩张或扩张较小。因为这种原因导致的有早产迹象的孕妇应取左侧卧位休息并在医生指导下选用宫缩抑制剂。

	在临床上，有些准妈妈出现阴道流血或腹痛的先兆流产征兆，有的经过治疗可以保住胎儿，但有的难免会流产。但是，不少准妈妈只是因为有习惯性流产的经历，即便没有任何不适，为了保胎，她们一旦怀孕以后就卧床休息，吃喝拉撒全在床上，以为这样就可以保住胎儿。中山大学孙逸仙纪念医院产科教授张建平说，长期卧床没有必要，也没有任何好处，还对身体不利。卧床会影响消化功能，本来怀孕以后由于妊娠反应、胎盘激素对消化功能的抑制以及增大子宫的压迫，孕妇就有恶心、呕吐、食欲不振、消化力下降和便秘等症状。长期卧床以后，这些情况会变得更加严重，后期还会出现各种并发症。此外，因为长期没有运动，下肢肌肉废用性萎缩，会导致产后下肢无力，走路困难等等。实际上，孕妇流产的原因很多，安胎时是否需要卧床，应根据不同情况而定。张建平指出，有下面情况时应避免活动或少活动：

	①  先兆流产的孕妇阴道有出血，特别是血色鲜红或伴有下腹疼痛者；

	②   因各种原因做了宫颈环扎术的孕妇；

	③  前置胎盘出血者；

	④  由于子宫解剖异常导致晚期流产或早产的孕妇，如宫颈机能不全，子宫畸形；

	⑤  虽然没有阴道出血，但超声检查发现绒毛下或胎膜下有血肿者。
	
	还有一些孕妇因为一些特殊情况，不能使用安胎药：

	1. 妊娠期，尤其在妊娠的头3个月内，由于胎儿体内各器官分化尚未完成，药物致畸的危险性增加，可诱发畸形等严重后果。

	2. 怀孕已28～37周，因妊娠高血压、子宫畸形、双胎、羊水过多等造成早产症状时，也不主张保胎，因为此时瓜未熟而蒂已落，早产儿各脏器发育不全，死亡率较高，即使存活下来，也可能后天智力障碍。

	准妈妈怀上宝宝以后，除了慎用安胎药，还切忌滥用补药。随着生活水平的提高，为了满足胎宝宝发育的需要，全面摄取营养，准妈妈以及一些亲朋好友在孕妇怀孕期间想方设法购买一些滋补药品。他们认为，怀孕以后吃补药，母体和胎儿都能得到营养的补充，是一举两得。然而事实不是这样的，孕妇吃补药是一种不可取的做法。对于一个不缺乏营养的人补得太过，会影响孕妇正常饮食的摄取和吸收。补药过量会带来相反的作用，比如，引起整个体内分泌系统出血。中医认为，如果孕妇滥服人参、桂圆、黄芪等甘温补品，甘温极易助火，动胎动血，对有阴虚内热的孕妇来说，无异于火上加油，火盛则灼伤阻血，血热则妄行，上下气机失调，则很可能造成漏红、小腹坠胀等先兆流产或是早产，若气盛耗阴，扰动胎儿，还可危及生命。另外，有的补药含有激素，如果滥用可能会影响胚胎正常的发育成熟，干扰胎儿生理发育进程，从而会在胎儿出生后为其带来不良的影响，严重时甚至可能危及生命。

	市场上的滋补药的作用被医药广告显著夸大，但其含营养成分甚少，没有什么特别成分，既不会产生神奇的营养作用，也不会发挥多大的营养滋补效能，仅仅是一种心理满足而已。长期服用滋补药品对于孕妇及其家庭来说不仅是一笔不小的开支，而且实用性不高又浪费。但是如果病情需要，也必须在医生的指导下选择性地服用孕妇专用补充剂，根据个人的身体状况，缺什么补什么。

	事实上，孕期进补最好的方式是食补，遵循饮食平衡的原则。胎儿生长发育需要的大量蛋白质、脂肪、糖、矿物质和维生素，广泛地储存在各种营养丰富的食物中，如鸡蛋、鱼、骨头汤、肉、水果、蔬菜、粗粮等等。只要孕妇注重日常饮食的搭配和多样化，多食新鲜蔬菜和水果，注意调养，就能起到补充营养的效果。

	最后再提醒准妈妈，孕期一定要注意休息，进补一定要适度，不要随便吃补药和安胎药，有任何不舒服，请记得询问医生，不要让胎儿成为你无知的牺牲品。

	名词解释

	黄体酮：是由卵巢黄体分泌的一种天然孕激素，为维持妊娠所必需。临床用于先兆性流产、习惯性流产等闭经或闭经原因的反应性诊断等。

	HCG：即人绒毛膜促性腺激素，其主要功能就是刺激黄体，有利于雌激素和黄体酮持续分泌。
	安胎药属平滑肌松弛剂，使用安胎药有可能引起心跳加速、呼吸困难等副作用，也可能使人血压降低，如果反应严重，还可能造成肺水肿或是心肌衰竭，虽然出现这些副作用症状的几率非常低，但是安胎药毕竟属药类，孕初期又是胎儿主要器官发育形成的阶段，特别是神经管及主要内脏器官的发育，所以产科专家提醒：孕早期不要轻易“被保胎”，身体出现状况应该及时查清楚原因，保胎是要有医学指征的，有循证医学的根据，不一定是胎儿出现了问题，盲目保胎反而会对胎儿造成伤害。

	有些孕妇在怀孕之后，子宫出血，使用黄体酮成为最常见的保胎手段。然而，事实上，大部分黄体酮都是被滥用的，有的不但于事无补，反而会对孕妇和胎儿造成伤害。因为在医学上，HCG才是妊娠物分泌的，它的作用不可无视。只要HCG是正常的，胚胎正常的可能性就很大，但也有合并空卵妊娠的病例，这需要由超声检查来鉴别而不是靠黄体酮来诊断。如果是因为内分泌功能有问题经过治疗才怀孕，或者试管妊娠，黄体酮治疗是必不可少的，其他的黄体酮治疗请三思，另外，安胎成功的关键是找出流产或早产的原因并进行针对性的治疗，而不是盲目保胎［1］。

	当然也有一些孕妇是需要保胎的。

	对存在以下情况的孕妇，医生会建议“安胎”［2 ］：

	（1）对因黄体功能缺陷、孕激素不足造成可能流产，B超图像提示为活胎的孕妇，可进行保胎。这种原因引起的流产迹象应在医生指导下使用黄体酮，也可在医生指导下使用绒毛膜促性腺激素（HCG），以促使孕激素的合成。

	（2）有早产迹象的孕妇。主要存在孕妇和胎儿两方面原因，常见的有轻度妊娠高血压、子宫畸形、双胎或多胎。临床表现为胎儿存活，且无宫内窘迫，胎膜未破，宫口无扩张或扩张较小。因为这种原因导致的有早产迹象的孕妇应取左侧卧位休息并在医生指导下选用宫缩抑制剂。

	在临床上，有些准妈妈出现阴道流血或腹痛的先兆流产征兆，有的经过治疗可以保住胎儿，但有的难免会流产。但是，不少准妈妈只是因为有习惯性流产的经历，即便没有任何不适，为了保胎，她们一旦怀孕以后就卧床休息，吃喝拉撒全在床上，以为这样就可以保住胎儿。中山大学孙逸仙纪念医院产科教授张建平说，长期卧床没有必要，也没有任何好处，还对身体不利。卧床会影响消化功能，本来怀孕以后由于妊娠反应、胎盘激素对消化功能的抑制以及增大子宫的压迫，孕妇就有恶心、呕吐、食欲不振、消化力下降和便秘等症状。长期卧床以后，这些情况会变得更加严重，后期还会出现各种并发症。此外，因为长期没有运动，下肢肌肉废用性萎缩，会导致产后下肢无力，走路困难等等。实际上，孕妇流产的原因很多，安胎时是否需要卧床，应根据不同情况而定。张建平指出，有下面情况时应避免活动或少活动：

	①  先兆流产的孕妇阴道有出血，特别是血色鲜红或伴有下腹疼痛者；

	②   因各种原因做了宫颈环扎术的孕妇；

	③  前置胎盘出血者；

	④  由于子宫解剖异常导致晚期流产或早产的孕妇，如宫颈机能不全，子宫畸形；

	⑤  虽然没有阴道出血，但超声检查发现绒毛下或胎膜下有血肿者。
	
	还有一些孕妇因为一些特殊情况，不能使用安胎药：

	1. 妊娠期，尤其在妊娠的头3个月内，由于胎儿体内各器官分化尚未完成，药物致畸的危险性增加，可诱发畸形等严重后果。

	2. 怀孕已28～37周，因妊娠高血压、子宫畸形、双胎、羊水过多等造成早产症状时，也不主张保胎，因为此时瓜未熟而蒂已落，早产儿各脏器发育不全，死亡率较高，即使存活下来，也可能后天智力障碍。

	准妈妈怀上宝宝以后，除了慎用安胎药，还切忌滥用补药。随着生活水平的提高，为了满足胎宝宝发育的需要，全面摄取营养，准妈妈以及一些亲朋好友在孕妇怀孕期间想方设法购买一些滋补药品。他们认为，怀孕以后吃补药，母体和胎儿都能得到营养的补充，是一举两得。然而事实不是这样的，孕妇吃补药是一种不可取的做法。对于一个不缺乏营养的人补得太过，会影响孕妇正常饮食的摄取和吸收。补药过量会带来相反的作用，比如，引起整个体内分泌系统出血。中医认为，如果孕妇滥服人参、桂圆、黄芪等甘温补品，甘温极易助火，动胎动血，对有阴虚内热的孕妇来说，无异于火上加油，火盛则灼伤阻血，血热则妄行，上下气机失调，则很可能造成漏红、小腹坠胀等先兆流产或是早产，若气盛耗阴，扰动胎儿，还可危及生命。另外，有的补药含有激素，如果滥用可能会影响胚胎正常的发育成熟，干扰胎儿生理发育进程，从而会在胎儿出生后为其带来不良的影响，严重时甚至可能危及生命。

	市场上的滋补药的作用被医药广告显著夸大，但其含营养成分甚少，没有什么特别成分，既不会产生神奇的营养作用，也不会发挥多大的营养滋补效能，仅仅是一种心理满足而已。长期服用滋补药品对于孕妇及其家庭来说不仅是一笔不小的开支，而且实用性不高又浪费。但是如果病情需要，也必须在医生的指导下选择性地服用孕妇专用补充剂，根据个人的身体状况，缺什么补什么。

	事实上，孕期进补最好的方式是食补，遵循饮食平衡的原则。胎儿生长发育需要的大量蛋白质、脂肪、糖、矿物质和维生素，广泛地储存在各种营养丰富的食物中，如鸡蛋、鱼、骨头汤、肉、水果、蔬菜、粗粮等等。只要孕妇注重日常饮食的搭配和多样化，多食新鲜蔬菜和水果，注意调养，就能起到补充营养的效果［3］。

	最后再提醒准妈妈，孕期一定要注意休息，进补一定要适度，不要随便吃补药和安胎药，有任何不舒服，请记得询问医生，不要让胎儿成为你无知的牺牲品。

	名词解释

	黄体酮：是由卵巢黄体分泌的一种天然孕激素，为维持妊娠所必需。临床用于先兆性流产、习惯性流产等闭经或闭经原因的反应性诊断等。

	HCG：即人绒毛膜促性腺激素，其主要功能就是刺激黄体，有利于雌激素和黄体酮持续分泌。



参考资料：

［1］李玮璟 保胎需谨慎，别滥用黄体酮

［2］于美皎 安胎药会不会致畸胎儿

［3］齐其格肖齐齐克 滥用补药弊多利少</string>
	</dict>
	<dict>
		<key>title</key>
		<string>11、“女美娘男丑母”判断胎儿性别靠谱么？</string>
		<key>des</key>
		<string>
	流言：我曾经听人说确定胎儿性别只要看孕妇脸色便可知道。就是说：如果怀孕以后脸色变得更好看，皮肤变得更细腻，怀的多半是女孩；如果怀孕以后脸上的斑点变多了，脸色也没有原本好看了，那么怀的多半是男孩。

	真相：这个流言可以说是个“老资格”了，在国内很多地区都有传播。

	对这条流言，有一些似是而非的“科学解释”：准妈妈们如果肚中怀的是女孩，胎儿分泌的雌性激素占优势，妈妈的身体内就增加了额外的雌激素，皮肤自然会越来越好。如果怀的是男孩，男孩分泌的雄性激素会多一些。试想一下，如果女性服用了雄性激素会怎样，油脂分泌增多、角质层增厚，看起来自然是变丑了。

	其实按这种思路往下想，如果肚里怀着的是双胞胎，或者是龙凤胎，那么妈妈体内的激素水平岂不是会有更大变化？可是有报道显示，准妈妈体内的固醇类激素水平（雄激素、雌激素都属于固醇类），怀单一性别双胞胎的和怀龙凤双胞胎的之间并没有明显差别。从这一点来看，这个传言就很有问题。

	雌激素真的对皮肤有好处么？

	对女性来说，雌激素对皮肤确实有好处，但前提是雌激素的水平不能太高。

	研究已经证实，雌激素对维持皮肤及皮下组织的正常结构和功能有重要的作用，随着年龄的增大、雌激素水平的下降使皮肤胶原的含量下降。皮肤成分的变化导致了和皮肤老化相关的功能上的变化，如：胶原的变化导致皮肤强度和弹力下降，亲水性的葡胺多糖（glycoaminoglycans）浓度下降导致皮肤水容量减少，这些变化都可以导致皮肤松弛，失去弹性，暗淡无光等等。而雌激素能够改善皮肤功能的一个最有力证据是：局部应用雌激素能改善这些不良状况。

	但是，雌激素水平过高就不好了。可能很多朋友都知道，孕妇们在怀孕时皮肤上会出现色斑，且皮肤看起来会黑一些，而这些现象在生完小孩后一段时间有很大几率会消失——这很大程度上是雌激素捣的鬼。

	女性在妊娠期间垂体分泌促黑素细胞激素（MSH）增加，同时雌激素和孕激素大量增多，这些激素的变化促进了皮肤黑素细胞的功能，使黑色素增加，孕妇肤色加深。面颊部可能会出现蝶状褐色斑，称为妊娠黄褐斑（chloasma gravidarum）。对皮肤功能的深入研究显示，雌激素能促进体外培养的人类上皮黑素细胞的增殖活性和酪氨酸酶活性，而酪氨酸酶是生成黑素过程中一种重要的酶，酪氨酸酶活性的增加会导致生成更多的黑素。美国FDA的用药指导中就明确指出，对于绝经期妇女的雌激素替代疗法的一个常见的副作用就是会出现色斑。

	这些证据都显示，雌激素虽然有可能让女性的皮肤变得更加柔嫩，但如果其水平过高，也会导致皮肤的色素沉积，出现色斑。而孕妇的雌激素水准，恰好处在“过高”这个档次。

	宝宝是男是女对妈妈的影响大么？

	怀孕时妈妈体内的激素水平是怎么变化的？宝宝是男是女对妈妈体内的激素水平有多大的影响？

	对于胎儿性别对母亲激素水平的影响，学界的观点并没有统一。的确有研究显示怀有男性宝宝的妈妈体内雌激素水平比较低。但是，亦有报道显示宝宝是男是女，对妈妈体内的雄激素、雌激素水平不会造成显著的影响。

	实际上，相比怀孕前，无论胎儿的性别如何，妈妈体内的激素水平都会发生显著变化，雌激素，孕激素，睾酮都会明显上升。举例来说，在正常的成年女性中，随月经周期的变化，雌二醇（生物活性最强的雌激素）在血液中的含量大约是从大约20ng/L到大约750ng/L，而在孕妇中，雌二醇含量可有近百倍的上升，到了临近生产时可达到20000ng/L的水平。

	即使是认为母亲的激素水平与胎儿性别有关的研究，统计所得的数据差异也并不十分大：在接近生产时，怀着女孩的妈妈体内的雌二醇含量约为23000ng/L，怀着男孩的约为20000ng/L。前面已经论述过，对于渴望保留美丽的皮肤的准妈妈们来说，孕妇体内的雌激水准已经是“过高”了。如果怀有男胎的孕妇雌激素水准的确是稍低一些，那么那些孕妇们的皮肤反而应该更好一些才是。但实际上，准妈妈们的皮肤是否能保持光鲜、靓丽，并不只取决于雌激素水平，还与生活习惯、环境等许多因素有关。想靠观察孕妇的皮肤就确定肚中胎儿的性别，是不靠谱的。

	结论：谣言粉碎。这个谣言虽说是个“老资格”，但也实在是很不靠谱儿。胎儿的性别对准妈妈的激素水平有没有明显的影响还没有明确的结论，但是在怀孕过程中女性体内雌激素水平肯定会上升，而大量增加的雌激素会让准妈妈们的皮肤颜色变深并出现色斑。并且，孕妇的皮肤是否细腻，脸色是否好看与很多因素有关。胎儿的性别并不能从准妈妈的皮肤上看出来。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>12、怀孕后用橄榄油护肤真的能除妊娠纹吗？</string>
		<key>des</key>
		<string>
	怀孕后，甜蜜的孕期让女人充分享受将为人母的激动，但是随着肚子的日益隆起，可恶的妊娠纹也随之出现。据统计，约70%～90%的孕妇在首次怀孕时会出现妊娠纹。商家为了满足产妇爱美的心理，推出了大量的橄榄油以及含有橄榄油的乳液产品，而“治疗妊娠纹”也成了橄榄油的卖点之一。妊娠纹确实影响了妇女的爱美之心，但是用橄榄油真的能除妊娠纹吗？

	2012年11月，循证医学系统评价资料库（CDSR）发表了一项综述，总结了6项用各种乳液处理妊娠纹的医学实验，实验结果很令人失望，包括橄榄油、可可脂等各种常见“功效成分”的乳液，与不含有“功效成分”的安慰剂，与不做任何处理相比，在统计学上没有差别。这就意味着：长不长妊娠纹、长得多严重，跟用不用乳液以及用什么乳液都没有关系。因此，基于目前的证据，用橄榄油来预防和治疗妊娠纹，只是没有科学证据支持的美好愿望。

	那么橄榄油为什么得到这些商家的青睐呢？美国普渡大学农业与生物系食品工程专业博士云无心指出，冷榨橄榄油中含有比较多的维生素E以及其他多酚类化合物，这使其具有一定的抗氧化能力。一些品牌宣称其能带来普通油不具有的美容护肤功能，而在远古的欧洲，人们用橄榄油来抗皱保湿护肤等。但是，云无心指出，橄榄油是否能去除妊娠纹，并没有得到临床实验的验证。

	一、妊娠纹是怎么形成的

	专家指出，妊娠纹产生于皮肤中间的真皮层。真皮层中有胶原蛋白和弹性蛋白，因而具有弹性，能起到保持皮肤形状的作用。但是，如果真皮受到的变形过大，或者持续时间长，就可能导致真皮层断裂，从而出现斑纹。在怀孕过程中，胎儿在体内的不断生长，使得腹部皮肤受到持续性牵拉，出现过度伸张，皮下的很多胶原纤维最终被&quot;拉断&quot;，使皮肤上形成了一种特殊类型的斑纹，这样的斑纹被称为妊娠纹。早期的妊娠纹呈浅红色，后逐渐转成白色。除了怀孕，其他导致皮肤持续拉伸的因素，也可能形成这样的斑纹。比如短期内体重大幅增加的男性；有的小孩在生长发育时期，由于生长太快，腿部和腰部也可出现不同程度的生长纹。实际上妊娠纹只是一种最常见的皮肤膨胀纹。

	妊娠纹一旦出现就很难彻底消除，但如果加强产前保养，则可以大大减少妊娠纹产生的几率，至少可以把妊娠纹的影响程度减到最小，所以预防妊娠纹应从孕期开始。

	二、妊娠纹的预防

	1. 增加皮肤弹性

	在怀孕前，准妈妈就该注意适当做一些体育锻炼，增加腹部肌肉和皮肤弹性。仰卧起坐、游泳、瑜伽都是不错的选择。怀孕后，也别停止运动，在医生允许的情况下，散步、游泳、孕期体操都可以坚持下来。孕期锻炼不仅能预防妊娠纹的产生，还能增加肌肉力量，促进自然分娩顺利进行。

	2. 严格控制体重

	在怀孕期间，因为考虑要到给胎儿输送足够的养分，孕妇会摄取过多的食物，造成了自身体重的增加，体重增加就是促成妊娠纹生长的危险信号之一，一般从怀孕到分娩平均体重增加为10～12kg，而且体重的增加应该是渐进式的，每个月体重增加不宜超过2kg。准妈妈最好在家里买一台体重秤，每天起床后都测量一下体重，做一个曲线图，随时掌握自己的体重变化情况。控制体重可以有效避免脂肪堆积造成的妊娠纹生成。

	3. 均衡摄取营养

	饮食一定要注意膳食平衡，三餐要有规律，尽量吃新鲜水果，少喝果汁；喝脱脂奶，少喝全脂奶；喝清汤，少喝浓汤。避免摄取过多的甜食及油炸食品，吃饭切忌狼吞虎咽，吃得太快不仅会给胃增加负担，而且不利于消化。多摄取富含蛋白质、维生素、矿物质的食物，可以改善肤质，增加皮肤的弹性，减少妊娠纹的生成。

	4. 适度按摩

	孕期按摩的好处很多，其中一点就是增加皮肤弹性，预防妊娠纹的产生。从怀孕3个月开始至分娩后3个月内坚持按摩，同时选择一些纯天然的橄榄油、婴儿油等保持肌肤滋润，让按摩更容易进行，按摩时，手指的力度不要太重，以免伤及腹中的宝贝。每次按摩时间约10～15分钟左右。可以有效增强结缔组织的弹性和柔韧性，改善皮肤扩张能力，有效预防妊娠纹的产生或淡化已形成的细纹。

	按摩步骤：

	腹部：由肚脐开始，在肚脐周围顺时针方向画圈，慢慢地由小到大，按摩腹部皮肤。

	大腿：由膝盖开始，从大腿后侧往上推向髋部。

	乳房：从乳沟处开始，用指腹由下往上、由内至外轻轻按摩，直到推近下巴、脖子为止。

	每次按摩持续10～20分钟，每天做两次。到孕后期可适当增加按摩次数。

	5. 使用托腹带

	从怀孕4个月开始使用托腹带，可以减缓皮肤向外、向下过度延伸拉扯，有效避免妊娠纹的生成。但孕期最后一个月不得使用，以免影响宝宝入盆。

	三、妊娠纹如何治疗

	1. 使用妊娠纹防护产品。对于妊娠中已出现浅纹的妈妈来说，将妊娠纹防护精华液与妊娠纹修复精华液共同使用，能够活化纤维细胞，让断裂的纤维组织再生，持续使用可使妊娠纹颜色逐渐淡化至正常肤色，凹凸感明显减弱至消失。

	2. 鸡蛋清去除妊娠纹。鸡蛋是我们日常生活中非常熟悉的食品，其实，鸡蛋还具有独特的药用价值。具体操作：腹部洗净后按摩10分钟，把蛋清敷在肚子上，约10分钟后擦掉，再做一下腹部按摩，同时加入一些橄榄油，对促进皮肤胶原纤维的再生有好处。腹部敷好鸡蛋清后，还可以用纯棉的白条布裹在腰腹部，白天裹好，晚上睡觉时放开，第二天更换，因蛋清有收紧皮肤的作用，持续使用不仅有助于产后妊娠纹的消失，还有助于体形恢复。

	3. 美容院皮肤护理。现在有些美容院已经开展了祛妊娠纹的服务项目，使用专用磁场祛肚纹治疗仪或专业的祛妊娠纹产品，效果显著。

	4. 医学美容淡化。在妊娠纹呈现紫红色的时候（早期），用脉冲光或染料镭射照射，加速紫红纹路的消退，增加胶原蛋白的生成，减轻妊娠纹的严重度；镭射微磨皮手术，可以改善疤痕组织；果酸换肤可以改善表皮层的色泽及厚度，也能使妊娠纹看起来不明显。

	四、妊娠纹的护理注意事项

	1. 注意产品的安全性。去妊娠纹的产品要不含酒精、激素、色素，及铅、汞等重金属等成分，并经严格的医学皮肤安全测试认可，无过敏、无刺激。孕产妇及哺乳期妇女均可以安全放心使用。

	2. 确保购买的产品是正品。一些矿物油加化学防腐剂、人工色素和各种香料加工而成的去妊娠纹产品对人体造成的伤害太大，会严重损害妈妈和宝宝的身体健康，所以要慎重选择产品。

	3. 有恒心。去除妊娠纹都要经过活化纤维细胞，让断裂的纤维组织再生的过程，只有持续使用才能让妊娠纹渐渐去除，因此只有坚持使用去除妊娠纹的产品才能达到较好的效果。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>13、孕期左侧位以外的睡姿对胎儿有危害吗？</string>
		<key>des</key>
		<string>	为了准妈妈和宝宝的健康，孕期睡眠特别重要。但是，随着宝宝逐渐增大，除了频繁起夜之外，睡姿不恰当也会带来许多不适，影响准妈妈休息。那么，怎样的睡姿才能尽可能保证睡眠质量呢？如一些专家所说保持左侧卧位，是不是唯一的选择呢？以下是一些建议：

	尽量避免仰卧

	怀孕期间，尤其是孕晚期，应尽可能地避免仰卧。这是因为仰卧时，膨大的子宫对下腔静脉的压力最大，影响静脉回流，使子宫胎盘血流不畅，危及胎儿的可能性最大。比如，1991年发表在《妇产科杂志》（美国妇产科学领域的科学期刊）上的一项研究发现，孕36周时，仰卧位的胎盘绒毛血流比左侧卧低25%。此外，由于仰卧时由脊柱、后背肌肉、肠和主要血管来承担子宫的重量，还会引起肌肉疼痛和痔疮。仰卧还会引起打鼾、体重增加，诱发睡眠呼吸暂停综合征，并引起血压下降，从而使一些孕妇感觉眩晕（反之，一些准妈妈则会因为仰卧导致血压升高）。然而，基于目前的研究证据，尽管仰卧影响胎盘血流，但对于宝宝大小正常的健康孕妇而言，孕晚期偶尔仰卧很少带来严重的后果；只有有限证据认为，产前或者正在剖腹产时，仰卧会影响胎盘指数。

	尽量侧卧

	侧卧可以减小胎儿对下腔静脉的压力，有助于回心血流通畅，从而有助于孕妇的心脏健康，也有助于母体有效地通过肾脏排出体内的垃圾，从而减轻关节、手脚的水肿。对于胎儿而言，则有利于胎盘、 肾脏等重要部位保持血流通畅，从而使宝宝能够更好地从胎盘中吸收营养，降低胎死腹中的几率。一些医生特别建议孕妇朝左侧卧，这是因为肝脏在腹部右侧，左侧卧时可以使子宫远离这一大器官。有研究表明，非左侧卧位孕妇死胎的概率是左侧卧位孕妇的两倍。虽然这一证据不够确凿，但尽可能地左侧卧仍不失为一个好的做法。

	选择最舒适的姿势

	基于医学界现有的认识，为了胎儿和孕妇的健康，孕晚期应尽量采用左侧睡；但不能盲目地认为非要维持在这个卧位一动不动，觉得左侧卧困难的妈妈更不用为此一筹莫展。首先，入睡后人的睡姿会自然发生变化，不可能维持在一个固定的姿势。其次，孕晚期的妈妈们都能体会到，整晚保持一个睡姿并不舒服，甚至使原本就不好的睡眠质量更差。最佳的睡眠方式应该是选择自己觉得舒适的卧位，只是尽可能多朝左侧睡而已。事实上，由于孕晚期肚子很大，仰卧时胎儿挤压下腔静脉引起的不适感会让准妈妈觉醒，因此孕晚期不用太担心入睡后变成仰卧的问题。

	尽早训练侧睡

	一些孕妇在孕前习惯了仰卧，突然要改成侧卧有一定的难度，为此，需要在怀孕早期就训练朝左侧睡，并借助普通枕头、孕妇枕等工具缓解睡眠时的不适。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>14、怀孕期间，究竟哪些该吃哪些不该吃？</string>
		<key>des</key>
		<string>	如果家里有个讲究各种禁忌的长辈，怀孕期间这不能吃那不能吃，孕妇想大快朵颐而不得，实在是对心情不利。那么究竟哪些是有科学证据证实了必须避免或者必须吃的呢？

	必须避免的食物

	1. 生鲜海鲜或者肉类。因为生肉或者生海鲜，像毛蚶、醉虾蟹、刺身以及没有烧透的肉类，可能被大肠杆菌、弓形虫、沙门氏菌等污染，导致感染，危急及胎儿。煮熟了不用担心，所谓螃蟹性凉之类，是没有依据的。

	2. 熟食店做好的熟肉。因为做好后的熟肉并非马上就能售出，存放期间可能被李斯特菌污染；李斯特菌又可以经血液从胎盘传给胎儿，引起胎儿感染，可能导致流产，所以要尽量避免。如果需要吃熟肉，回家后记得重新高温蒸煮。

	3. 海鱼。因为深海鱼大多含有高量的汞，而孕期摄入大量的汞会引起胎儿发育迟缓和大脑损伤。含汞最高的海鱼有枪鱼、箭鱼（swordfish）、方头鱼、金枪鱼等。

	4. 熏烤的海鲜。因为腌制或者烘烤的鱼干或海鲜也可能污染李斯特菌，所以应该尽量避免。罐头封装或者高温现做的就没有问题。

	5. 遭工业污染的淡水鱼。因为严重污染的水域会含有高量的多氯联苯，这是一种会在鱼体内积聚的污染物，吃下去就可能伤害胎儿。

	6. 贝类。贝、蛤蜊、蚌等最大的威胁来自没有完全高温烤煮，要吃务必烤熟煮透。但仍然有可能被海水污染（即所谓的红潮），发生相关感染。所以最好避免。

	7. 生鸡蛋。国人吃生鸡蛋的不多，但最近日本料理在中国大城市流行，日式料理中常用生鸡蛋，而生鸡蛋则可能被沙门氏菌污染，也会对胎儿健康造成威胁。所以，应该避免吃一切含有生鸡蛋的食物，这包括含有生鸡蛋的自制色拉、蛋黄酱、冰淇淋等。

	8. 软奶酪。中国人从前不吃奶酪，但是随着西方生活方式的引进，年轻一代也开始喜欢上奶酪，超市里也会有各种各样的奶酪。软奶酪可能在制作保存过程中污染上李斯特菌，会对胎儿造成威胁，应该避免。

	9. 未经巴氏消毒的牛奶。未经巴氏消毒的牛奶也可能污染李斯特菌，同样有危险，要尽可能避免。经过巴氏消毒的牛奶则是安全的。

	10. 同样道理，午餐肉、拆开了的火腿片也有可能染上李斯特菌，也要尽量避免。

	11. 咖啡因。通常量的咖啡是无害的，但是有研究发现大量饮用咖啡则可能会对胎儿造成损害，引起流产，所以建议孕早期少喝咖啡。怀孕中后期每天饮用不要超过200毫克的咖啡。通常一杯咖啡含有咖啡因95毫克，一杯茶含咖啡因47毫克。咖啡因有利尿的作用，如果有喝咖啡习惯，必须记得适当补水。

	12. 中药饮品（包括各种号称中草药炮制的凉茶之类）。几乎没有科研数据告诉我们，哪种中药饮品具体含有哪些对孩子有害的成分，所以禁绝最安全。

	13. 酒精。记住一个原则，孕期饮酒没有安全量，任何量的酒精都可能对孩子造成伤害。当然，这是个概率，并不是说，喝一杯酒孩子就会怎样，更不会喝了一杯酒就流产。孕前饮酒也可能影响孩子的健康成长，严重的可能出现胎儿酒精症候群、小脑畸形，甚至导致流产等。所以，一旦计划怀孕了，就要尽量避免一切酒精摄入，包括啤酒、葡萄酒。如果意外怀孕，那就从此之后不再喝酒。哺乳期也不要喝酒，因为酒精可以通过母乳进入孩子体内，对新生儿发育带来不良后果。

	14. 未经清洗的蔬菜水果。孕期应该多吃蔬菜，但是如果没有清洗干净，这些蔬菜就可能污染上弓形虫，甚至还可能残余农药。所以蔬果要确保清洗干净。

	15. 过量的维生素A。过量的维生素A可能引起胎儿畸形，推荐孕妇每日摄入维生素A 2565个国际单位。1两牛肝约含有16200单位，1两鸡肝含有7400单位。

	需要吃，甚至必须吃的食物

	1. 叶酸。叶酸是一种维生素，孕妇叶酸缺乏会导致严重的胎儿发育问题，比较典型的是脊柱裂。这个缺陷会发生在胎儿发育早期，往往在知道怀孕之前就已经开始影响胎儿了。所以，在打算怀孕之前的1个月开始，就应该每日补充400毫克叶酸，一直到哺乳期，这个非常重要。孕妇专用的复合维生素通常都含有足量的叶酸，所以最简单的办法就是每天记着吃孕妇专用维生素片。

	2. 蛋白质。孕妇每日需要71克蛋白质，鸡蛋是个好的选择。鸡蛋还含有丰富的维生素和矿物质，只是要记住别吃生鸡蛋。

	3. 全麦食物。全麦食物不仅含有大量纤维，也含有铁等，所以对于孕妇是个很好的选择。

	4. 豆类。各种豆子不但含有大量的蛋白质和纤维，也含有很多人体必需的营养成分，比如铁、叶酸、钙、锌等等。

	5. 三文鱼。三文鱼含有很丰富的Omega-3脂肪酸，被认为对胎儿的大脑发育非常重要，同时还能提供很多蛋白质和维生素B。三文鱼的汞含量通常比较低，所以每天吃少于1两的三文鱼是安全的。

	6. 各种莓。草莓、蓝莓都含有大量的维生素、钾、纤维，是孕期非常合适的水果。

	7. 低脂酸奶。酸奶含有大量的钙、蛋白质，又没有普通酸奶那么多糖分，所以也是对孕妇很有益的。

	8. 孕妇每日需要1克左右的钙， 27毫克的铁。因为铁和钙都很难从食物中充分摄取，所以最安全、最可靠的方法就是服用孕期专用复合维生素。

	9. 保证热量。孕妇每天需要比平日多摄入300大卡热量，相当于一个小加餐。比如半袋花生酱或一杯奶加上一些零食。孕妇每日三餐间隔可以吃一些补充食物，但也不能盲目地猛补，热量过多会造成胎儿过于肥胖，不仅生产不利，对孩子的健康也不利。

	总之，孕妇的饮食需要注意：饮食多样化，多食纤维，合理运动，保证饮水，保证热量，保证心情愉快。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>15、有危险保大人还是保孩子？不存在选择！</string>
		<key>des</key>
		<string>	“保大人还是保孩子？”这句自我行医以来就从未说过的话，不知道什么时候已经成为国内女性恐惧临产的“警句”。

	60多年前，剖宫产还是个很大、很棘手的手术时，“保大人还是保孩子”这种“二选一”的难题，似乎还有一定的存在理由。因为那时剖宫产技术不发达，遇到难产，如果剖宫取出胎儿，母亲就有可能会因为术中出血过多或术后严重感染而死去，保住了孩子保不住大人；如果实施毁胎术，就只能将孩子活生生地毁掉，从而保护母亲。所以不论对医生还是产妇及其家庭来说，这真的是个“二选一”的难题。

	但是，这黑暗的一章已经随着现代医学的发展被永远翻过去了。在过去的60多年中，医学取得了巨大的进步，以往的难产，通过剖宫产可以完全解决。术中出血导致母亲不治的情况间或也有，但绝非医务人员特意选择的结果；术后感染致死也偶有耳闻，但也绝非患者家属或医生特意选择的结果。在剖宫产的安全系数已经非常高的情况下，很难相信还会有医生提出这么愚蠢的问题。

	我实在是想不出在哪种情况下，现代医学需要在母亲和孩子之间“二选一”。仔细想了好久，想起我遇到过的几起需要选择的案例，都是医生、患者及其家属充分权衡利弊之后的明智选择，而母子之间是一荣俱荣，一损俱损的关系，绝非所谓“二选一”。

	比如2014年，我们在产前检查过程中发现有位37岁、孕24周的母亲得了肝癌，肿瘤直径300px，患者已有肝功能障碍。外科医师认为，肝癌肿块巨大，希望妇产科医师立即处理胎儿，便于他们处理肝癌；因为如果不先处理肝癌，母亲的生命很快就会受到威胁。这里，虽然我们要先处理胎儿，但绝对不是“二选一”的问题——继续妊娠，母子的安危都受到威胁。

	10多年前，我遇到过一位患严重心脏病的母亲，怀孕才16周就有了心衰的表现。如果继续妊娠，会严重威胁母亲的生命，我们建议家属终止妊娠并实施结扎手术。这似乎关系着保大保小，但实际上不是。因为如果不实施手术终止妊娠，母亲会因为心衰而死去，而尚未成熟的胎儿也绝对保不住，不存在临时“二选一”的问题。

	10多年前，我还为一例非常严重的白血病患者做过剖宫术，那是足月妊娠后由一家小医院转来的。当时患者的血小板仅有9000多，这是手术的大忌；患者还合并有部分性前置胎盘，无法经阴道分娩。我们与家属和血液科同仁急得如热锅上的蚂蚁，但家属非常清醒，知道大人那次的坎是过不去的，所以要求“即使死在台上也要帮我们把孩子取出去”。那个地方没有血小板分离术，所以上台前家属与产妇依依惜别，还听说家里已经安排好了后事。万幸的是，术中竟然没有大出血。

	以上这几个极端例子，并不是说医学就是万无一失的，实际上高危产妇还是很危险的。

	我做小医生时遇到过一位先天性心脏病患者，医生告诉她怀孕很危险，尽量别妊娠。结果这位母亲怀孕后，医生叫她流产以免心衰，哪知她从那以后就躲医生，一直躲到临产。临产时，心衰突然发作了，大汗淋漓、面色苍白。我们主任一面抱住她安慰她，一面命我们找会诊，准备抢救。我们都还没有来得及抢救，患者在喘了几口气之后就死在了我们主任的怀里。就那么短短几分钟的时间，就母子双亡。怎么说呢？这个产妇要是不躲医生，早点到医院来待产，或许还有一点机会，至少孩子还有存活的机会。躲医生的结果就是丢了母子两条命！

	准备结束本文的时候，我突然想起，我们科还将面对一颗定时炸弹：一位18岁的外地务工女孩，发现怀孕的同时，检查出再生障碍性贫血。开始的时候血小板还有5万，前不久只有1.9万了。社区医生几次上门动员她到医院规则产检，不仅她本人不听，其男友还到医院急诊科大闹了一场。卫生局组织了一次会诊，也拿他们毫无办法。上面要求基层不能死人，卫计委也愿意出钱，但患者不来医院住院待产，我们真的“黔驴技穷”了。如果这个患者能提前几天住院，等我们联系好血小板之后引产，也许母子都会平安。问题是人家就是不来，要真等出了问题再来，我们就措手不及了。那时候面对大出血，说实话，我不知道谁还有什么本领，到时候一切都来不及了。

	这几个例子看上去似乎有损小保大或保小不保大的影子，但实际上都是母子相连的命运共同体，与影视剧中那种吓人的“二选一”风马牛不相及。现在是消除谎言，正本清源的时候了。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>16、从科学证据看各类宠物对孕妇的风险</string>
		<key>des</key>
		<string>	中国进入现代化的标志之一是居民养宠物的比例越来越高，大中城市已经直逼欧美，因此就出现了一个新情况——中国人让计划生育政策教育得对怀孕极其敏感，便有了养宠物会直接导致孕妇流产的说法。

	这种说法早就存在着，在养猫的不是很多、养狗的几乎没有的年代，我就听动物方面的专家提到过这个可能，体现了中国科学家不以证据为准的过度谨慎的态度。在当年这种谨慎是可行的，至多把家里的猫送人。但现在一刀切地要求孕妇家中不得有宠物的建议就很难实施。欧美国家的家庭养宠物尤其是猫狗非常普遍，更需要有确凿的依据，从科学证据上看看养宠物是否会直接导致流产。

	谈这个问题有两个前提，一是不仅要考虑流产，还要考虑是否对胎儿有影响，是否会出现出生缺陷等问题；二是各种宠物的情况不一样，不能笼统地谈宠物，而是要按动物种类来谈，一个一个地分析。

	●狗。如果按规定接种的话，养狗不会导致流产或者影响胎儿。值得注意的是要去兽医那里查一下有没有寄生虫，如果有的话，就尽可能不让狗靠近孕妇。这是中国式的过度谨慎，因为狗身上的寄生虫虽然有可能感染人，但还没有导致流产和影响胎儿的证据。

	养狗会不会直接导致孕妇流产？如果养的是大狗，而且经常和狗玩耍的话，是有可能的，不是因为病，而是因为狗会蹦到孕妇的肚子上。这样的狗一定要管好。

	●猫。从传染病的角度，和狗相比，猫要脏得多。猫身上的各种传染病中最值得重视的是弓形虫病（Toxoplasmosis）。弓形虫病是寄生虫病，感染很普遍，估计全球范围内可能有三分之一到半数的人身上有弓形虫寄生，但绝大多数人无症状，至多出现类似流感的症状，但如果是免疫功能低下者，或者是孕妇，就会出现严重的症状，引起脑炎和神经系统疾病，还可能会影响心脏、肝脏、内耳、眼睛，偶尔会出现死亡的情况。

	弓形虫病对于胎儿的影响，取决于孕妇之前是否感染过。如果孕妇在怀孕前已经感染弓形虫病了，就不会有什么问题。如果孕妇从来没有感染过弓形虫病，一旦在怀孕期间感染弓形虫病的话，就有30%的可能影响胎儿，哪怕孕妇没有任何症状。其后果和感染时间有关，如果在怀孕前三个月内首次感染弓形虫，可能导致流产或死胎，存活的胎儿也会出现从早产、出生体重低，到肝脾肿大、癫痫、黄疸、严重眼部感染和神经系统症状严重等问题。如果在怀孕中晚期感染，胎儿的症状就轻多了，多数人直到10岁以后才出现症状。

	弓形虫存在于猫的粪便中，猫主人打扫猫的粪便时接触了，或者什么东西让猫屎污染了，人接触后没有洗手，吃进去后就会感染上。

	婴儿弓形虫病比较罕见，大约在千分之一到百分之一之间，患儿出现严重症状的比例为5%到6%，总体上不高。而且猫不是唯一途径，甚至不是主要途径，大多数人是因为吃了没有烹调好的肉而感染上的，或者没有经过处理的奶，因此吃肉一定要做熟，不要吃没有经过消毒处理的奶制品。水果蔬菜如果生吃的话一定要洗干净，处理生肉时要戴手套。

	避免猫传播弓形虫，可以到兽医处检查一下，如果猫有急性感染，就应该让亲友照顾。如果没有感染，在怀孕期间就不要让猫吃生肉，也尽可能不要让猫出门。孕妇也不要清理猫屎，不要种花种菜，因为土壤中也会有弓形虫。其他猫也不要接触。

	●鸟。鸟身上也有弓形虫，此外还有沙门氏菌、大肠弯曲杆菌等危险程度很高的细菌，和来自鹦鹉的衣原体病。这些细菌存在于鸟的排泄物中，会导致严重的呕吐和腹泻，增加流产和早产的危险。养鸟者可以到兽医那里检查一下有没有这些细菌感染，孕妇不要清理鸟笼。但一定要保持鸟笼的清洁，也就是说家里人要经常清理鸟笼。

	●爬行类。如果养龟、蜥蜴、蛇、青蛙等，就有可能从它们那里接触到沙门氏菌，同样存在于动物的粪便中。因此在宠物中，怀孕后不要再养的宠物是爬行类，能够送人或者由别人代为饲养最好，如果做不到的话就要格外注意。不要让它们在家里到处跑，尤其是不要在厨房的桌面上到处爬，笼子也要保持清洁，接触它们后要好好洗手。

	●啮齿类。养豚鼠、大鼠、小鼠当宠物，或者用老鼠喂蜥蜴的话，这些动物可能将淋巴细胞脉络丛脑膜炎病毒传给孕妇，严重的话会导致胎儿死亡。家里有这类宠物的话，孕妇要避免接触。

	●宠物食物。除了宠物本身，宠物食物也是孕妇值得注意的一个方面。国外已经发生过因为含有沙门氏菌而召回狗食等宠物食物的例子。孕妇最好不要喂宠物，接触宠物食物后要认真洗手。

	说到这里，可以总结一下，养宠物通常不会直接导致孕妇流产或导致胎儿出现问题，孕妇家有宠物大可放宽心，但也不能保证绝对安全，要根据所养宠物的种类，具体情况具体分析。怀孕期间不要增加新的宠物，以降低母体和胎儿出现问题的风险。
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>17、吃胎盘，真的是大补有奇效吗？</string>
		<key>des</key>
		<string>
	食用人类胎盘的做法一直在民间流行，无论国内还是国外，都有不少人将胎盘视为“补品”甚至“良药”。很多产妇认为食用胎盘可以减少疼痛、增强免疫系统、加快子宫恢复，还有说法声称它可以预防产后抑郁症、睡眠障碍和月经紊乱。还有一些人认为，普通人吃胎盘也有益于健康，强身健体，甚至抗衰老。但是，胎盘这些神奇的“功效”事实上并没有获得科学证据的支持，吃胎盘“进补”也不是什么明智的选择。

	胎盘有营养吗？

	胎盘是来源于胚胎的特殊器官。当受精卵分裂成为一个小囊胚，包绕在最外层的细胞将发育成为胎盘，而被包在内部的细胞团则发育成胎儿。胎盘是胎儿的生命维持系统，它为胎儿提供营养和氧气，同时带走代谢废物。胎盘同时也是一个分泌器官，它会合成绒毛膜促性腺激素（HCG）、胎盘生乳素、雌激素和孕激素等多种激素，同时富含干扰素、免疫球蛋白和各种生长因子。

	看起来，胎盘的化学组成确实相当丰富，但是，这可不意味着吃了它就会有保健的奇效。

	蛋白质、糖、维生素和矿物质是经常被人提及的胎盘所含的营养物质。不可否认，胎盘中确实或多或少地含有这些物质。不过，这些营养物质并没有什么特殊，平时搭配好饮食就不用担心缺乏，又何苦要从胎盘中摄取呢？

	有人说胎盘中含有丰富的激素和“活性因子”，产妇产后吃可以“补充激素”、有利于产后恢复。不过，干扰素、免疫球蛋白、生长因子等都是蛋白质大分子，经过水煮或者焙干，原本的生物活性也就消失殆尽了。即使有一些大分子完好地被人吃到肚里，它们在胃肠里也几乎都会被消化水解，变成普通的氨基酸。雌激素、孕激素这样的小分子虽然相对容易幸存，但在健康状况下，机体本身就可以维持激素水平的平衡，人也不需要额外补充它们。

	还有一种说法称，胎盘有益健康是因为其中富含铁，具有改善贫血的作用。胎盘中的血红素铁确实含量不少，不过其他肉类食物如猪肉、羊肉、牛肉等均有丰富的铁质，放着供应充足、卫生有保障的食物不吃而选胎盘补铁，也实在不是什么好主意。

	所以，胎盘虽然不能说毫无营养，但是它在营养方面确实没有什么特殊之处。

	吃胎盘，有用吗？

	抛开成分分析不谈，吃下胎盘到底能不能对人体产生某些作用呢？在这方面，科学家们也进行了一些研究。遗憾的是，这方面的研究数据相当不充分，结果不明确，实验也缺乏严谨的设计，因此无法提供足够的证据。

	在1954年，有研究者对服用胎盘的210名妇女进行观察，结果发现，其中有181人的泌乳得到了促进。但是直到今天，这个研究的结果也没有被后人重复出来。1980年，有动物实验指出，分娩后吃自己的胎盘可以影响大鼠的催乳素和孕激素水平，但这究竟意味着什么也很难说。2012年，纽约州立大学布法罗分校的研究者对食用胎盘的情况进行了研究，结果认为，目前并没有足够的证据显示吃胎盘对人体有益。2013年有研究对179名食用胎盘的产妇进行问卷调查，结果她们都表示吃胎盘后健康状况有改善，但这只是个人的主观报告，心理作用也无法排除。

	今年（2015年），美国西北大学（Northwestern University）的研究人员又对过去10项有关食用胎盘的研究进行了综述分析，其中4项为人类研究，6项为动物研究。结果发现，宣称“食用胎盘胶囊可改善泌乳”的研究并不符合当前的科学标准，无法得出任何结论。而且，虽然有假说认为食胎盘行为可以缓解分娩后的疼痛，但无论是动物实验还是人类研究都还不能证明这一点。在产妇以外的人群中，吃胎盘的作用更是缺乏研究数据。基于这样的结果，科学家们得出结论，认为目前没有任何证据表明食用胎盘对人有益。

	食用胎盘的安全风险

	事实上，食用人类胎盘不仅没有什么靠谱的健康益处，而且还存在安全隐患。

	人类胎盘属于医疗过程中产生的废弃物，我们并不能保证它符合食品的安全卫生要求。为了保持“活性”，一些人会选择生吃胎盘，或者只进行冻干处理，但胎盘中其实也会携带细菌 ，当母体被感染时，麻疹、乙肝、艾滋病、梅毒等病原体也可进入胎盘，它们都会带来安全隐患。如果是通过私人倒卖获得的胎盘，其安全性更加缺乏保障。此外，也有检测数据显示，部分地区胎盘中检出的汞等重金属含量超过了食物中的限量。

	由于销售胎盘存在经济利益，大量不法分子会回收并销售胎盘。不过，早在2005年《卫生部关于产妇分娩后胎盘处理问题的批复》中就明确指出：“产妇分娩后胎盘应当归产妇所有。产妇放弃或者捐献胎盘的，可以由医疗机构进行处置。任何单位和个人不得买卖胎盘。如果胎盘可能造成传染病传播的，医疗机构应当及时告知产妇，按照《传染病防治法》、《医疗废物管理条例》的有关规定进行消毒处理，并按照医疗废物进行处置”[7]。对于消费者来说，为了所谓的“健康益处”而购买非法倒卖的胎盘食用也绝对不是明智的选择。

</string>
	</dict>
	<dict>
		<key>title</key>
		<string>18、如何科学地“坐月子”？真有月子病吗？</string>
		<key>des</key>
		<string>	导语：传统坐月子有很多禁忌，最常见的有：绝对保暖，即使夏天也要严遮全身；不能出门甚至不能下床，不能吹风；不能洗脸、洗头，更不能洗澡，也不能刷牙；饮食方面要忌食生冷，还要吃各种“补品”；甚至还跟现代科技配套，发展出了不能看电视、手机等避免伤害眼睛的新禁忌。然而从现代医学的角度看，传统坐月子的很多做法不仅对产妇健康无益，甚至还会带来潜在的危害。

	大多数中国产妇在分娩后的几周内，都要进行一项特殊的“仪式”——坐月子。传统坐月子有很多禁忌，最常见的有：绝对保暖，即使夏天也要严遮全身；不能出门甚至不能下床，不能吹风；不能洗脸、洗头，更不能洗澡，也不能刷牙；饮食方面要忌食生冷，还要吃各种“补品”；甚至还跟现代科技配套，发展出了不能看电视、手机等避免伤害眼睛的新禁忌。

	通常人们会觉得，祖祖辈辈传下来的经验一定是有道理的。然而事实是，传统未必可靠，经验也未必正确。从现代医学的角度看，传统坐月子的很多做法不仅对产妇健康无益，甚至还会带来潜在的危害。

	1. 产妇和新生儿怕风吗？

	古代没有灭菌消毒的概念，产妇和新生儿很容易发生细菌感染而导致疾病甚至死亡，破伤风就是一个典型的例子。破伤风是被破伤风杆菌感染造成的。人的肠道中有很多破伤风杆菌，产妇分娩时的伤口和婴儿的脐带都容易被粪便污染，从而感染破伤风。破伤风患者的神经中枢易受刺激，如强光、风吹、声响、震动、饮水等可诱发抽搐。

	由于缺乏医学和微生物学知识，古人把很多身体不适和疾病的原因笼统地归结为“受寒”、“伤风”等。他们认为破伤风是身体破损以后得的伤风，于是采取的应对措施就是让有伤口的人避免风吹等外界刺激。

	感染破伤风的新生儿常在7天左右发病，故又称为“七日风”。破伤风巨大的杀伤力让人们对“风”等外界刺激畏若妖魔鬼怪，所以产妇和新生儿一定要严格防风、保暖。殊不知破伤风杆菌是一种厌氧菌，如果伤口周围长时间封闭不开放，形成局部缺氧的环境，反而更利于病菌繁殖。

	家中紧闭门窗，室内闷热，空气污浊，也有利于细菌的生长繁殖，而不利于产妇伤口愈合；在夏天，产妇和婴儿严密包裹，还会增加中暑的风险。

	在美国，产妇出院的时候穿着与普通人无异。假如是炎热的夏天，产妇也穿短袖、裙子，并且光脚穿拖鞋，和平常一样开窗换气和使用空调。通常出院后几天之内（不超过一周）产妇和婴儿就要去看儿医，出门更是必不可少的。

	2. 产妇不能沾水吗？

	由于冬天或寒冷的情况下人们患病更多，加之以前的水质不够清洁、缺乏淋浴条件，以及前面提到的破伤风患者会受到饮水的刺激引发抽搐，缺乏相关知识的古人以为病患也是受凉、沾水（特别是凉水）引起的，因此衍生出了产妇不能洗脸、洗头、洗澡、刷牙的禁忌，甚至还有洗哪儿哪儿疼的荒诞说法。其实这些做法只是想当然，关键还在于消毒措施和卫生条件。

	在发达国家，医院病房一般都设有淋浴，生产完几小时医生就会催产妇淋浴。分娩时的撕裂和阴道侧切并不影响洗澡，即使是剖腹产第二天也能洗澡了。除了冲淋浴之外，产妇还要一天数次地冲洗外阴，以促进恶露的排出和产道的恢复。传统坐月子不让沾水的规矩其实很不科学，很不卫生，不但不利于产妇身体的恢复，对婴儿的健康也会造成威胁。

	3. 产妇不能下床活动吗？

	产妇分娩时体力消耗很大，又通常伴有失血，产后的确需要休息，但休息并不意味着只能卧床静养。事实上，适当的活动更利于产妇的产后恢复。因为生产前后血液处于高凝状态（这一应激反应可以减少分娩时失血），长期卧床不活动下肢容易形成血栓，这些血栓如果随血液迁移到心肺等部位甚至会带来生命危险。过去的农耕社会，妇女除承担全部家务之外，往往还要参与很多体力劳动，即使生病也难得休息；在这种情况下，给产妇卧床休息的机会有一定的积极意义。现在情况已经不同了，在美国的妇产医院，产后几个小时医生或护士就会来催促产妇下床活动。

	4. 关于产妇的饮食禁忌有道理吗？

	传统的坐月子陋习关于饮食的部分是最复杂的。一方面，许多日常的食物如蔬菜、水果不让吃，甚至水都不让喝；另一方面，又要吃一些稀奇古怪的东西，如米酒水、红糖煮蛋、生化汤等等。有些开明点儿的医生会告诉你，水当然是要喝的，但要喝温开水，不要喝凉水；蔬菜水果是要吃的，但不要吃葱、蒜、辣椒等刺激性食物。实际上，温水固然可以喝，凉水，甚至冰水也都能喝；在美国的医院里，产妇刚分娩完，护士就会递上一杯冰水或者冰激凌。辛辣刺激性的食物可能影响乳汁的味道，但只要婴儿能接受，也可以照吃不误。不过哺乳期的产妇不应该多吃产气多的食物，包括大豆、大蒜、西兰花等，这些食物的成分会进入乳汁，造成小儿胀肚子。

	哺乳期的女性应该注意不要喝酒，咖啡和茶也要少喝。另外，那些奇怪的月子餐和药膳，以及一些产后的“补药”才需要禁忌，因为里面的成分、功效没有实证过，而常规食品才是最安全的食品。

	5. 真有月子病这回事吗？

	“月子病”是我国民间的一种说法，据说如果月子里不注意会落下一些病根。具体症状包括腰腿痛、关节痛、头疼、牙痛等等，甚至还有“月子病月子养”的奇葩理论。一些正规医院的妇产医生也认同传统的坐月子习俗，但他们的这种认识也是来自民间的，因为正规的医学教科书中根本没有月子病的概念。

	随着年龄的增长，人们患上各种慢性病的机会也越来越多，这些疾病或不适往往被解释成当年坐月子不注意造成的。其实不管如何严格地坐月子，老来还是可能患各种慢性病，并没有任何统计学数据显示坐月子和某些疾病的相关性。所谓的月子病不过是人们有了先入之见，再去找支持自己观点的例子罢了。这种现象在心理学上称为“证实偏见”，是一种非常不科学却非常普遍的态度。

	6. 外国人坐月子吗？

	世界各地都有关于产后护理的一些传统做法，我们姑且把它们统称为“坐月子”。不同国家坐月子的方式大同小异。比如多数要求卧床休息和保暖，这应该是过去的生活和认知水平太低造成的；而坐月子吃的食物往往差异巨大，这显然是各地饮食的多样性导致的。即使在中国，各地区的坐月子习俗也不尽相同。坐月子的多元性特点清楚地表明，这其实只是一种文化现象，无关科学。

	如果比较坐月子现象和国家发达的程度，就会发现，越发达的国家，坐月子的现象越少存在。西欧、北美和日本的女性产后基本上不坐月子；韩国和中国台湾这些既发达又传统的地方，则基本摒弃了那些有害的坐月子习俗，但又保留了很多无关紧要的讲究；中国大陆则是坐月子的“重灾区”。不仅没有任何证据表明坐月子的习俗跟女性健康长寿正相关，恰恰相反，在全世界范围内，不坐月子的欧美国家和日本的女性健康状况最好，也最长寿。

	7. 中国人的体质特殊吗？

	说到欧美国家女性生完孩子不坐月子，总会有人说，她们的体质和中国人不同，外国女人更强壮。不同人种之间的确有一些生理学上的差别，但这些差别必须用科学的方法来考察才有意义，用生活习俗作为标准是靠不住的。例如白种人的皮肤对紫外线更敏感，更容易患皮肤癌，从科学的角度说，白种人最应该防晒。然而现实情况是白种人又最爱晒太阳。如果从生活习俗出发去判断，则会得出白种人最应该晒太阳的错误结论。医学教科书上从来没有黄种人需要特殊产后护理的说法，更何况日本人和中国人一样属于黄种人，也有不少东亚人生活在欧洲和美国，她们不坐月子不也生活得好好的吗？还有人说，中国人到了美国吃肉多了，“火气”大了，所以就不怕冷了等等，这些更是无稽之谈。欧美国家也有很多素食主义者，日本人海产品吃得多，按照中国民间的说法岂不是“寒气”更重？再说，中国各地坐月子的习俗也不相同，一个甘肃的女子嫁到福建生了孩子又该按什么地方的习俗坐月子呢？

	8. 有坐月子的科学研究吗？

	如前所述，关于传统坐月子的弊端在医学上是没有争论的，但鉴于一些（发展中）国家还保留了坐月子的习俗，因此也有一些这方面（traditional postpartum practice）的研究。这些研究无一例外地显示，传统的坐月子有害无益，值得中国妇幼医疗工作者和新生儿家庭警惕。

	总之，传统的坐月子是不科学的陋习。为了产妇和婴儿的健康，应该早日把这些陋习扫进历史的垃圾堆。

	9. 如何科学地“坐月子”

	顺产的产后护理：

	每天应根据自身情况适当活动；顺产常常伴有阴道撕裂或实施阴道侧切，为了缓解伤口的疼痛，可以用冰袋隔着干净的卫生棉冷敷；为减少排尿时的刺痛，在排尿的同时用温水冲洗外阴；排便时用干净的吸水垫紧紧按住伤口；保持伤口清洁，每次大小便后用洗瓶冲洗阴道口和肛门；坐下时要小心，坐在枕头或圈枕上会更舒服一些；每天刷牙，保持身体清洁，有条件的要定期淋浴。

	剖腹产后的护理：

	放轻松，尽可能多休息，但每天活动也是必不可少的，适量的活动有利于手术后恢复；把自己和婴儿需要用的物品放在容易够到的地方；最初的几周中，不要搬或提比婴儿还重的东西；注意站立和走路的姿势；咳嗽、打喷嚏和大笑的时候用手捂住腹部伤口附近；需要的话可以服用布洛芬或扑热息痛来止痛，这些药物对哺乳期女性是安全的；喝足量的水（包括牛奶、汤等），多喝水一方面补充生产和哺乳失去的水分，另一方面又能防止便秘；注意多排尿以降低尿路感染的风险；每天刷牙，保持身体清洁，有条件的要定期淋浴。

	饮食：

	产妇的饮食和我们平时提倡的健康饮食差别不大。产妇可以在此基础上适当多吃一些鱼类、瘦肉、牛奶和坚果，保证优质蛋白质和必需脂肪酸的摄入；保证喝够水；怀孕期间吃的维生素和必需脂肪酸还要接着吃。民间所谓生冷辛辣的食物并不用忌口。不要喝酒（也不要吸烟），少喝咖啡和茶以及其他含咖啡因的饮料（如可乐、可可、红牛等），尽量避免甜点、快餐和含糖的软饮料。

	居住和穿着：

	有条件的话，室内温度保持在20～26℃，这是人体感觉舒服的温度。使用空调、电扇，开窗换气都是可以的；穿着以产妇感觉舒适为宜，不要刻意地多穿。婴儿应该比成人多穿一层，但也不要穿得过多。

	电脑和手机：

	产妇可以使用电脑和手机，它们的辐射都不足以造成伤害。普通人长时间看电脑和手机也不是健康的生活方式，产妇容易疲劳更应该注意；但所谓月子里不能用电脑或手机则毫无根据。</string>
	</dict>
</array>
</plist>
