<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>des</key>
		<string>第一周-妈妈的子宫哦，长得还真是奇怪啊~~</string>
		<key>motherChange</key>
		<string>这个时候和平常没有异样，既没有早孕反应，更不肚子上的变化，所有一切生理上的变化，此时你暂时都还感觉不到。因为这时的你，正处在月经期间，是否能怀孕将在下个月月经推迟7-10天方能预测出结果。如果这个个月受孕成功，那么下次月经来的时间将是在生完宝宝之后的几个月时间里。所以，在第一周里，你实际上还是处于怀孕前的准备阶段。</string>
		<key>warn</key>
		<string>假如你和丈夫做出了要一个健康宝贝的决定，那就选择在你们身体均处于健康状态的时期吧！这一周是特别的一周，你会经历人生的一个重要阶段，成为孩子的母亲。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>des</key>
		<string>第二周-从卵巢释放的卵子。</string>
		<key>motherChange</key>
		<string>进入怀孕第2周之后，现在的你应该为怀孕做准备了，妈妈可以根据自己的基础体温或借助于排卵试纸来测试排卵时间。在你的丈夫的努力下，选择一个最佳受孕时间，完成你们的造人使命吧。</string>
		<key>warn</key>
		<string>排卵期一般是在例假周期的第13~20天，所以第二个星期的后期，你会开始排卵。这个时候，你可以指定一些计划，比如饮食计划和财务计划等等。也可以列一些关键的注意事项，以提醒自己</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>des</key>
		<string>第三周-受精过程，其实，我们都是精英啊，从生命的一开始，我们就是胜利的战士！！</string>
		<key>motherChange</key>
		<string>本周你已进入排卵期，如果机会合适的话，本周就能受孕成功，让你升级为妈妈。虽然你的身体内却在进行着一场变革，但是，此时你自身并没有和平常不一样的感觉。从此之后，很可能你和丈夫的二人世界要变成三人世界了哦。</string>
		<key>warn</key>
		<string>排卵期之后，可能就会让你梦想成真。在这个过程中，一定要保持良好的情绪，与丈夫和睦相处，因为你们的情绪直接关乎到了受精卵的健康和质量。叶酸依旧是必不可少的，而且这个时候要注意锌和铜等微量元素的摄入了。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>des</key>
		<string>第4周-接着受精卵着床了~~女孩子要有个温暖的身体才能让它顺利着床，所以不要光顾美丽啦，要记得肚子保暖真的很重要哦！</string>
		<key>motherChange</key>
		<string>怀孕进进第4周时，孕妈妈也还感觉不到有任何异常的，不过也有些敏感的准妈妈可能已经开始有妊娠反应了，例如疲劳、乳房变软、消化不良等。或者没有任何原因的情况下出现发热、畏寒类似感冒的现象。</string>
		<key>warn</key>
		<string>这个时候，叶酸的补充要达到400微克。叶酸的需求也是因人而异的，一定要咨询专业的大夫。假如在此之前，你有过生出缺乏神经管的宝宝要多多地加以注意。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5.jpg</string>
		<key>des</key>
		<string>第5周咯-形成胚胎小胚胎长约0.6厘米，苹果籽一样大小，外观像个“小海马”。胎儿在这个阶段还不能叫胎儿，只能叫胚胎或胎芽。</string>
		<key>motherChange</key>
		<string>妈妈变化：怀孕第5周时，即怀孕一个月零一周时间，这个时候大多数的孕妈妈和往常并没有什么不一样的反应。只是有个别孕妇会有乳房胀痛、疲劳以及尿频等症状出现。</string>
		<key>warn</key>
		<string>此时此刻，一个生命已经开始在你的身体里一天一天地发生变化。胚胎分为头和身体两个部分。脊髓就是胚胎背部那个深陷的部位。这个时候，细胞的分裂，导致各个器官和部位的生长。他大概有0.6厘米大小，外形可爱，像个小海马。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>6.jpg</string>
		<key>des</key>
		<string>第6周-心脏跳动胚胎成长迅速，心脏开始划分心室，并进行有规律的跳动及开始供血。胎儿的细胞仍在迅速分裂。肾和心脏的雏形已经发育，神经管开始连接大脑和脊髓开始发育。</string>
		<key>motherChange</key>
		<string>这个孕周期是最佳早孕测试时间，如果你还没有确定怀孕的话，是该时候上医院了。此时，孕妈妈的妊娠反应开始明显起来，胸部感到胀痛、乳房增大变软、乳晕有小结节突出，你会时常疲劳、犯困而且排尿频繁。有恶心的感觉，整个一天你都会随时呕吐。</string>
		<key>warn</key>
		<string>这个时候，胎儿的心脏已经开始规律性地跳动了，只不过孕妈妈无法感觉得到。胚胎仅仅有0.6cm，此时的心脏和肾脏的雏形也开始慢慢形成，脊髓和大脑也开始连接神经管。孩子未来的胳膊和腿也在胚胎上慢慢长出。脸部器官也在逐渐形成，其中鼻孔较为明显！</string>
	</dict>
	<dict>
		<key>image</key>
		<string>7.jpg</string>
		<key>des</key>
		<string>第7周-胚胎长约12毫米，大头与身体不成比例。面部器官已可分辨，眼睛未长成但非常明显，鼻孔大开，耳朵略凹陷。手、脚及四肢幼芽初成，肌肉纤维和垂体已经发育。此时还听不到胎心音，但胚胎的心脏已经划分成左心房和右心室，每分钟大约跳150下。</string>
		<key>motherChange</key>
		<string>在这个孕周期，大部分孕妈妈开始有明显的早孕反应了，严重的孕妇一进食就有想吐的感觉，或是闻到某种味道就会陌名的呕吐。还时不时出现饥饿感，情绪波动也特别大，总爱因为一点小事情而烦恼不安。</string>
		<key>warn</key>
		<string>怀孕进入第7周了，早晨醒来后你会感到难以名状的恶心，而且嘴里有一种说不清的难闻味道，有时象汽油或其它化学原料的感觉，这是怀孕初期大多数孕妇都会遇到的情况。现在胚胎的细胞仍在快速地分裂，而且分裂速度就象胚胎形成的初期一样快。到本周末时，胚胎的大小就象一颗豆子</string>
	</dict>
	<dict>
		<key>image</key>
		<string>8.jpg</string>
		<key>des</key>
		<string>第8周-脑部发育胚胎长约有20毫米，器官已有明显的特征，手指和脚趾间有少量的蹼状物。胚胎的各种复杂的器官都开始成长，牙和腭开始发育，耳朵在继续成形，胎儿的皮肤很薄，血管清晰可见。胚胎开始有运动。</string>
		<key>motherChange</key>
		<string>这个孕周期，早孕反应开始慢慢的变得更加明显了，此时的你对气味越来越敏感，胃也开始变得敏感了。早上起床之后，或者闻到某种特殊异味时，或许你都会有呕吐的表现。你小便的次数和频率可能会大大超过平时，但这些都属正常现象，不用担心。</string>
		<key>warn</key>
		<string>进入第8周后，胎儿已经初具人形。你的腹部现在看上去仍很平坦，但在你的子宫已有明显变化，现在你可以进行第一次产前检查了，除了做盆腔检查外，你还需要测量血压，以了解基础血压；检查心脏和肺脏；化验尿常规及尿糖；进行一次口腔检查</string>
	</dict>
	<dict>
		<key>image</key>
		<string>9.jpg</string>
		<key>des</key>
		<string>第9周-五官发育胚胎已经成形，约长25毫米，此时才可以称为真正意义上的“胎儿”。孕妇此时子宫膨胀得很大，胎儿所有的器官、肌肉、神经都开始工作，并且发育迅速。手部从手腕开始变得稍微有些弯曲，双脚开始摆脱蹼状的外表，眼帘开始覆盖住眼睛。</string>
		<key>motherChange</key>
		<string>此时孕妈妈的体重还没有明显的变化，但是乳房更加膨胀，乳头和乳晕色素加深了。在这个孕周期，阴道的分泌物较前略增多，颜色通常为无色，或橙色或淡黄色。这属于正常反应。如果阴道分泌物的量增加的太多，且有异味，则应去看医生。早孕反应历害的妈妈，恶心、呕吐的症状开始加剧，所以此时的你，很难高兴得起来。</string>
		<key>warn</key>
		<string>怀孕已经9周了，你是否已经适应了怀孕的各种症状呢？早晨醒来后的晨吐很快就要结束了，目前是你整个怀孕期的一个关键时期，胎儿现在开始发育形成器官系统，但现在还不能确定是男孩还是女孩。从现在开始，你需要减少食盐量，正常的孕妇每日的摄盐量以7-10克为宜。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>10.jpg</string>
		<key>des</key>
		<string>第10周-胎儿身长约40毫米，体重约10克，形状及大小像一个扁豆荚。胎儿的眼皮开始粘合在一起，直到27周以后才能完全睁开。手脚发育完成，手指和脚趾清晰可见，手臂更长而且肘部变得更加弯曲。</string>
		<key>motherChange</key>
		<string>进入这个孕周期时，孕妈妈的胸变得更大了，乳头上可能会长出白色的小微粒，这些微粒内含有白色的润滑剂，提早为母乳喂养做好准备。本周开始体重开始逐渐增加，受孕激素的影响，你的情绪波动也会很大，使你感觉疯狂、生气、伤心、愉快和易怒，有时这些变化就集中在10秒钟内。</string>
		<key>warn</key>
		<string>怀孕进入第10周了，你的胎儿现在已经很象个小人儿了，他（她）的身长大约有40毫米，体重达到10克左右。现在你的身体变化依然不大，但你的情绪变化会很剧烈，刚才还眉开眼笑，转眼间就会闷闷不乐，这时的喜怒无常是正常的情绪波动，但是你仍要调整心绪，让自己有一个愉快的孕期。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>11.jpg</string>
		<key>des</key>
		<string>第11周-生殖器发育（女）胎儿身长约45～63毫米，体重约14克，胎儿开始能做吸吮、吞咽和踢腿动作，胎儿的手指甲和绒毛状的头发等细微之处已经开始发育，维持胎儿生命的器官如肝脏、肾、肠、大脑以及呼吸器官也已开始工作。</string>
		<key>motherChange</key>
		<string>在这个孕周期，早孕反应历害的孕妈妈能明显的感觉到，呕吐次数明显减少，症状逐渐减轻，不过味口方面却有所增大。胎儿发育较快的孕妈妈，已开始长妊娠纹了。同时在本周孕妈妈的乳房会更加膨胀，乳头和乳晕的色素加深，阴道仍有乳白色的分泌物。</string>
		<key>warn</key>
		<string>怀孕进入第11周了，早孕反应开始减轻，再过几天你恶心呕吐、食欲不振的现象就要结束，你会时常感到饥饿。现在你的胎儿身长达到45-63毫米，体重达到14克。胎儿的生长速度加快，已经在你的子宫内开始做吸吮、吞咽和踢腿的运作，他（她）维持生命的器官已经发育成熟</string>
	</dict>
	<dict>
		<key>image</key>
		<string>12.jpg</string>
		<key>des</key>
		<string>第12周-胎儿初具人形，身长约65毫米，大头约占身体的一半。手指和脚趾已经完全分开，部分骨骼开始变得坚硬，并出现关节雏形。</string>
		<key>motherChange</key>
		<string>这个孕周期，有些孕妈妈皮肤明显变得红润漂亮，有些孕妈妈却开始长妊娠斑了。过去宽松的衣服，现在虽然还可以穿，但是你会明显感觉到腰变粗了，同时你的臀部正在变宽，这是为子宫的生长腾出更多空间。</string>
		<key>warn</key>
		<string>胎儿现在身长大约有65毫米，从牙胚到趾甲，身体的雏形已经发育完成。胎儿的手指和脚趾已经完全分离，一部分骨骼开始变得坚硬，并出现关节雏形。怀孕前3个月是流产的高发期，这个时期即将过去，目前大多数孕妇恶心呕吐的症状已经减轻，疲劳嗜睡的阶段也已经过去，你可能会感到精力充沛</string>
	</dict>
	<dict>
		<key>image</key>
		<string>13.jpg</string>
		<key>des</key>
		<string>第13周-胎儿身长约76毫米，体重比上周稍有增加。眼睛在额部更为突出，两眼之间距离开始拉近，肝脏开始制造胆汁，肾脏开始向膀胱分泌尿液。神经元迅速增多，神经突触形成，胎儿的条件反射能力加强，手指开始能与手掌握紧，脚趾与脚底也可以弯曲，眼睑仍然紧紧地闭合，此时可以听胎教音乐。</string>
		<key>motherChange</key>
		<string>这个时期你的身体已经适应了怀孕的变化，肚子开始变大，腹部开始隆起，原来的衣服开始变得不合体，需要穿宽松的孕妇装了。乳房正在迅速的增大，痛苦的呕吐在这个孕周期开始消失，食量开始有所增加。</string>
		<key>warn</key>
		<string>进入孕中期，胎儿看上去更象一个漂亮娃娃了，他（她）的眼睛突出在头的额部，两眼之间的距离在缩小，耳朵也已就位。现在你是否觉得胃口大开，食欲旺盛，食量猛增。现在胎儿正在迅速地长大，需要的营养物质更多，丰富的营养会通过你的嘴，源源不断地供给新生命。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>14.jpg</string>
		<key>des</key>
		<string>第14周-胎儿身长约76～100毫米，重28克。手指上已经出现指纹。如是女胎，则其卵巢已经形成并约有200万个卵，出生时仅存100万个，随着年龄增长会越来越少，到17岁时仅剩20多万个。</string>
		<key>motherChange</key>
		<string>虽说已经进入怀孕第三个月了，但由于孕吐基本减缓，凸出不明显的肚子，不知道的人绝对不会想到你已经是一个孕妇了。不过准妈妈体重有所增加，乳房也正在逐渐增大，乳晕的面积也加大，颜色更深了，阴道分泌的白带增多。</string>
		<key>warn</key>
		<string>孕14周了，你一定想了解胎宝宝的大脑发育状况，孕妇此时也开始有些浮肿了，同时又会有些疲劳感。既然如此你知道这个时候补钙是最重要的一件事吗？你了解胎心监护吗？准爸爸这个时候又要知道什么呢？孕中期的性生活又该注意些什么呢？</string>
	</dict>
	<dict>
		<key>image</key>
		<string>15.jpg</string>
		<key>des</key>
		<string>第15周-宝宝偷偷吸吮手指了。</string>
		<key>motherChange</key>
		<string>在这个孕周期，孕妇肚子已变得明显了，一眼就能看出是个孕妇。这个孕周期你可能出现手脚浮肿，面部失去光泽，并长雀斑了。这都属正常表现，不用担心，等生完宝宝之后，这些症状便会一并消失。此时的孕妈妈，你就安心的享受这十月怀胎的感觉吧！</string>
		<key>warn</key>
		<string>在15-18周之间是做产前诊断的最佳时期，现在你需要做一次产前诊断了。现在，胎儿的脸部正在发育，眉毛开始长出来了，头发的生长速度也很快。最特别的事情就是胎儿会在子宫中打嗝了，这是胎儿开始呼吸的前兆。如果你能看见他的脸，就能看见他的抽搐和怪相了。也许再过几天，你就可以感觉到他的胎动啦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>16.jpg</string>
		<key>des</key>
		<string>第16周-会打哈欠啦。</string>
		<key>motherChange</key>
		<string>怀孕16周时，虽说孕妈妈的体形有些许变化，但是和上一周相比的区别不太大。但由于怀孕之后，孕妈妈的消化系统功能减弱，容易发生消化不良及便秘。由于已经习惯怀孕的变化，敏感的妈妈开始感觉到胎动了，只是可能出现暂时记忆力减退的症状。</string>
		<key>warn</key>
		<string>进入了孕16周，孕妈妈该如何吃、住、行？这个时候要注意牙齿的保健工作，要开始做体操。16周的胎儿约12厘米长，体重增加到150克，他看上去还是非常小，大小正好可以放在你的手掌里。他会不停地打嗝，但是你听不到他打嗝的声音，这是因为在他的气管里充满了羊水，而不是空气。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>17.jpg</string>
		<key>des</key>
		<string>第17周-器官发育良好胎儿身长约13厘米，重约170克，状如梨形。此后3周，生长迅速，重量和身长都将增加两倍以上。此时胎儿已经生长出了脐带，经常会用手抓住脐带。</string>
		<key>motherChange</key>
		<string>在这个孕周期，孕妈妈的小腹突出很明显了，乳房变得更加敏感、柔软，甚至有些疼痛。妈妈现在最少增加了2千克体重，有些孕妇也许会达到5千克。从这一周以后，你身体的重心就会随着子宫的不断增大而发生变化，开始变得更不方便了。</string>
		<key>warn</key>
		<string>这个星期进入了胎宝宝发育的关键期，循环系统、尿道等也开始工作。现在胎儿的身长达到13厘米，体重达到170克。现在你最少也增加了2千克体重，有些孕妇也许会达到5千克。新生儿会有300块骨头（骨骼和软骨的总数），等宝宝长到成人时，只剩下206块了。他的皮肤仍然很薄。褐色脂肪正在沉淀</string>
	</dict>
	<dict>
		<key>image</key>
		<string>18.jpg</string>
		<key>des</key>
		<string>第18周-翻转胎儿身长接近14厘米，体重约200克，骨骼软似橡胶，以后会逐渐变硬，保护骨骼的物质“髓磷脂”开始慢慢地裹在脊髓上。借助听诊器，可以听到胎儿的心音。</string>
		<key>motherChange</key>
		<string>这个孕周期，除了体重和上个月相比有所增加多上，大多数孕妈妈开始有胎动了，而且胎动较为明显。有些孕妈还出现味口出奇的好，性欲方面也有所增强。除了要加强营养之外，夫妻同房更要小心哦。</string>
		<key>warn</key>
		<string>进入孕18周，宝宝现在大概有14厘米长，重160-198克。骨骼几乎全部是类似橡胶似的软骨，以后会变得越来越硬。如果你怀的是女孩，她的子宫和输卵管已经形成，并且已各就各位。如果是男孩，你可以看到他的生殖器了。他现在的“房子”非常大，所以他会非常活跃。他会频繁地变换姿势、做各种动作。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>19.jpg</string>
		<key>des</key>
		<string>第19周-微笑胎儿约有15厘米长，因呼吸胸脯不时起伏，但在胎儿的口腔里流动的是羊水而不是空气。孕妇能感到胎儿的运动，此阶段胎儿经常踢腿、屈体、伸腰、滚动、吸吮自己的拇指，胎动平均每小时3～5次。</string>
		<key>motherChange</key>
		<string>进入本周的孕妈妈，早应反应已完全消失，但是明显的胎动会让你既惊喜又惊讶，甚至会整晚“折腾”得让你无不安然入睡。此时你也许会出现水肿，血压升高，心跳加快的情况。整天都很疲倦，比较嗜睡，但胃口一般都很好。</string>
		<key>warn</key>
		<string>你的宝宝现在大概15厘米长，重220克左右。他在本周最大的变化就是感觉器官开始按照区域迅速的发展。在脑部，分管触觉、味觉、嗅觉、视觉和听觉等神经细胞正在分化。胎儿此时开始能够吞咽羊水，肾脏已经能够制造尿液</string>
	</dict>
	<dict>
		<key>image</key>
		<string>20.jpg</string>
		<key>des</key>
		<string>第20周-生殖器发育完成（女）开始进入孕中期，宫底每周大约升高1厘米。胎儿的身长在14～16.5厘米之间，体重大约250克。胎儿开始吞咽羊水，肾脏已能够制造尿液，头发迅速生长。感觉器官开始按区域迅速发育，神经元分成各个不同的感官，味觉、嗅觉、听觉、视觉和触觉从现在开始在大脑里的专门区域里发育，神经元数量的增长开始减慢，但是神经元之间的相互联通开始增多。</string>
		<key>motherChange</key>
		<string>在怀孕20周时，孕妇的早孕症状已经消失，心情也会随之变得舒畅，尿频的现象也会慢慢恢复正常。由于恶心、呕吐等早孕症状已经消失，而胎儿发育也需要较多营养，孕妇的食欲也开始逐渐增加。</string>
		<key>warn</key>
		<string>恭喜啦！现在，你已经走过了一半的孕程。你的宝宝现在大概长15-16.5厘米，重255克。他经常喝羊水，吸收水合物和营养，在羊水里呼吸和尿尿。尿尿！你是不是觉得有些脏？不用多虑啦，羊水池会每3小时更新一次的。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>21.jpg</string>
		<key>des</key>
		<string>第21周-胎儿体重不断增加，身上覆盖了一层白色的、滑腻的胎脂，它可以保护胎儿的皮肤，以免在羊水的长期浸泡下受到损害。</string>
		<key>motherChange</key>
		<string>你知道怀孕21周时，孕妇的肚子有多大了吗？此时的孕妈妈体重基本增加了5公斤左右哦。如果是爬楼梯或者走远一点的路，你会觉得呼吸急促，有点困难。在这个孕周期，双腿水肿可能会加重，所以一定要避免长时间的站立。</string>
		<key>warn</key>
		<string>宝宝现在可以称的上是个小运动健将了，平均一个小时要动50次！本周他的身长可达到17-18.5厘米，体重约298克。从现在起，宝宝的主要任务就是增加体重！宝宝也逐步变成有意识、有感觉、有反应的人了。如果他正在睡梦中，大声的声音会把他吵醒。当他醒着时，听到了喜欢的音乐，他会做出反应。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>22.jpg</string>
		<key>des</key>
		<string>第22周-胎儿的体重大约已有350克，身长约19厘米。胎儿的眉毛和眼睑已经清晰可辨，手指已长出指甲。</string>
		<key>motherChange</key>
		<string>怀孕22周时，已经是怀孕五个月多两周了，现在的孕妈妈感觉身体越来越重，如果走路走得急的话，还可能会感到腹部疼痛。此时的胎动也越来越明显，时不时能感觉到肚子在被人踢打，左右上下不停晃动，妈妈你就好好享受这个过程吧。</string>
		<key>warn</key>
		<string>胎宝宝现在看起来像一个“小人儿”了，只是脸上皱巴巴、红红的，头上、脸上布满了胎毛。眉毛和眼睑已清晰可辨，小手指已长出娇嫩指甲。胎儿的皮下脂肪尚未产生，这时他的皮肤是红红的，皱巴巴的像个小老头。他现在有19厘米长，350克了。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>23.jpg</string>
		<key>des</key>
		<string>第23周-胎儿身长约20厘米，体重约450克。因皮下脂肪尚未产生，皮肤色红且折皱较多，皮肤的折皱是给皮下脂肪的生长留有余地。胎儿的嘴唇、眉毛和眼睫毛已清晰可见，视网膜已形成，具备了微弱的视觉。胎儿的胰腺及激素的分泌稳定发育。</string>
		<key>motherChange</key>
		<string>怀孕五个月零三周的孕妈妈，在这个孕周期胎动已经更加明显了，时不时能感觉到宝宝在肚子里一下左，一下右的翻滚或踢打。另外，进入怀孕中期之后，由于肚子增大，所以妊娠纹开始变得明显起来。下腹及外阴的颜色似乎比以往加深了些。</string>
		<key>warn</key>
		<string>你的胎宝宝真的像一个婴儿了！他的骨骼、肌肉已经长成、身材也很匀称。他现在大概有20厘米，重450克左右。他皮肤上布满了皱褶，这是为了给皮下脂肪的生长留有余地。现在，宝宝肺部的组织及血管正在发育中。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>24.jpg</string>
		<key>des</key>
		<string>第24周-胎儿体重约有500多克，听力已经形成，可以听到母亲的各种说话声音，母亲心跳的声音和肠胃蠕动的声音及大一些的噪音胎儿也能听到。对一些较强的噪音，会使胎儿躁动不安。</string>
		<key>motherChange</key>
		<string>怀孕24周时，孕妈妈的变化很大了。你的乳房越发变大、乳腺功能发达，如果用手挤压会流出少量乳汁。腰腹部变得特别粗，外人一眼就能发现你是个孕v妇，外出乘坐交通工具，已经开始有人会给你让座了。</string>
		<key>warn</key>
		<string>你的宝宝现在大概有26厘米长，500克重了。虽然宝宝看起来比较瘦，但很快就会增加脂肪。他看起来不停地运动，可能会觉得宝宝在子宫里跳跃，这是因为他在一阵阵地打嗝。胎儿现在能听到外界一些大的噪音，比如吸尘器的声音，很大的音响声，邻家装修的电钻声，这些都会使胎儿躁动不安，要尽量避免。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>25.jpg</string>
		<key>des</key>
		<string>第25周-胎儿体重稳定增加，约有570克。皮肤很薄且有皱纹，几乎没有皮下脂肪，全身覆盖着一层细细的绒毛，身体比例较为均称。胎儿开始充满整个子宫。胎儿舌头上的味蕾正在形成。</string>
		<key>motherChange</key>
		<string>怀孕25周时，由于宝宝越来越大，准妈妈会觉得更加疲倦，身体越来越沉重，手脚也会出现酸痛。有的孕妇还会觉得眼睛发干、发涩、怕光、这些都是正常现象，准妈妈不必过于担心。有的孕妇因血压升高或贫血加重会引发头痛和头晕，要注意保持心情愉快。</string>
		<key>warn</key>
		<string>孕25周，你的宝宝体重现在大约增加到570克了。他第一次睁开了眼睛，可惜子宫就像个城堡，除了灰色，他什么也看不到。如果妈妈用手电筒照自己的肚皮，胎儿就会对光亮做出反应。很有意思吧，不妨来试试哦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>26.jpg</string>
		<key>des</key>
		<string>第26周-胎儿的体重在800克左右，坐高约为22厘米。皮下脂肪开始出现，体形较瘦，全身覆盖着一层细细的绒毛。胎儿开始有了呼吸动作，因肺部尚未发育完全，不会吸入空气。胎儿的大脑对触摸已经有了反应，视觉也有了发展，眼睛已能够睁开了，视觉神经的功能已经发生作用。</string>
		<key>motherChange</key>
		<string>怀孕26周孕妇肚子有多大？现在孕妈妈子宫的高度大约已经到了肚脐上6厘米的位置，从耻骨联合量起约为26厘米。如果按照正常标准，体重应该已经增加了10千克。有的孕妇此时开始出现下肢水肿，注意不要长时间站立或行走。</string>
		<key>warn</key>
		<string>与上周相比，宝宝的体重又长了200多克，大约有750克了，坐高约22厘米长。本周是胎儿听力和视力发育的一个重要里程碑。外界的声音通过你的子宫传进宝宝的耳朵，帮助他的耳朵发育。现在，他继续在羊水中小口地呼吸，这是他在为出生后第一次呼吸空气打基础</string>
	</dict>
	<dict>
		<key>image</key>
		<string>27.jpg</string>
		<key>des</key>
		<string>第27周-胎儿体重约900克左右，身长约38厘米，坐高约25厘米。胎儿此时已经长出头发，眼睛可以睁开。男孩的睾丸尚未降下来女孩则可以看到突起的小阴唇。这时胎儿的听觉神经系统已发育完全，对外界声音刺激的反应更为明显。</string>
		<key>motherChange</key>
		<string>当孕妇怀孕到27周时，肚子有多大呢？其实在这个孕周期孕妈咪的子宫接近了肋缘，你的子宫约在肚脐上约7厘米处，宫高约27厘米。这会让准妈妈觉得气短，这是正常现象，不必担心。小宝贝的动作有时会让你吃惊，你的腹部可能会像波浪一样地动起来，这就是胎动。</string>
		<key>warn</key>
		<string>你的宝宝现在正以平稳的速度每周增加身高和体重。他现在的体重大约有900克，身高38厘米。此时，胎头上已经长出了短短的胎发，眼睛一会睁开、一会闭上，他的睡眠周期非常有规律。如果你怀的是女宝宝，她的小阴唇已开始发育。而男宝宝的睾丸现在还没有降下来。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>28.jpg</string>
		<key>des</key>
		<string>第28周-胎儿体重已有1100～1400克，坐高约为26厘米，几乎已经快占满整个子宫空间。胎儿的眼睛能够开合，已形成了自己的睡眠周期。此时胎儿经常会把自己的大拇指或其他手指放到嘴里去吸吮。</string>
		<key>motherChange</key>
		<string>孕28周时怀孕已经整整七个月了，此时孕妈妈肚子有了明显沉重感，偶尔觉得肚子一阵阵发硬发紧，这是假宫缩，不必紧张。你的动作变得笨拙、迟缓，完全呈现出一副孕妇体态。</string>
		<key>warn</key>
		<string>从现在开始，你已步入孕晚期了。还有两个多月就有一名新成员加入你的家庭了，是不是感到非常兴奋和期待呢？在过去的1个月里，宝宝的体重增加到1.1-1.4千克了。由于宝宝几乎充满了整个子宫，他的活动越来越少，因此你会感觉到胎动比过去减少了很多。宝宝现在还在努力地练习做一呼一吸的类似呼吸运动。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>29.jpg</string>
		<key>des</key>
		<string>第29周-骨骼变硬。</string>
		<key>motherChange</key>
		<string>在这个孕周期，孕妈妈和上一个月相比，肚子更大了一点。 妈咪的体重大约已经增加了8.5-11.5千克，子宫的顶部大约比肚脐高7.6-10厘米。这时你可能会出现头晕、心慌、出汗等症状，这就是仰卧综合症，出现这个症状的时候要改换左侧卧位就可缓解了。</string>
		<key>warn</key>
		<string>还有10周或11周就到预产期了，是不是感觉很兴奋，也有些紧张？你的宝宝现在有1.3千克了，43厘米高。和过去相比，宝宝看上去胖了很多，这是因为他的皮下脂肪已初步形成。他大脑的神经元细胞正在飞速地生成，因此宝宝的头部也在继续增大。现在，由于脑波运动，胎儿甚至能够做梦了。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>30.jpg</string>
		<key>des</key>
		<string>第30周-胎儿体重约1500克左右，头至脚长约44厘米。男孩的睾丸这时处于从肾脏附近的腹腔，沿腹沟向阴囊下降的过程中，女孩的阴蒂已突现出来，等到出生前的最后几周都能被小阴唇所覆盖。胎儿头部继续增大，大脑发育非常迅速，大脑和神经系统已发达到了一定程度。胎儿的皮下脂肪继续增长。胎儿的骨骼、肌肉和肺部发育正日趋成熟。</string>
		<key>motherChange</key>
		<string>怀孕30周已经进入怀孕八个月了哦。在这个怀孕周期，此时的孕妈妈会感到身体越发沉重，肚子大得看不到脚下。呼吸困难，胃部不适，白带也会越来越多，如这时一旦发生不规律宫缩应立刻停下来休息。</string>
		<key>warn</key>
		<string>胎儿的重要器官——脑部在继续快速的发育，大脑和神经系统已经发达到一定的程度，胎儿现在在0.85升羊水里漂浮，有足够的空间移动，因此不必担心，他现在是否处于一个奇怪的胎位上。这周胎儿的眼睛可以开闭自如，大概能够看到子宫中的景象，孩子还能辨认和跟踪光源。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>31.jpg</string>
		<key>des</key>
		<string>第31周-胎儿的肺部和消化系统已基本发育完成，身长增长减慢而体重迅速增加。这周胎儿的眼睛时开时闭，能辨别明暗并能跟踪光源。如果孕妇适当地在明亮的光线下袒露腹部，可以刺激胎儿的视觉发育。现在胎儿周围大约有850毫升的羊水，但随着胎儿的增大，他在子宫内的活动空间越来越小了，胎动也有所减少。</string>
		<key>motherChange</key>
		<string>进入怀孕31周的孕妈妈，已经进入怀孕第八个月了哦，此孕妇的宫高约26厘米左右。随着胎儿的增大，他在子宫内的活动空间越来越小了，胎动也有所减少，这属自然现象，不用担心。</string>
		<key>warn</key>
		<string>随着胎儿的快速增长，他的活动空间也越来越小，胎动也变少了。每小时他大概会动10次左右。宝宝能够把头从一侧转向另一侧，眼睛时开时闭。宝宝在本周又增长了一个新本领，他会辨认颜色啦</string>
	</dict>
	<dict>
		<key>image</key>
		<string>32.jpg</string>
		<key>des</key>
		<string>第32周-胎儿的身体和四肢继续长大，现在的体重为2000克左右，皮下脂肪丰富，皱纹减少，看上去更像一个婴儿了现在胎儿动得次数比原来减少，动作减弱，不像原来那样在妈妈肚子里翻筋斗了。</string>
		<key>motherChange</key>
		<string>进入怀孕32周的孕妈妈已是怀孕八个月的最后一个孕周期了。这个阶段的准妈妈会感到很疲劳，休息不好，行动更加不方便。除了要注重饮食之外，何证足够的睡眠时间也是很重要的哦。</string>
		<key>warn</key>
		<string>现在，是不是见到小宝宝的心情越来越迫切了？其实，你的小宝宝也在为出生做着最后的准备，他在努力的成长哦！宝宝的体重本周可达到2千克左右了。他可能已经长出了满头的头发或者说绒毛，脚趾甲也全部长出来了</string>
	</dict>
	<dict>
		<key>image</key>
		<string>33.jpg</string>
		<key>des</key>
		<string>第33周-胎儿体重大约有2000克，身长约48厘米。孕妇子宫里的空间几乎被胎儿占满，胎儿的活动余地很小。时胎儿皮下脂肪大大增加，皱纹减少，身体变得圆润。胎儿的呼吸系统、消化系统发育已近成熟。有的胎儿头部已开始降入骨盆。</string>
		<key>motherChange</key>
		<string>怀孕33周的孕妇进入这个怀孕周期时，已是八个月零1周了，此时妈妈的子宫底高达至28～30厘米，宫底位于脐部与刽突之间。准妈妈也会注意到一些有节奏的轻微的碰撞，那是宝宝在打嗝呢。</string>
		<key>warn</key>
		<string>本周开始，你的腹部会增加得相当显著，站立时，如果妈妈试图看到脚面，可不那么容易了。 胎宝宝的皮下脂肪已较前大为增加，皱纹减少了，身体圆润，他现在的样子已经和出生时很接近了</string>
	</dict>
	<dict>
		<key>image</key>
		<string>34.jpg</string>
		<key>des</key>
		<string>第34周-胎儿体重大约2300克，坐高约为30厘米。此时胎儿已将身体转为头朝下的姿势，头部已经进入骨盆。这时胎位是否正常直接关系到孕妇是否能正常分娩，如果胎儿臀部向下体位或是有其它姿势的胎位不正，医生会采取措施进行纠正。</string>
		<key>motherChange</key>
		<string>进入怀孕34周时已经进入怀孕第九个月，有些孕妈妈的宫高已达26，腹围96了。如果你是一位初次产妇，那么这时胎儿部大多已降临骨盆，紧压在子宫的颈口了。如果是二胎妈妈，胎儿入盆时间会较晚一些，有的产妇在分娩前胎儿才会入盆。</string>
		<key>warn</key>
		<string>进入了34周，孕妈妈可以长舒一口气了，因为你不用再为宝宝早产而担心。经跟踪调研，在这个阶段出生的宝宝99%都很健康，而且大多数都不会出现与早产相关的一些严重问题。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>35.jpg</string>
		<key>des</key>
		<string>第35周-胎儿体重一般约2500克，身长50厘米左右。胎儿体态较胖，皮下脂肪发育较好，以备出生后起到调节体温的作用。胎儿如果在此时出生一般都能够成活，存活的可能性为99%。胎儿的中枢神经系统尚未完全发育成熟，但肺部发育已基本完成。</string>
		<key>motherChange</key>
		<string>怀孕35周这个孕周期已经进入怀孕第九个月了。本周由于宝宝逐渐长大，你可能会出现腰背疼痛和腿部肌肉痉挛的症状，走动变得更为艰难。有时还会感到身体沉重，轻微的子宫收缩，阴道分泌物增多，小便次数变多，甚至出现便秘。</string>
		<key>warn</key>
		<string>宝宝的身长达到了50厘米左右，体重2.5千克，身体圆滚滚的。宝宝从脚趾到头发，他已经完成了大部分的身体发育。你可能会感到他的活动量小了，这是因为宝宝的身体逐渐增大，现在已经不是在羊水里漂浮着了，也不太可能再拳打脚踢了。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>36.jpg</string>
		<key>des</key>
		<string>第36周-胎儿发育最后阶段冲刺中~~</string>
		<key>motherChange</key>
		<string>这个孕周期已是九个月整了，孕妇体重大约已增加了11至13公斤左右。现在你可能不像以前几周那么容易饿了。且宫内的羊水比例减少，胎儿所占的体积增加，而母体体重的增长也已达到最高峰，肚脐已变得又大又突出。</string>
		<key>warn</key>
		<string>随着胎儿逐渐长大，活动空间越来越小，胎动也会变缓。即使这样，你每天仍能感到10次以上的胎动。妈妈要时刻关注，如果胎动频率和强度减少过于明显，要想到胎儿异常的可能，并及时看医生。 </string>
	</dict>
	<dict>
		<key>image</key>
		<string>37.jpg</string>
		<key>des</key>
		<string>第37周-孕妇已进入怀孕的最后阶段，38周到40周的新生儿都称为足月儿，孕妇随时都可以分娩。现在胎儿重约3000克左右，身长51厘米左右。胎儿之间的差别较大，胖瘦不一，但胎儿体重只要超过2500克就属于正常。只要胎儿发育正常，不必在意他的体重。</string>
		<key>motherChange</key>
		<string>当孕妇进入怀孕37周时，已经进入整个孕期的第九个月了。在这个孕周期妈咪的体重增加了约有11.5-15千克，这时胎儿在母腹中的位置在不断下降，下腹坠胀，不规则宫缩频率增加。虽说此时不是最佳分娩时期，但在预产期前后两周出生，都是正常的。</string>
		<key>warn</key>
		<string>现在是作分娩前准备的时候了，宝宝出生后所有的用品最好在本周准备齐全，随着胎儿的增大，你的活动越来越不方便了，不能长时间行走，所以，你和丈夫应该准备好你住院分娩及分娩后所需要的东西。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>38.jpg</string>
		<key>des</key>
		<string>第38周-胎儿体重约3200克重，身长52厘米左右。胎儿的头在孕妇的骨盆腔内摇摆，周围有骨盆的骨架保护非常很安全。胎儿的身体各部位继续生长，很多胎儿这时头发较长较多，约有1～3厘米长，有的直发，有的卷发，有的胎儿头发黑，有的胎儿头发黄，有些胎儿一点头发都没长。这些差异即有营养因素，也有遗传原因。</string>
		<key>motherChange</key>
		<string>怀孕38周的孕妈妈有什么变化？此时的孕妇和上个月相比，肚子明显大得多了。随着日子越来越近，你可能会越来越紧张和焦急，既盼望宝宝早日降生，同时又对分娩感到恐惧。。</string>
		<key>warn</key>
		<string>到本周，胎儿已经完全发育好了，具备了在母体外独立生存的能力，胎儿随时都会健康出生。宝宝的头现在已经完全入盆，并且在在盆内摇摆。别担心，周围有骨盆的骨架保护，非常安全。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>39.jpg</string>
		<key>des</key>
		<string>第39周-胎儿仍在继续长肉，脂肪的储备将会有助于他出生后的体温调节。胎儿身体各部份器官已发育完成，肺部是最后一个成熟的器官，在他出生后几个小时内才能建立起正常的呼吸模式。胎儿现在安静了许多，不太爱活动了。这是因为胎儿的头部已固定在骨盆中，他更多地将会是向下运动，压迫孕妇的子宫颈，随时要诞生到这个世界上来。</string>
		<key>motherChange</key>
		<string>怀孕39周的孕妈妈，马上就到预产期了，大多数孕妇此时都在计划究竟是顺产好还是剖腹产好？顺产虽然有点疼，但95%的妈妈都有顺产的能力。如果没有特殊情况，最好不要选择剖腹产，因为顺产更能让你体会妈妈的伟大。</string>
		<key>warn</key>
		<string>孕39周了，胎宝宝随时都有可能来跟妈妈见面。你要将准备分娩的东西收拾好，放在您和家里人都能够拿得到的地方，因为在接下来的1-2周里，你随时都会有动产的可能。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>40.jpg</string>
		<key>des</key>
		<string>第40周-大多数的胎儿都将在这一周诞生，只有5%左右的婴儿能准确在预产期生产，提前两周或推迟两周都是正常的。这时胎儿的羊水因身体表面绒毛和胎脂的脱落和其它分泌物的产生，由原来的清澈透明开始变得有些浑浊，呈乳白色。胎盘的功能从此逐渐退化，直到胎儿娩出即完成使命。</string>
		<key>motherChange</key>
		<string>进入怀孕40周的孕妈妈，十月怀胎你已经是“满月”了哦。马上就要分娩的孕妈咪，这个时候的宫高增加到30～34厘米，胎儿位置向下降，孕妈妈随时可能分娩，因此要做好去医院的一切准备了。首先你要准备好生育卡、保健册、医保卡等入院手续必备品，等待分娩征兆的到来。</string>
		<key>warn</key>
		<string>经过了漫长的260多天，现在，你很快就能见到宝宝了，把他抱在怀里，亲亲他的小脸蛋，那时，你就会感到，为了这个小天使，你所有的付出、艰辛都是那么的值得。 </string>
	</dict>
</array>
</plist>
