<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>        1、完美妈妈中的数据内容均来自互联网，所涉及的数据信息仅供参考，请以专业医疗机构提供的信息为准。同时，不得以任何形式利用完美妈妈中的数据直接或间接从事违反法律、法规以及社会公德的行为。</string>
	<string>        2、如果完美妈妈中的数据侵犯了您的权益，请与我们联系，并将侵权内容以及相关资料一并发给我们，我们将会尽快做出相应的处理。</string>
	<string>        3、完美妈妈致力于提供合理、准确、完整的资讯信息，但不保证信息的合理性、准确性和完整性，且不对因信息的不合理、不准确或遗漏导致的任何损失或损害承担责任。本应用所有信息仅供参考，不做交易和服务的根据， 如自行使用本应用资料发生偏差，本应用概不负责，亦不负任何法律责任。</string>
	<string>        4、本应用使用者因为违反本声明的规定而触犯中华人民共和国法律的，一切后果自己负责，本应用不承担任何责任。</string>
</array>
</plist>
