<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>	完美妈妈是一款为准妈妈提供孕期全程指导的智能应用，致力于提供科学孕育服务，旨在帮助准妈妈能够轻松愉快的度过整个孕期。由于部分内容源于互联网，仅供参考，请以专业的医疗机构提供的信息为准。完美妈妈希望每个宝宝都能健康出生，快快乐乐长大！</string>
</array>
</plist>
